<section class="bg-main-25 explore-course position-relative z-1 pb-80 w-100 h-100">
    <div class="container container--lg">
        <div class="d-flex gap-24 mt--120 z-2 position-relative">
            <div class="student-overlay-sidebar"></div>

            <!-- ========Dashdord Sidebar start======== -->
            <div
                class="student-dashboard-sidebar px-20 py-24 max-w-288-px bg-white rounded-10 w-100 h-100 position-relative">
                <div class="text-center">
                    <img src="assets/images/thumbs/instructor-dashboard-img1.png" alt="" class="mb-20">
                    <h5 class="mb-4 text-neutral-500">Cameron Williamson</h5>
                    <span class="text-neutral-500 text-14 fw-normal mb-12">info&#64;example.com</span>
                    <ul class="d-flex align-items-center gap-4 justify-content-center text-center mb-4">
                        <li class="text-16 text-warning-500"><i class="ph-fill ph-star"></i></li>
                        <li class="text-16 text-warning-500"><i class="ph-fill ph-star"></i></li>
                        <li class="text-16 text-warning-500"><i class="ph-fill ph-star"></i></li>
                        <li class="text-16 text-warning-500"><i class="ph-fill ph-star"></i></li>
                        <li class="text-16 text-warning-500"><i class="ph-fill ph-star-half"></i></li>
                    </ul>
                    <span class="text-14 fw-normal text-neutral-300">4.8/5 (1.5K Reviews)</span>
                </div>
                <span class="w-100 bg-main-100 mb-24 mt-24 h-1"></span>
                <div class="overflow-x-auto">
                    <div class="student-dashbord-scrollbar min-w-max pb-80">
                        <span class="text-neutral-500 fw-normal text-14 mb-8">Welcome Williamson,</span>
                        <ul>
                            <li class="mb-8">
                                <a [routerLink]="['/instructor-dashboard']"
                                    class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                    <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                            class="ph-bold ph-house"></i></span>
                                    Dashboard</a>
                            </li>
                            <li class="mb-8">
                                <a [routerLink]="['/instructor-dashboard-my-profile']"
                                    class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                    <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                            class="ph ph-user-circle"></i></span>
                                    My Profile</a>
                            </li>
                            <li class="mb-8">
                                <a [routerLink]="['/instructor-dashboard-message']"
                                    class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                    <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                            class="ph ph-chat-dots"></i></span>
                                    Message</a>
                            </li>
                            <li class="mb-8">
                                <a [routerLink]="['/instructor-dashboard-enrolled-courses']"
                                    class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                    <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                            class="ph ph-watch"></i></span>
                                    Enrolled Courses</a>
                            </li>
                            <li class="mb-8">
                                <a [routerLink]="['/instructor-dashboard-wishlist']"
                                    class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                    <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                            class="ph ph-bookmark-simple"></i></span>
                                    Wishlist</a>
                            </li>
                            <li class="mb-8">
                                <a [routerLink]="['/instructor-dashboard-reviews']"
                                    class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                    <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                            class="ph ph-sparkle"></i></span>
                                    Reviews</a>
                            </li>
                            <li class="mb-8">
                                <a [routerLink]="['/instructor-dashboard-my-quiz-attempts']"
                                    class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                    <span class="text-16 text-main-600 item-hover__text transition-03">
                                        <i class="ph ph-seal-question"></i>
                                    </span>
                                    My Quiz Attempts</a>
                            </li>
                            <li class="mb-8">
                                <a [routerLink]="['/instructor-dashboard-order-history']"
                                    class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                    <span class="text-16 text-main-600 item-hover__text transition-03">
                                        <i class="ph ph-shopping-cart"></i>
                                    </span>
                                    Order History</a>
                            </li>

                            <li class="text-neutral-500 fw-normal text-14 mb-8 mt-8">Instructor</li>

                            <li class="mb-8">
                                <a [routerLink]="['/instructor-dashboard-my-courses']"
                                    class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                    <span class="text-16 text-main-600 item-hover__text transition-03">
                                        <i class="ph ph-graduation-cap"></i>
                                    </span>
                                    My Courses</a>
                            </li>
                            <li class="mb-8">
                                <a [routerLink]="['/instructor-dashboard-announcements']"
                                    class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                    <span
                                        class="text-16 text-main-600 item-hover__text transition-03 transform-scale-x--1px">
                                        <i class="ph ph-megaphone"></i>
                                    </span>
                                    Announcements</a>
                            </li>
                            <li class="mb-8">
                                <a [routerLink]="['/instructor-dashboard-assignment']"
                                    class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                    <span
                                        class="text-16 text-main-600 item-hover__text transition-03 transform-scale-x--1px">
                                        <i class="ph ph-file-text"></i>
                                    </span>
                                    Assignments</a>
                            </li>
                            <li class="mb-8">
                                <a [routerLink]="['/instructor-dashboard-quiz-attempts']"
                                    class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                    <span
                                        class="text-16 text-main-600 item-hover__text transition-03 transform-scale-x--1px">
                                        <i class="ph ph-seal-question"></i>
                                    </span>
                                    Quiz Attempts</a>
                            </li>
                            <li class="mb-8">
                                <a [routerLink]="['/instructor-dashboard-account-settings']"
                                    class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                    <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                            class="ph ph-gear"></i></span>
                                    Account Settings</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="position-absolute inset-block-end-0 inset-inline-start-0 pb-16 px-16 w-100">
                    <a [routerLink]="['/sign-in']"
                        class=" text-14 fw-medium text-neutral-500 d-flex align-items-center gap-8  hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap bg-white">
                        <span class="text-16 text-main-600 item-hover__text transition-03">
                            <i class="ph ph-sign-out"></i>
                        </span>
                        Logout
                    </a>
                </div>
            </div>
            <!-- ========Dashdord Sidebar end======== -->

            <!-- =========message profile start=========== -->
            <div class="w-100">
                <div>
                    <div class="d-flex align-items-center gap-8 justify-content-between flex-wrap">
                        <div class="d-flex align-items-center gap-16 flex-wrap">
                            <h6 class="text-white">Enrolled Courses</h6>
                            <button type="button"
                                class="toggle-student-dashbord-button text-white text-24 d-xl-none d-block">
                                <i class="ph-bold ph-list"></i>
                            </button>
                        </div>
                        <div class="nav-tab-wrapper p-16 d-inline-block" data-aos="zoom-out">
                            <ul class="nav nav-pills common-tab gap-8" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button
                                        class="nav-link rounded-pill bg-main-25 text-md fw-medium text-neutral-500 flex-center w-100 py-8 active"
                                        id="pills-categories-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-categories" type="button" role="tab"
                                        aria-controls="pills-categories" aria-selected="true">
                                        Publish
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button
                                        class="nav-link rounded-pill bg-main-25 text-md fw-medium text-neutral-500 flex-center w-100"
                                        id="pills-design-tab" data-bs-toggle="pill" data-bs-target="#pills-design"
                                        type="button" role="tab" aria-controls="pills-design" aria-selected="false">
                                        Pending
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button
                                        class="nav-link rounded-pill bg-main-25 text-md fw-medium text-neutral-500 flex-center w-100"
                                        id="pills-programming-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-programming" type="button" role="tab"
                                        aria-controls="pills-programming" aria-selected="false">
                                        Draft
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-categories" role="tabpanel"
                            aria-labelledby="pills-categories-tab" tabindex="0">
                            <!-- progress Courses start  -->
                            <div class="row gy-4">

                                <div class="col-xl-4 col-md-6 col-sm-6 wow fadeInUp"
                                    *ngFor="let course of dashboardCourses" [attr.data-aos]="'fade-up'"
                                    [attr.data-aos-duration]="course.aosDuration">
                                    <div class="course-item bg-white rounded-16 p-12 box-shadow-md">
                                        <div class="course-item__thumb rounded-12 overflow-hidden">
                                            <a [routerLink]="['/course-details']" class="w-100 h-100">
                                                <img [src]="course.image" alt="Course Image"
                                                    class="course-item__img rounded-12 cover-img transition-2" />
                                            </a>
                                        </div>
                                        <div class="course-item__content">
                                            <div class="">
                                                <span
                                                    class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">
                                                    {{ course.category }}
                                                </span>
                                                <div class="flex-between gap-8 flex-wrap mb-16">
                                                    <div class="flex-align gap-8 flex-wrap">
                                                        <span class="text-neutral-700 text-2xl d-flex">
                                                            <i class="ph-bold ph-video-camera"></i>
                                                        </span>
                                                        <span class="text-neutral-700 text-16 fw-medium">
                                                            {{ course.lessons }}
                                                        </span>
                                                    </div>
                                                    <div class="flex-align gap-8 flex-wrap">
                                                        <span class="text-neutral-700 text-2xl d-flex">
                                                            <i class="ph ph-user-circle"></i>
                                                        </span>
                                                        <span class="text-neutral-700 text-16 fw-medium">
                                                            {{ course.students }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <h4 class="mb-24">
                                                    <a [routerLink]="['/course-details']"
                                                        class="link text-line-2 fw-semibold">
                                                        {{ course.title }}
                                                    </a>
                                                </h4>
                                            </div>

                                            <div
                                                class="flex-between gap-8 mt-28 flex-wrap border-neutral-30 border-top pt-24">
                                                <div>
                                                    <ul class="d-flex align-items-center gap-6 mb-8">
                                                        <li class="text-16 text-warning-400"
                                                            *ngFor="let star of [1,2,3,4]; let i = index">
                                                            <i class="ph-fill ph-star"></i>
                                                        </li>
                                                        <li class="text-16 text-warning-400">
                                                            <i class="ph-fill ph-star-half"></i>
                                                        </li>
                                                    </ul>
                                                    <span class="fw-normal text-14 text-neutral-300">
                                                        {{ course.ratingText }}
                                                    </span>
                                                </div>
                                                <div class="d-flex align-items-center gap-8">
                                                    <img [src]="course.instructor.image" alt="" class="w-28 h-28" />
                                                    <span class="fw-normal text-14 text-neutral-400">
                                                        {{ course.instructor.name }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- progress Courses end  -->

                            <div class="d-flex align-items-center text-center gap-12 justify-content-center mt-32">
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-caret-left"></i>
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    1
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    2
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    3
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-dots-three"></i>
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-caret-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-design" role="tabpanel" aria-labelledby="pills-design-tab"
                            tabindex="0">
                            <!-- progress Courses start  -->
                            <div class="row gy-4">

                               <div class="col-xl-4 col-md-6 col-sm-6 wow fadeInUp"
                                    *ngFor="let course of dashboardCourses" [attr.data-aos]="'fade-up'"
                                    [attr.data-aos-duration]="course.aosDuration">
                                    <div class="course-item bg-white rounded-16 p-12 box-shadow-md">
                                        <div class="course-item__thumb rounded-12 overflow-hidden">
                                            <a [routerLink]="['/course-details']" class="w-100 h-100">
                                                <img [src]="course.image" alt="Course Image"
                                                    class="course-item__img rounded-12 cover-img transition-2" />
                                            </a>
                                        </div>
                                        <div class="course-item__content">
                                            <div class="">
                                                <span
                                                    class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">
                                                    {{ course.category }}
                                                </span>
                                                <div class="flex-between gap-8 flex-wrap mb-16">
                                                    <div class="flex-align gap-8 flex-wrap">
                                                        <span class="text-neutral-700 text-2xl d-flex">
                                                            <i class="ph-bold ph-video-camera"></i>
                                                        </span>
                                                        <span class="text-neutral-700 text-16 fw-medium">
                                                            {{ course.lessons }}
                                                        </span>
                                                    </div>
                                                    <div class="flex-align gap-8 flex-wrap">
                                                        <span class="text-neutral-700 text-2xl d-flex">
                                                            <i class="ph ph-user-circle"></i>
                                                        </span>
                                                        <span class="text-neutral-700 text-16 fw-medium">
                                                            {{ course.students }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <h4 class="mb-24">
                                                    <a [routerLink]="['/course-details']"
                                                        class="link text-line-2 fw-semibold">
                                                        {{ course.title }}
                                                    </a>
                                                </h4>
                                            </div>

                                            <div
                                                class="flex-between gap-8 mt-28 flex-wrap border-neutral-30 border-top pt-24">
                                                <div>
                                                    <ul class="d-flex align-items-center gap-6 mb-8">
                                                        <li class="text-16 text-warning-400"
                                                            *ngFor="let star of [1,2,3,4]; let i = index">
                                                            <i class="ph-fill ph-star"></i>
                                                        </li>
                                                        <li class="text-16 text-warning-400">
                                                            <i class="ph-fill ph-star-half"></i>
                                                        </li>
                                                    </ul>
                                                    <span class="fw-normal text-14 text-neutral-300">
                                                        {{ course.ratingText }}
                                                    </span>
                                                </div>
                                                <div class="d-flex align-items-center gap-8">
                                                    <img [src]="course.instructor.image" alt="" class="w-28 h-28" />
                                                    <span class="fw-normal text-14 text-neutral-400">
                                                        {{ course.instructor.name }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- progress Courses end  -->

                            <div class="d-flex align-items-center text-center gap-12 justify-content-center mt-32">
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-caret-left"></i>
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    1
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    2
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    3
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-dots-three"></i>
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-caret-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-programming" role="tabpanel"
                            aria-labelledby="pills-programming-tab" tabindex="0">
                            <!-- progress Courses start  -->
                            <div class="row gy-4">

                                <div class="col-xl-4 col-md-6 col-sm-6 wow fadeInUp"
                                    *ngFor="let course of dashboardCourses" [attr.data-aos]="'fade-up'"
                                    [attr.data-aos-duration]="course.aosDuration">
                                    <div class="course-item bg-white rounded-16 p-12 box-shadow-md">
                                        <div class="course-item__thumb rounded-12 overflow-hidden">
                                            <a [routerLink]="['/course-details']" class="w-100 h-100">
                                                <img [src]="course.image" alt="Course Image"
                                                    class="course-item__img rounded-12 cover-img transition-2" />
                                            </a>
                                        </div>
                                        <div class="course-item__content">
                                            <div class="">
                                                <span
                                                    class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">
                                                    {{ course.category }}
                                                </span>
                                                <div class="flex-between gap-8 flex-wrap mb-16">
                                                    <div class="flex-align gap-8 flex-wrap">
                                                        <span class="text-neutral-700 text-2xl d-flex">
                                                            <i class="ph-bold ph-video-camera"></i>
                                                        </span>
                                                        <span class="text-neutral-700 text-16 fw-medium">
                                                            {{ course.lessons }}
                                                        </span>
                                                    </div>
                                                    <div class="flex-align gap-8 flex-wrap">
                                                        <span class="text-neutral-700 text-2xl d-flex">
                                                            <i class="ph ph-user-circle"></i>
                                                        </span>
                                                        <span class="text-neutral-700 text-16 fw-medium">
                                                            {{ course.students }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <h4 class="mb-24">
                                                    <a [routerLink]="['/course-details']"
                                                        class="link text-line-2 fw-semibold">
                                                        {{ course.title }}
                                                    </a>
                                                </h4>
                                            </div>

                                            <div
                                                class="flex-between gap-8 mt-28 flex-wrap border-neutral-30 border-top pt-24">
                                                <div>
                                                    <ul class="d-flex align-items-center gap-6 mb-8">
                                                        <li class="text-16 text-warning-400"
                                                            *ngFor="let star of [1,2,3,4]; let i = index">
                                                            <i class="ph-fill ph-star"></i>
                                                        </li>
                                                        <li class="text-16 text-warning-400">
                                                            <i class="ph-fill ph-star-half"></i>
                                                        </li>
                                                    </ul>
                                                    <span class="fw-normal text-14 text-neutral-300">
                                                        {{ course.ratingText }}
                                                    </span>
                                                </div>
                                                <div class="d-flex align-items-center gap-8">
                                                    <img [src]="course.instructor.image" alt="" class="w-28 h-28" />
                                                    <span class="fw-normal text-14 text-neutral-400">
                                                        {{ course.instructor.name }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- progress Courses end  -->

                            <div class="d-flex align-items-center text-center gap-12 justify-content-center mt-32">
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-caret-left"></i>
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    1
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    2
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    3
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-dots-three"></i>
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-caret-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============message profile end========== -->
        </div>
    </div>
</section>