       <!-- =========message profile footer start============== -->
<div class="bg-neutral-20 border-neutral-40 border-top px-24 py-16 mt-auto">
    <div class="d-flex align-items-center gap-24 justify-content-between flex-wrap">
        <p class="fw-medium text-14 text-neutral-500">
            Copyright ©2025 
            <a [routerLink]="['admin-dashbord.html']" class="text-main-600 fw-medium">EduAll</a>.
            All Rights Reserved
        </p>
        <div class="d-flex align-items-center gap-24">
            <a href="#" class="fw-medium text-14 text-neutral-500 hover-text-main-600">Privacy policy</a>
            <a href="#" class="fw-medium text-14 text-neutral-500 hover-text-main-600">Privacy policy</a>
        </div>
    </div>
</div>
<!-- =========message profile footer end============== -->