<section class="bg-main-25 explore-course position-relative z-1 pb-80 w-100 h-100">
    <div class="container container--lg">
        <div class="d-flex gap-24 mt--120 z-2 position-relative">
            <div class="student-overlay-sidebar"></div>

            <!-- ========Dashdord Sidebar start======== -->
           <app-instructor-sidebar class="student-dashboard-sidebar px-20 py-24 max-w-288-px bg-white rounded-10 w-100 h-100 position-relative"></app-instructor-sidebar>
            <!-- ========Dashdord Sidebar end======== -->

            <!-- =========message profile start=========== -->
            <div class="w-100">
                <!-- ========student tabs wishlist start=========== -->
                <div>
                    <div class="d-flex align-items-center gap-16 justify-content-between">
                        <h5 class="mb-16 text-white">Wishlist</h5>
                        <button type="button"
                            class="toggle-student-dashbord-button text-white text-32 d-xl-none d-block">
                            <i class="ph-bold ph-list"></i>
                        </button>
                    </div>
                    <div class="row gy-4">

                        <div class="col-xl-4 col-md-6 wow fadeInUp" *ngFor="let course of courseList" data-aos="fade-up"
                            [attr.data-aos-duration]="course.aosDuration">
                            <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                                <div class="course-item__thumb rounded-12 overflow-hidden position-relative">
                                    <a [routerLink]="['/course-details']" class="w-100 h-100">
                                        <img [src]="course.image" alt="Course Image"
                                            class="course-item__img rounded-12 cover-img transition-2" />
                                    </a>
                                    <div
                                        class="flex-align gap-8 bg-main-600 rounded-pill px-24 py-12 text-white position-absolute inset-block-start-0 inset-inline-start-0 mt-20 ms-20 z-1">
                                        <span class="text-2xl d-flex"><i class="ph ph-clock"></i></span>
                                        <span class="text-lg fw-medium">{{ course.duration }}</span>
                                    </div>
                                    <button type="button"
                                        class="wishlist-btn w-48 h-48 bg-white text-main-two-600 flex-center position-absolute inset-block-start-0 inset-inline-end-0 mt-20 me-20 z-1 text-2xl rounded-circle transition-2">
                                        <i class="ph-fill ph-heart-straight"></i>
                                    </button>
                                </div>

                                <div class="course-item__content">
                                    <div>
                                        <h4 class="mb-28">
                                            <a [routerLink]="['/course-details']" class="link text-line-2">{{
                                                course.title
                                                }}</a>
                                        </h4>

                                        <div class="flex-between gap-8 flex-wrap mb-16">
                                            <div class="flex-align gap-8">
                                                <span class="text-neutral-700 text-2xl d-flex"><i
                                                        class="ph-bold ph-video-camera"></i></span>
                                                <span class="text-neutral-700 text-lg fw-medium">{{ course.lessons }}
                                                    Lessons</span>
                                            </div>
                                            <div class="flex-align gap-8">
                                                <span class="text-neutral-700 text-2xl d-flex"><i
                                                        class="ph-bold ph-chart-bar"></i></span>
                                                <span class="text-neutral-700 text-lg fw-medium">{{
                                                    course.level
                                                    }}</span>
                                            </div>
                                        </div>

                                        <div class="flex-between gap-8 flex-wrap">
                                            <div class="flex-align gap-4">
                                                <span class="text-2xl fw-medium text-warning-600 d-flex"><i
                                                        class="ph-fill ph-star"></i></span>
                                                <span class="text-lg text-neutral-700">
                                                    {{ course.rating }}
                                                    <span class="text-neutral-100">({{ course.reviews }})</span>
                                                </span>
                                            </div>

                                            <div class="flex-align gap-8">
                                                <span class="text-neutral-700 text-2xl d-flex">
                                                    <img [src]="course.instructorImg" alt="User Image"
                                                        class="w-32 h-32 object-fit-cover rounded-circle" />
                                                </span>
                                                <span class="text-neutral-700 text-lg fw-medium">{{
                                                    course.instructor
                                                    }}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                                        <h4 class="mb-0 text-main-two-600">${{ course.price }}</h4>
                                        <a [routerLink]="['/apply-admission']"
                                            class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold"
                                            tabindex="0">
                                            Enroll Now
                                            <i class="ph ph-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="d-flex align-items-center gap-12 text-center justify-content-center mt-32">
                    <button
                        class="text-24 w-40 h-40 border-neutral-40 border rounded-circle hover-bg-main-600 transition-03 hover-text-white d-flex align-items-center justify-content-center">
                        <i class="ph-bold ph-caret-left"></i>
                    </button>
                    <button
                        class="text-24 w-40 h-40 border-neutral-40 border rounded-circle hover-bg-main-600 transition-03 hover-text-white d-flex align-items-center justify-content-center">
                        1
                    </button>
                    <button
                        class="text-24 w-40 h-40 border-neutral-40 border rounded-circle hover-bg-main-600 transition-03 hover-text-white d-flex align-items-center justify-content-center">
                        2
                    </button>
                    <button
                        class="text-24 w-40 h-40 border-neutral-40 border rounded-circle hover-bg-main-600 transition-03 hover-text-white d-flex align-items-center justify-content-center">
                        3
                    </button>
                    <button
                        class="text-24 w-40 h-40 border-neutral-40 border rounded-circle hover-bg-main-600 transition-03 hover-text-white d-flex align-items-center justify-content-center">
                        <i class="ph-bold ph-dots-three"></i>
                    </button>
                    <button
                        class="text-24 w-40 h-40 border-neutral-40 border rounded-circle hover-bg-main-600 transition-03 hover-text-white d-flex align-items-center justify-content-center">
                        <i class="ph-bold ph-caret-right"></i>
                    </button>
                </div>
                <!-- ===========student tabs wishlist end========== -->
            </div>
            <!-- ============message profile end========== -->
        </div>
    </div>
</section>