<div class="dashbord bg-main-25">
    <div class="d-flex">

        <!-- ========Dashdord Sidebar start======== -->
        <div
            class="dashboard-sidebar px-20 py-24 max-w-288-px bg-white w-100 border-end border-neutral-40 position-relative">
            <a href="#">
                <img src="assets/images/logo/logo.png" alt="" class="">
            </a>
            <span class="w-100 bg-neutral-40 mb-24 mt-24 h-1"></span>
            <div class="overflow-x-auto">
                <div class="scrollbar min-w-max">
                    <span class="text-neutral-500 fw-normal text-14 mb-8">Welcome Henry,</span>
                    <ul>
                        <li class="mb-8">
                            <a [routerLink]="['/admin-dashbord']"
                                class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                        class="ph-bold ph-house"></i></span>
                                Dashboard</a>
                        </li>
                        <li class="mb-8">
                            <a [routerLink]="['/my-profile']"
                                class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                        class="ph ph-user-circle"></i></span>
                                My Profile</a>
                        </li>
                        <li class="mb-8">
                            <a [routerLink]="['/dashbord-message']"
                                class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                        class="ph ph-chat-dots"></i></span>
                                Message</a>
                        </li>
                        <li class="mb-8">
                            <a [routerLink]="['/dashbord-courses']"
                                class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                        class="ph ph-watch"></i></span>
                                Courses</a>
                        </li>
                        <li class="mb-8">
                            <a [routerLink]="['/dashbord-wishlist']"
                                class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                        class="ph ph-bookmark-simple"></i></span>
                                Wishlist</a>
                        </li>
                        <li class="mb-8">
                            <a [routerLink]="['/deshbord-reviews']"
                                class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                        class="ph ph-sparkle"></i></span>
                                Reviews</a>
                        </li>
                        <li class="mb-8">
                            <a [routerLink]="['/dashbord-quiz-attempts']"
                                class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                        class="ph ph-seal-question"></i></span>
                                Quiz Attempts</a>
                        </li>
                        <li class="mb-8">
                            <span class="fw-normal text-14 text-neutral-500">Admin</span>
                        </li>
                        <li class="mb-8">
                            <a [routerLink]="['/dashbord-settings']"
                                class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                                <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                        class="ph ph-gear"></i></span>
                                Settings</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="position-absolute inset-block-end-0 inset-inline-start-0 pb-16 px-16 w-100">
                <a [routerLink]="['/sign-in']"
                    class=" text-14 fw-medium text-neutral-500 d-flex align-items-center gap-8  hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap bg-white">
                    <span class="text-16 text-main-600 item-hover__text transition-03">
                        <i class="ph ph-sign-out"></i>
                    </span>
                    Logout
                </a>
            </div>
        </div>
        <!-- ========Dashdord Sidebar end======== -->

        <div class="dashbord-body my-profile flex-grow-1">
            <!-- =====messsage dashbord nab start======== -->
            <div class="px-24 py-16 bg-neutral-10 border-bottom border-neutral-40 w-100">
                <div class="d-flex align-items-center justify-content-between gap-24 w-100">
                    <div class="d-flex align-items-center gap-24">
                        <button type="button"
                            class="toggle-dashbord-button text-neutral-500 text-28 line-height-1 d-lg-none d-block">
                            <i class="ph-bold ph-list"></i>
                        </button>
                        <div class="max-w-357-px position-relative d-sm-block d-none">
                            <form action="#">
                                <input type="text" placeholder="Search"
                                    class="ps-16 pe-36 py-9 border border-neutral-40 rounded-pill focus-visible-outline focus-border-main-600 text-14 line-height-1">
                                <button type="button"
                                    class="w-28 h-28 bg-main-600 text-white text-16 rounded-circle justify-content-center align-items-center d-flex position-absolute top-50-percent translate-middle-y inset-inline-end-0-px me-4">
                                    <i class="ph-bold ph-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="d-flex align-items-center gap-16">
                        <a href="#"
                            class="px-20 py-10 border-main-600 border rounded-pill text-14 text-main-600 hover-bg-main-600 hover-text-white hover-border-600 d-lg-block d-none line-height-1">Create
                            a New Course</a>
                        <div
                            class="w-36 h-36 border-neutral-50 border rounded-pill justify-content-center align-items-center d-flex text-20 text-neutral-500 hover-bg-main-600  transition-03">
                            <button type="button" class="hover-text-white transition-03">
                                <i class="ph ph-translate"></i>
                            </button>
                        </div>
                        <div class="position-relative">
                            <div
                                class="w-36 h-36 border-neutral-50 border rounded-pill justify-content-center align-items-center d-flex text-20 text-neutral-500 position-relative">
                                <div>
                                    <button
                                        class="dropdown-toggle w-36 h-36 border-neutral-50 border rounded-pill hover-bg-main-600 hover-text-white transition-03"
                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="ph ph-bell-simple"></i>
                                    </button>
                                    <ul class="dropdown-menu rounded-12">

                                        <li>
                                            <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12"
                                                href="javascript:void(0)">
                                                <div class="d-flex w-100 justify-content-between gap-12">
                                                    <div class="d-flex align-items-center gap-12 ">
                                                        <span class="w-36 h-36">
                                                            <img src="assets/images/thumbs/reviewer-img1.png" alt="">
                                                        </span>
                                                        <div>
                                                            <span class="text-md fw-semibold text-line-1">Ronald
                                                                Richards</span>
                                                            <p class="text-sm text-line-1 text-neutral-300">You can
                                                                stitch between artboards</p>
                                                        </div>
                                                    </div>
                                                    <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12"
                                                href="javascript:void(0)">
                                                <div class="d-flex w-100 justify-content-between gap-12">
                                                    <div class="d-flex align-items-center gap-12 ">
                                                        <span class="w-36 h-36"><img
                                                                src="assets/images/thumbs/reviewer-img4.png"
                                                                alt=""></span>
                                                        <div>
                                                            <span class="text-md fw-semibold text-line-1">Arlene
                                                                McCoy</span>
                                                            <p class="text-sm text-line-1 text-neutral-300">Invite you
                                                                to prototyping</p>
                                                        </div>
                                                    </div>
                                                    <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12"
                                                href="javascript:void(0)">
                                                <div class="d-flex w-100 justify-content-between gap-12">
                                                    <div class="d-flex align-items-center gap-12 ">
                                                        <span class="w-36 h-36"><img
                                                                src="assets/images/thumbs/instructor-details-thumb.png"
                                                                alt=""></span>
                                                        <div>
                                                            <span class="text-md fw-semibold text-line-1">Annette
                                                                Black</span>
                                                            <p class="text-sm text-line-1 text-neutral-300">Invite you
                                                                to prototyping</p>
                                                        </div>
                                                    </div>
                                                    <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="position-absolute inset-inline-start-22px top--20-percent">
                                    <span
                                        class="bg-main-600 text-white w-16 h-16 rounded-circle text-9 d-flex justify-content-center align-items-center">2</span>
                                </div>
                            </div>
                        </div>

                        <div
                            class="w-36 h-36 border-neutral-50 border rounded-pill justify-content-center align-items-center d-flex text-20 text-neutral-500 hover-bg-main-600 transition-03">
                            <button type="button" class=" hover-text-white transition-03">
                                <i class="ph ph-chat-dots"></i>
                            </button>
                        </div>

                        <div class="dropdown">
                            <button class="dropdown-toggle w-36 h-36 border-neutral-50 border rounded-pill"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="assets/images/thumbs/testimonials-three-img1.png" alt="">
                            </button>
                            <ul class="dropdown-menu rounded-12">
                                <li>
                                    <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03"
                                        href="my-profile.html">
                                        <span><i class="ph ph-user-circle"></i></span>
                                        <span>My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03"
                                        href="dashbord-settings.html">
                                        <span><i class="ph ph-gear"></i></span>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03"
                                        href="sign-in.html">
                                        <span><i class="ph ph-power"></i></span>
                                        <span>Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- =====message nab end======== -->

            <!-- ============Feedbacks start============ -->
            <div class="px-24 py-24">

                <div class="px-24 py-24 bg-white rounded-10">
                    <div class="mb-24">
                        <h6 class="fw-medium text-16 text-neutral-500 mb-24">My Quiz Attempts</h6>
                        <div class="row gy-4">

                            <div class="col-lg-4 col-md-2">
                                <div class="">
                                    <span class="fw-normal text-14 text-neutral-500 mb-12">Courses</span>
                                    <select
                                        class="form-select pe-24 border-neutral-40 border rounded-pill bg-main-25 px-20 py-10 w-100 text-12 fw-normal  text-neutral-700 line-height-105">
                                        <option value="1">All</option>
                                        <option value="2">Everyone</option>
                                        <option value="3">One</option>
                                        <option value="4">Two</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-2">
                                <div class="">
                                    <span class="fw-normal text-14 text-neutral-500 mb-12">Sort By :</span>
                                    <select
                                        class="form-select pe-24 border-neutral-40 border rounded-pill bg-main-25 px-20 py-10 w-100 text-12 fw-normal  text-neutral-700 line-height-105">
                                        <option value="1">Default</option>
                                        <option value="2">date</option>
                                        <option value="3">Category</option>
                                        <option value="4">Rating</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-2">
                                <div class="">
                                    <span class="fw-normal text-14 text-neutral-500 mb-12">Sort By Offer :</span>
                                    <select
                                        class="form-select pe-24 border-neutral-40 border rounded-pill bg-main-25 px-20 py-10 w-100 text-12 fw-normal  text-neutral-700 line-height-105">
                                        <option value="1">Free</option>
                                        <option value="2">Basic</option>
                                        <option value="3">Standard</option>
                                        <option value="4">Premium</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="mb-24">

                        <div class="overflow-y-auto">
                            <table id="example-five" class="display min-w-max w-100">
                                <thead>
                                    <tr class="bg-main-25 border-bottom border-neutral-30">
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Quiz</th>
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Date</th>
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Qus</th>
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">TM</th>
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">CA</th>
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Result</th>
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of quizResults"
                                        class="hover-bg-neutral-20 border-bottom transition-03">
                                        <td class="py-28 px-20 shadow-none line-height-105">
                                            <h4 class="fw-medium text-14 text-neutral-500 mb-1">{{ item.title }}</h4>
                                            <span class="fw-normal text-12 text-neutral-500">{{ item.author }}</span>
                                        </td>
                                        <td class="text-14 fw-normal py-28 px-20 shadow-none line-height-105">{{
                                            item.date }}</td>
                                        <td class="py-28 px-20 shadow-none line-height-105">{{ item.questions }}</td>
                                        <td class="py-28 px-20 shadow-none line-height-105">{{ item.correct }}</td>
                                        <td class="py-28 px-20 shadow-none line-height-105">{{ item.wrong }}</td>
                                        <td class="py-28 px-20 shadow-none line-height-105">
                                            <span [ngClass]="{
          'bg-success-50 text-success-600': item.status === 'Pass',
          'bg-warning-30 text-warning-600': item.status === 'Fail'
        }" class="px-20 py-8 border-neutral-30 border rounded-pill">
                                                {{ item.status }}
                                            </span>
                                        </td>
                                        <td class="py-28 px-20 shadow-none line-height-105">
                                            <div class="d-flex align-items-center gap-12  justify-content-end">
                                                <button type="button" class="text-24 text-neutral-500"><i
                                                        class="ph-bold ph-pencil-simple-line"></i></button>
                                                <button type="button" class="text-24 text-neutral-500"><i
                                                        class="ph-bold ph-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>

                    <div class="d-flex align-items-center gap-24 justify-content-between flex-wrap">
                        <div class="form-check form-switch">
                            <input class="form-check-input focus-box-shadow" type="checkbox" role="switch"
                                id="flexSwitchCheckDefault">
                            <label class="form-check-label text-14 fw-normal text-neutral-500"
                                for="flexSwitchCheckDefault">Dense</label>
                        </div>
                        <div class="d-flex align-items-center gap-40 flex-wrap">

                            <div class="d-flex align-items-center gap-16">
                                <span class="fw-normal text-14 text-neutral-500">Rows per page:</span>
                                <select
                                    class="form-select w-auto pe-32 text-14 fw-normal text-neutral-500 bg-transparent border-0">
                                    <option value="1">12</option>
                                    <option value="1">13</option>
                                    <option value="1">11</option>
                                    <option value="1">15</option>
                                </select>
                            </div>

                            <div class="d-flex align-items-center gap-16">
                                <span class="fw-normal text-14 text-neutral-500">1-12 of 100</span>
                                <div class="d-flex align-items-center gpa-8">
                                    <span class="text-20 text-neutral-500">
                                        <i class="ph-bold ph-caret-left"></i>
                                    </span>
                                    <span class="text-20 text-neutral-500">
                                        <i class="ph-bold ph-caret-right"></i>
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <!-- ============Feedbacks end============ -->

            <!-- =========message profile footer start============== -->
            <div class="bg-neutral-20 border-neutral-40 border-top px-24 py-16 mt-auto">
                <div class="d-flex align-items-center gap-24 justify-content-between flex-wrap">
                    <p class="fw-medium text-14 text-neutral-500">
                        Copyright ©2025
                        <a [routerLink]="['/admin-dashbord']" class="text-main-600 fw-medium">EduAll</a>.
                        All Rights Reserved
                    </p>
                    <div class="d-flex align-items-center gap-24">
                        <a href="#" class="fw-medium text-14 text-neutral-500 hover-text-main-600">Privacy policy</a>
                        <a href="#" class="fw-medium text-14 text-neutral-500 hover-text-main-600">Privacy policy</a>
                    </div>
                </div>
            </div>
            <!-- =========message profile footer end============== -->
        </div>
        <!-- ==========message dashbord end============ -->
    </div>
</div>