<!-- ==================== Breadcrumb Start Here ==================== -->
<app-breadcrumb [title]="'Cart'"></app-breadcrumb>

<!-- ==================== Breadcrumb End Here ==================== -->

<!-- =============================== Cart Section Start ================================== -->
<div class="py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="border border-neutral-30 rounded-12 bg-main-25 p-32 bg-main-25">
                    <h4 class="mb-0">Cart <span class="text-neutral-100 fw-normal">(4 item)</span> </h4>
                    <span class="d-block border border-neutral-30 my-24 border-dashed"></span>

                    <div class="table-responsive overflow-x-auto">
                        <table class="table min-w-max vertical-middle mb-0">
                            <thead>
                                <tr>
                                    <th class="text-neutral-500 fw-semibold px-24 py-20 border-0">Product</th>
                                    <th class="text-neutral-500 fw-semibold px-24 py-20 border-0">Price</th>
                                    <th class="text-neutral-500 fw-semibold px-24 py-20 border-0">Quantity</th>
                                    <th class="text-neutral-500 fw-semibold px-24 py-20 border-0">Total Price</th>
                                    <th class="text-neutral-500 fw-semibold px-24 py-20 border-0"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of cartItems">
                                    <td
                                        class="border-bottom border-dashed border-neutral-40 text-neutral-500 bg-transparent px-24 py-20">
                                        <div class="d-flex align-items-center gap-24">
                                            <div
                                                class="w-60 h-60 border border-neutral-40 rounded-8 d-flex justify-content-center align-items-center bg-white">
                                                <img [src]="item.image" alt="">
                                            </div>
                                            <div>
                                                <h6 class="text-md mb-12 text-line-1">{{ item.name }}</h6>
                                                <div class="d-flex align-items-center gap-16">
                                                    <div class="d-flex align-items-center gap-4">
                                                        <span class="text-xs text-neutral-500">Size:</span>
                                                        <span
                                                            class="w-20 h-20 border border-neutral-40 bg-white rounded-4 d-flex justify-content-center align-items-center text-sm text-neutral-500">{{
                                                            item.size }}</span>
                                                    </div>
                                                    <span class="h-20 border border-neutral-40 border-dashed"></span>
                                                    <div class="d-flex align-items-center gap-4">
                                                        <span class="text-xs text-neutral-500">Color:</span>
                                                        <span
                                                            class="w-20 h-20 border border-neutral-40 bg-white rounded-4 d-flex justify-content-center align-items-center text-sm text-neutral-500">
                                                            <span class="w-12 h-12 rounded-circle"
                                                                [ngClass]="item.colorClass"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td
                                        class="border-bottom border-dashed border-neutral-40 text-neutral-500 bg-transparent px-24 py-20">
                                        {{ item.price }}
                                    </td>
                                    <td
                                        class="border-bottom border-dashed border-neutral-40 text-neutral-500 bg-transparent px-24 py-20">
                                        <div
                                            class="border border-neutral-40 bg-main-50 rounded-pill p-4 max-w-116 w-100 d-flex justify-content-between">
                                            <button type="button"
                                                class="quantity__minus item-active-effect transition-1 flex-shrink-0 text-md hover-text-white w-36 h-36 rounded-circle bg-white text-neutral-500 hover-bg-main-600 border border-neutral-40 hover-border-main-600 hover-text-white flex-center">
                                                <i class="ph-bold ph-minus"></i>
                                            </button>
                                            <input type="text"
                                                class="quantity__input flex-grow-1 common-input border-0 bg-transparent text-center text-lg fw-semibold text-neutral-700 p-0"
                                                [value]="item.quantity">
                                            <button type="button"
                                                class="quantity__plus item-active-effect transition-1 flex-shrink-0 text-md hover-text-white w-36 h-36 rounded-circle bg-white text-neutral-500 hover-bg-main-600 border border-neutral430 hover-border-main-600 hover-text-white flex-center">
                                                <i class="ph-bold ph-plus"></i>
                                            </button>
                                        </div>
                                        <span class="text-neutral-100 mt-8 text-xs">Available: {{ item.available
                                            }}</span>
                                    </td>
                                    <td
                                        class="border-bottom border-dashed border-neutral-40 text-neutral-500 bg-transparent px-24 py-20">
                                        {{ item.total }}
                                    </td>
                                    <td
                                        class="border-bottom border-dashed border-neutral-40 text-neutral-500 bg-transparent px-24 py-20">
                                        <button class="delete-btn text-lg hover-text-main-600 transition-2">
                                            <i class="ph ph-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <a [routerLink]="['/apply-admission']"
                            class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold mt-24"
                            tabindex="0">
                            <i class="ph ph-arrow-left"></i>
                            Continue Shopping
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="border border-neutral-30 rounded-12 bg-main-25 p-24 bg-main-25">
                    <span class="text-neutral-700 text-lg mb-12">Price</span>
                    <div class="flex-align align-items-start flex-wrap gap-8">
                        <div class="flex-align gap-12 text-neutral-700">
                            <span class="text-2xl d-flex"><i class="ph-bold ph-tag"></i></span>
                            <span class="">From</span>
                            <h2 class="mb-0">$99.99</h2>
                        </div>
                        <button type="button" class="text-neutral-500 text-sm" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="Initial Price">
                            <i class="ph-bold ph-info"></i>
                        </button>
                    </div>

                    <span class="d-block border border-neutral-30 my-24 border-dashed"></span>

                    <div class="d-flex flex-column gap-24">
                        <div class="d-flex align-items-center justify-content-between gap-4">
                            <span class="text-neutral-500">Base Price</span>
                            <span class="text-neutral-700 fw-medium">$39.99</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between gap-4">
                            <span class="text-neutral-500">State Tax</span>
                            <span class="text-neutral-700 fw-medium">$5</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between gap-4">
                            <span class="text-neutral-500">Shipping</span>
                            <span class="text-neutral-700 fw-medium">Free</span>
                        </div>
                    </div>
                    <span class="d-block border border-neutral-30 my-24 border-dashed"></span>

                    <form action="#" class="my-24 position-relative">
                        <input type="email"
                            class="form-control bg-white shadow-none border border-neutral-30 rounded-pill h-48 ps-24 pe-44 focus-border-main-600"
                            placeholder="DISCOUNT9">
                        <button type="submit"
                            class="w-36 h-36 flex-center rounded-circle bg-main-600 text-white hover-bg-main-800 position-absolute top-50 translate-middle-y inset-inline-end-0 me-8">
                            <i class="ph ph-arrow-right"></i>
                        </button>
                    </form>

                    <div class="d-flex align-items-center justify-content-between gap-4">
                        <span class="text-neutral-500">Discount</span>
                        <span class="text-main-two-600 fw-medium">-$9</span>
                    </div>
                    <span class="d-block border border-neutral-30 my-24 border-dashed"></span>
                    <div class="d-flex align-items-center justify-content-between gap-4">
                        <span class="text-neutral-500">Total</span>
                        <span class="text-main-600 fw-medium">$35.99</span>
                    </div>
                    <span class="d-block border border-neutral-30 mt-24 border-dashed"></span>
                    <a [routerLink]="['/checkout']" class="btn btn-main rounded-pill w-100 mt-40">
                        Check Out
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =============================== Cart Section End ================================== -->