<section class="bg-main-25 pb-80 w-100 h-100">
    <div class="container container--lg">
        <div class="d-flex gap-24 mt--120 z-2 position-relative">
            <div class="student-overlay-sidebar" [class.show]="sidebarActive" (click)="closeSidebar()">
            </div>
                
<!-- ========Dashdord Sidebar start======== -->
<app-instructor-sidebar [class.active]="sidebarActive" [active]="sidebarActive">
            </app-instructor-sidebar><!-- ========Dashdord Sidebar end======== -->

                <!-- =========my profile start=========== -->
                <div class="w-100">
                    <div class="bg-white rounded-10 px-24 py-24">
                        <div class="d-flex align-items-center gap-16 justify-content-between mb-20">
                           <div class="d-flex align-items-center gap-8 flex-wrap">
                                <span class="fw-medium text-16 text-neutral-500">My Profile</span>
                                <button type="button" class="toggle-student-dashbord-button text-neutral-900 text-24 d-xl-none d-block"
                                (click)="toggleSidebar()">
                                    <i class="ph-bold ph-list"></i>
                                </button>
                           </div>
                            <div class="d-flex align-items-center gap-8">
                                <span class="text-20">
                                    <i class="ph-bold ph-download-simple"></i>
                                </span>
                                <span class="text-20">
                                    <i class="ph ph-printer"></i>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap">

                            <div class="flex-grow-1">
                                <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-top border-bottom px-20 py-26 line-height-105 border-end flex-wrap text-end">
                                    <span class="text-14 fw-normal text-neutral-600">First Name</span>
                                    <span class="text-14 fw-normal text-neutral-600">Cameron</span>
                                </div>
                                <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 border-end flex-wrap text-end">
                                    <span class="text-14 fw-normal text-neutral-600">Last Name</span>
                                    <span class="text-14 fw-normal text-neutral-600">Williamson</span>
                                </div>
                                <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 border-end flex-wrap text-end">
                                    <span class="text-14 fw-normal text-neutral-600">Username</span>
                                    <span class="text-14 fw-normal text-neutral-600">&#64;Williamson458</span>
                                </div>
                                <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 border-end flex-wrap text-end">
                                    <span class="text-14 fw-normal text-neutral-600">Email</span>
                                    <span class="text-14 fw-normal text-neutral-600">demo&#64;gmail.com</span>
                                </div>
                                <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 border-end flex-wrap text-end">
                                    <span class="text-14 fw-normal text-neutral-600">Phone Number</span>
                                    <span class="text-14 fw-normal text-neutral-600">(808) 555-0111</span>
                                </div>
                            </div>

                            <div class="flex-grow-1">
                                <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-top border-bottom px-20 py-26 line-height-105 flex-wrap text-end">
                                    <span class="text-14 fw-normal text-neutral-600">Registration Date</span>
                                    <span class="text-14 fw-normal text-neutral-600">June 05, 2025 9:25 PM</span>
                                </div>
                                <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 flex-wrap text-end">
                                    <span class="text-14 fw-normal text-neutral-600">Skill/Occupation</span>
                                    <span class="text-14 fw-normal text-neutral-600">UI/UX Design</span>
                                </div>
                                <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 flex-wrap text-end">
                                    <span class="text-14 fw-normal text-neutral-600">Address</span>
                                    <span class="text-14 fw-normal text-neutral-600">2464 Royal Ln. Mesa, New Jersey 45463</span>
                                </div>
                                <div class="d-flex gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-24 line-height-105 flex-wrap text-end">
                                    <span class="text-14 fw-normal text-neutral-600">Biography</span>
                                    <span class="text-14 fw-normal text-neutral-600 max-w-344-px pb-40">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- ============my profile end========== -->
        </div>           
    </div>
</section>