<!-- Overlay -->
<div class="side-overlay" [ngStyle]="{ 'display': sidebarVisible ? 'block' : 'none' }" (click)="hideSidebar()">
</div>


<div class="dashbord bg-main-25">
    <div class="d-flex">


        <!-- ========Dashdord Sidebar start======== -->
        <app-dashboard-sidebar [sidebarVisible]="sidebarVisible" (closeSidebar)="hideSidebar()">
        </app-dashboard-sidebar>
        <!-- ========Dashdord Sidebar end======== -->


        <div class="dashbord-body my-profile flex-grow-1">
            <!-- =====messsage dashbord nab start======== -->
            <app-admin-nav (toggleSidebar)="toggleSidebar()"></app-admin-nav>
<!-- =====message nab end======== -->
        <!-- =========my profile start=========== -->
            <div class="px-24 py-24">
                <div class="bg-white rounded-10 px-24 py-24">
                    <div class="d-flex align-items-center gap-16 justify-content-between mb-20">
                        <span class="fw-medium text-16 text-neutral-500">My Profile</span>
                        <div class="d-flex align-items-center gap-8">
                            <span class="text-20">
                                <i class="ph-bold ph-download-simple"></i>
                            </span>
                            <span class="text-20">
                                <i class="ph ph-printer"></i>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">

                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-top border-bottom px-20 py-26 line-height-105 border-end flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">First Name</span>
                                <span class="text-14 fw-normal text-neutral-600">Cameron</span>
                            </div>
                            <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 border-end flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">Last Name</span>
                                <span class="text-14 fw-normal text-neutral-600">Williamson</span>
                            </div>
                            <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 border-end flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">Username</span>
                                <span class="text-14 fw-normal text-neutral-600">&#64;Williamson458</span>
                            </div>
                            <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 border-end flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">Email</span>
                                <span class="text-14 fw-normal text-neutral-600">demo&#64;gmail.com</span>
                            </div>
                            <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 border-end flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">Phone Number</span>
                                <span class="text-14 fw-normal text-neutral-600">(808) 555-0111</span>
                            </div>
                        </div>

                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-top border-bottom px-20 py-26 line-height-105 flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">Registration Date</span>
                                <span class="text-14 fw-normal text-neutral-600">June 05, 2025 9:25 PM</span>
                            </div>
                            <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">Skill/Occupation</span>
                                <span class="text-14 fw-normal text-neutral-600">UI/UX Design</span>
                            </div>
                            <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">Address</span>
                                <span class="text-14 fw-normal text-neutral-600">2464 Royal Ln. Mesa, New Jersey 45463</span>
                            </div>
                            <div class="d-flex gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-24 line-height-105 flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">Biography</span>
                                <span class="text-14 fw-normal text-neutral-600 max-w-344-px pb-40">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        <!-- ============my profile end========== -->
          <!-- =========message profile footer start============== -->
<div class="bg-neutral-20 border-neutral-40 border-top px-24 py-16 mt-auto">
    <div class="d-flex align-items-center gap-24 justify-content-between flex-wrap">
        <p class="fw-medium text-14 text-neutral-500">
            Copyright ©2025 
            <a [routerLink]="['/admin-dashbord']" class="text-main-600 fw-medium">EduAll</a>.
            All Rights Reserved
        </p>
        <div class="d-flex align-items-center gap-24">
            <a href="#" class="fw-medium text-14 text-neutral-500 hover-text-main-600">Privacy policy</a>
            <a href="#" class="fw-medium text-14 text-neutral-500 hover-text-main-600">Privacy policy</a>
        </div>
    </div>
</div>
<!-- =========message profile footer end============== -->
        </div>
        <!-- ==========my dashbord end============ -->
    </div>
</div>