<div class="dashbord bg-main-25">
    <div class="d-flex">

        
<!-- ========Dashdord Sidebar start======== -->
<div class="dashboard-sidebar px-20 py-24 max-w-288-px bg-white w-100 border-end border-neutral-40 position-relative">
    <a href="#">
      <img src="assets/images/logo/logo.png" alt="" class="">
    </a>
    <span class="w-100 bg-neutral-40 mb-24 mt-24 h-1"></span>
     <div class="overflow-x-auto">
        <div class="scrollbar min-w-max"> 
            <span class="text-neutral-500 fw-normal text-14 mb-8">Welcome Henry,</span>
               <ul>
                   <li class="mb-8">
                       <a [routerLink]="['/admin-dashbord']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph-bold ph-house"></i></span>
                       Dashboard</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/my-profile']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-user-circle"></i></span>
                       My Profile</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/dashbord-message']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-chat-dots"></i></span>
                       Message</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/dashbord-courses']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-watch"></i></span>
                       Courses</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/dashbord-wishlist']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-bookmark-simple"></i></span>
                       Wishlist</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/deshbord-reviews']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-sparkle"></i></span>
                       Reviews</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/dashbord-quiz-attempts']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-seal-question"></i></span>
                       Quiz Attempts</a>
                   </li>
                   <li class="mb-8">
                       <span class="fw-normal text-14 text-neutral-500">Admin</span>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/dashbord-settings']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-gear"></i></span>
                       Settings</a>
                   </li>
               </ul>
           </div>
     </div>

     <div class="position-absolute inset-block-end-0 inset-inline-start-0 pb-16 px-16 w-100">
         <a [routerLink]="['/sign-in']" class=" text-14 fw-medium text-neutral-500 d-flex align-items-center gap-8  hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap bg-white">
             <span class="text-16 text-main-600 item-hover__text transition-03">
                 <i class="ph ph-sign-out"></i>
             </span>
             Logout
         </a>
     </div>
</div>
<!-- ========Dashdord Sidebar end======== -->


         <div class="dashbord-body my-profile flex-grow-1">
            <!-- =====messsage dashbord nab start======== -->
<div class="px-24 py-16 bg-neutral-10 border-bottom border-neutral-40 w-100">
    <div class="d-flex align-items-center justify-content-between gap-24 w-100">
        <div class="d-flex align-items-center gap-24">
            <button type="button" class="toggle-dashbord-button text-neutral-500 text-28 line-height-1 d-lg-none d-block">
                <i class="ph-bold ph-list"></i>
            </button>
            <div class="max-w-357-px position-relative d-sm-block d-none">
                <form action="#">
                    <input type="text" placeholder="Search" class="ps-16 pe-36 py-9 border border-neutral-40 rounded-pill focus-visible-outline focus-border-main-600 text-14 line-height-1">
                    <button type="button" class="w-28 h-28 bg-main-600 text-white text-16 rounded-circle justify-content-center align-items-center d-flex position-absolute top-50-percent translate-middle-y inset-inline-end-0-px me-4">
                        <i class="ph-bold ph-magnifying-glass"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="d-flex align-items-center gap-16">
            <a href="#" class="px-20 py-10 border-main-600 border rounded-pill text-14 text-main-600 hover-bg-main-600 hover-text-white hover-border-600 d-lg-block d-none line-height-1">Create a New Course</a>
            <div class="w-36 h-36 border-neutral-50 border rounded-pill justify-content-center align-items-center d-flex text-20 text-neutral-500 hover-bg-main-600  transition-03">
                <button type="button" class="hover-text-white transition-03">
                    <i class="ph ph-translate"></i>
                </button>
            </div>
            <div class="position-relative">
                <div class="w-36 h-36 border-neutral-50 border rounded-pill justify-content-center align-items-center d-flex text-20 text-neutral-500 position-relative">
                    <div>
                        <button class="dropdown-toggle w-36 h-36 border-neutral-50 border rounded-pill hover-bg-main-600 hover-text-white transition-03" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ph ph-bell-simple"></i>
                        </button>
                        <ul class="dropdown-menu rounded-12">

                            <li>
                                <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12" href="javascript:void(0)">
                                <div class="d-flex w-100 justify-content-between gap-12">
                                    <div class="d-flex align-items-center gap-12 ">
                                        <span class="w-36 h-36">
                                            <img src="assets/images/thumbs/reviewer-img1.png" alt="">
                                        </span>
                                        <div>
                                            <span class="text-md fw-semibold text-line-1">Ronald Richards</span>
                                            <p class="text-sm text-line-1 text-neutral-300">You can stitch between artboards</p>
                                        </div>
                                    </div>
                                    <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12" href="javascript:void(0)">
                                <div class="d-flex w-100 justify-content-between gap-12">
                                    <div class="d-flex align-items-center gap-12 ">
                                        <span class="w-36 h-36"><img src="assets/images/thumbs/reviewer-img4.png" alt=""></span>
                                        <div>
                                            <span class="text-md fw-semibold text-line-1">Arlene McCoy</span>
                                            <p class="text-sm text-line-1 text-neutral-300">Invite you to prototyping</p>
                                        </div>
                                    </div>
                                    <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12" href="javascript:void(0)">
                                <div class="d-flex w-100 justify-content-between gap-12">
                                    <div class="d-flex align-items-center gap-12 ">
                                        <span class="w-36 h-36"><img src="assets/images/thumbs/instructor-details-thumb.png" alt=""></span>
                                        <div>
                                            <span class="text-md fw-semibold text-line-1">Annette Black</span>
                                            <p class="text-sm text-line-1 text-neutral-300">Invite you to prototyping</p>
                                        </div>
                                    </div>
                                    <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                                </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="position-absolute inset-inline-start-22px top--20-percent">
                        <span class="bg-main-600 text-white w-16 h-16 rounded-circle text-9 d-flex justify-content-center align-items-center">2</span>
                    </div>
                </div>
            </div>

            <div class="w-36 h-36 border-neutral-50 border rounded-pill justify-content-center align-items-center d-flex text-20 text-neutral-500 hover-bg-main-600 transition-03">
                <button type="button" class=" hover-text-white transition-03">
                    <i class="ph ph-chat-dots"></i>
                </button>
            </div>

            <div class="dropdown">
                <button class="dropdown-toggle w-36 h-36 border-neutral-50 border rounded-pill" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/images/thumbs/testimonials-three-img1.png" alt="">
                </button>
                <ul class="dropdown-menu rounded-12">
                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03" href="my-profile.html">
                        <span><i class="ph ph-user-circle"></i></span>
                        <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03" href="dashbord-settings.html">
                        <span><i class="ph ph-gear"></i></span>
                        <span>Settings</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03" href="sign-in.html">
                        <span><i class="ph ph-power"></i></span>
                        <span>Log Out</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- =====message nab end======== -->
        <!-- =========my profile start=========== -->
            <div class="px-24 py-24">
                <div class="bg-white rounded-10 px-24 py-24">
                    <div class="d-flex align-items-center gap-16 justify-content-between mb-20">
                        <span class="fw-medium text-16 text-neutral-500">My Profile</span>
                        <div class="d-flex align-items-center gap-8">
                            <span class="text-20">
                                <i class="ph-bold ph-download-simple"></i>
                            </span>
                            <span class="text-20">
                                <i class="ph ph-printer"></i>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">

                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-top border-bottom px-20 py-26 line-height-105 border-end flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">First Name</span>
                                <span class="text-14 fw-normal text-neutral-600">Cameron</span>
                            </div>
                            <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 border-end flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">Last Name</span>
                                <span class="text-14 fw-normal text-neutral-600">Williamson</span>
                            </div>
                            <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 border-end flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">Username</span>
                                <span class="text-14 fw-normal text-neutral-600">&#64;Williamson458</span>
                            </div>
                            <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 border-end flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">Email</span>
                                <span class="text-14 fw-normal text-neutral-600">demo&#64;gmail.com</span>
                            </div>
                            <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 border-end flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">Phone Number</span>
                                <span class="text-14 fw-normal text-neutral-600">(808) 555-0111</span>
                            </div>
                        </div>

                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-top border-bottom px-20 py-26 line-height-105 flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">Registration Date</span>
                                <span class="text-14 fw-normal text-neutral-600">June 05, 2025 9:25 PM</span>
                            </div>
                            <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">Skill/Occupation</span>
                                <span class="text-14 fw-normal text-neutral-600">UI/UX Design</span>
                            </div>
                            <div class="d-flex align-items-center gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-26 line-height-105 flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">Address</span>
                                <span class="text-14 fw-normal text-neutral-600">2464 Royal Ln. Mesa, New Jersey 45463</span>
                            </div>
                            <div class="d-flex gap-16 justify-content-between border-neutral-30 border-bottom px-20 py-24 line-height-105 flex-wrap text-end">
                                <span class="text-14 fw-normal text-neutral-600">Biography</span>
                                <span class="text-14 fw-normal text-neutral-600 max-w-344-px pb-40">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        <!-- ============my profile end========== -->
          <!-- =========message profile footer start============== -->
<div class="bg-neutral-20 border-neutral-40 border-top px-24 py-16 mt-auto">
    <div class="d-flex align-items-center gap-24 justify-content-between flex-wrap">
        <p class="fw-medium text-14 text-neutral-500">
            Copyright ©2025 
            <a [routerLink]="['/admin-dashbord']" class="text-main-600 fw-medium">EduAll</a>.
            All Rights Reserved
        </p>
        <div class="d-flex align-items-center gap-24">
            <a href="#" class="fw-medium text-14 text-neutral-500 hover-text-main-600">Privacy policy</a>
            <a href="#" class="fw-medium text-14 text-neutral-500 hover-text-main-600">Privacy policy</a>
        </div>
    </div>
</div>
<!-- =========message profile footer end============== -->
        </div>
        <!-- ==========my dashbord end============ -->
    </div>
</div>