<section class="bg-main-25 pb-80 w-100 h-100">
    <div class="container container--lg">
        <div class="d-flex gap-24 mt--120 z-2 position-relative">
            <div class="student-overlay-sidebar"></div>

            <!-- ========Dashdord Sidebar start======== -->
            <app-student-sidebar/>
            <!-- ========Dashdord Sidebar end======== -->

            <!-- ============Feedbacks start============ -->
            <div class="w-100">

                <div class="px-24 py-24 bg-white rounded-10">
                    <div class="d-flex align-items-center justify-content-between">
                        <h6 class="mb-0 fw-medium">Reviews</h6>
                        <button type="button"
                            class="toggle-student-dashbord-button text-neutral-900 text-32 d-xl-none d-block">
                            <i class="ph-bold ph-list"></i>
                        </button>
                    </div>
                    <div class="mb-24">

                        <div class="overflow-x-auto">
                            <table id="example-five" class="display min-w-max w-100">
                                <thead>
                                    <tr class="bg-main-25 border-bottom border-neutral-30">
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Course</th>
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Reviews</th>
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Feedback</th>
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let review of reviewList"
                                        class="hover-bg-neutral-20 border-bottom transition-03">
                                        <td class="py-28 px-20 shadow-none">
                                            <span class="fw-normal text-12 text-neutral-500">{{ review.courseName
                                                }}</span>
                                        </td>
                                        <td class="text-14 fw-normal py-28 px-20 shadow-none">
                                            <div>
                                                <ul class="d-flex align-items-center gap-6">
                                                    <li *ngFor="let star of review.stars"
                                                        class="text-20 text-warning-600">
                                                        <i
                                                            [ngClass]="star === 'full' ? 'ph-fill ph-star' : 'ph-fill ph-star-half'"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td class="py-28 px-20 shadow-none">({{ review.reviewCount }} Reviews)</td>
                                        <td class="py-28 px-20 shadow-none">
                                            <div class="d-flex align-items-center gap-12 justify-content-end">
                                                <button type="button" class="text-24 text-neutral-500"><i
                                                        class="ph-bold ph-pencil-simple-line"></i></button>
                                                <button type="button" class="text-24 text-neutral-500"><i
                                                        class="ph-bold ph-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>

                    <div class="d-flex align-items-center gap-24 justify-content-between flex-wrap">
                        <div class="form-check form-switch">
                            <input class="form-check-input focus-box-shadow" type="checkbox" role="switch"
                                id="flexSwitchCheckDefault">
                            <label class="form-check-label text-14 fw-normal text-neutral-500"
                                for="flexSwitchCheckDefault">Dense</label>
                        </div>
                        <div class="d-flex align-items-center gap-40 flex-wrap">

                            <div class="d-flex align-items-center gap-16">
                                <span class="fw-normal text-14 text-neutral-500">Rows per page:</span>
                                <select
                                    class="form-select w-auto pe-32 text-14 fw-normal text-neutral-500 bg-transparent border-0">
                                    <option value="1">12</option>
                                    <option value="1">13</option>
                                    <option value="1">11</option>
                                    <option value="1">15</option>
                                </select>
                            </div>

                            <div class="d-flex align-items-center gap-16">
                                <span class="fw-normal text-14 text-neutral-500">1-12 of 100</span>
                                <div class="d-flex align-items-center gpa-8">
                                    <span class="text-20 text-neutral-500">
                                        <i class="ph-bold ph-caret-left"></i>
                                    </span>
                                    <span class="text-20 text-neutral-500">
                                        <i class="ph-bold ph-caret-right"></i>
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <!-- ============Feedbacks end============ -->
        </div>
    </div>
</section>