<!-- ==================== Header Start Here ==================== -->
<header class="header bg-neutral-900">
    <div class="container container--xl">
        <nav class="header-inner flex-between gap-8">

            <div class="header-content-wrapper flex-align flex-grow-1">
                <!-- Logo Start -->
                <a [routerLink]="['/index']" class="link">
                    <img src="assets/images/logo/logo-white.png" alt="Logo">
                </a>
                <!-- Logo End  -->
    
                <!-- Select Start -->
                <div class="d-sm-block d-none">
                    <div class="student-dashboard-select border-neutral-600 border rounded-pill position-relative">
    <span class="select-icon position-absolute top-50 d-xxl-block d-none translate-middle-y inset-inline-start-0 z-1 ms-lg-4 ms-12 text-xl pointer-event-none d-flex">
        <i class="ph-bold ph-squares-four"></i>
    </span>
    <select class="js-example-basic-single student-dashboard-select" name="state">
        <option value="1" selected disabled>Categories</option>
        <option value="1">Design</option>
        <option value="1">Development</option>
        <option value="1">Architecture</option>
        <option value="1">Life Style</option> 
        <option value="1">Data Science</option>
        <option value="1">Marketing</option>
        <option value="1">Music</option>
        <option value="1">Typography</option>
        <option value="1">Finance</option>
        <option value="1">Motivation</option>
    </select>
</div>
                </div>
                <!-- Select End -->
    
                <!-- Menu Start  -->
                <div class="header-menu d-lg-block d-none">
                    
<ul class="nav-menu flex-align ">
    <li class="nav-menu__item has-submenu activePage">
        <a href="javascript:void(0)" class="nav-menu__link text-white">Home</a>
        <ul class="nav-submenu scroll-sm">
            <li class="nav-submenu__item activePage">
                <a [routerLink]="['/index']" class="nav-submenu__link hover-bg-neutral-30"> Home LMS</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/index-2']" class="nav-submenu__link hover-bg-neutral-30"> Home Online Course</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/index-3']" class="nav-submenu__link hover-bg-neutral-30"> Home University</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/index-4']" class="nav-submenu__link hover-bg-neutral-30"> Home Tutor</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/index-5']" class="nav-submenu__link hover-bg-neutral-30"> Home Kindergarten</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/index-6']" class="nav-submenu__link hover-bg-neutral-30"> Home Kindergarten two</a>
            </li>
        </ul>   
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link text-white">Courses</a>
         <ul class="nav-submenu scroll-sm">
            <li class="nav-submenu__item">
                <a [routerLink]="['/course']" class="nav-submenu__link hover-bg-neutral-30"> Course Grid View</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/course-list-view']" class="nav-submenu__link hover-bg-neutral-30"> Course List View</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/course-details']" class="nav-submenu__link hover-bg-neutral-30"> Course Details</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/lesson-details']" class="nav-submenu__link hover-bg-neutral-30"> Lesson Details</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link text-white">Pages</a>
         <ul class="nav-submenu scroll-sm">
            <li class="nav-submenu__item">
                <a [routerLink]="['/about']" class="nav-submenu__link hover-bg-neutral-30"> About</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/about-two']" class="nav-submenu__link hover-bg-neutral-30"> About Two</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/about-three']" class="nav-submenu__link hover-bg-neutral-30"> About Three</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/about-four']" class="nav-submenu__link hover-bg-neutral-30"> About Four</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/pricing-plan']" class="nav-submenu__link hover-bg-neutral-30">Pricing Plan</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/instructor']" class="nav-submenu__link hover-bg-neutral-30"> Instructor</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/instructor-two']" class="nav-submenu__link hover-bg-neutral-30"> Instructor Two</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/instructor-details']" class="nav-submenu__link hover-bg-neutral-30"> Instructor Details</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/tutor']" class="nav-submenu__link hover-bg-neutral-30"> Premium Tutors</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/tutor-details']" class="nav-submenu__link hover-bg-neutral-30"> Premium Tutors Details</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/faq']" class="nav-submenu__link hover-bg-neutral-30">FAQ</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/tuition-jobs']" class="nav-submenu__link hover-bg-neutral-30">Tuition Jobs</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/events']" class="nav-submenu__link hover-bg-neutral-30">Events</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/event-details']" class="nav-submenu__link hover-bg-neutral-30">Event Details</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/apply-admission']" class="nav-submenu__link hover-bg-neutral-30">Apply Admission</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/gallery']" class="nav-submenu__link hover-bg-neutral-30">Gallery</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/privacy-policy']" class="nav-submenu__link hover-bg-neutral-30">Privacy Policy</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/favorite-course']" class="nav-submenu__link hover-bg-neutral-30">Favorite Course</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/find-tutors']" class="nav-submenu__link hover-bg-neutral-30">Find Best Tutors</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/book-online-class']" class="nav-submenu__link hover-bg-neutral-30">Book Online Class</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link text-white">Dashboard</a>
         <ul class="nav-submenu scroll-sm">
            <li class="nav-submenu__item">
                <a [routerLink]="['/admin-dashbord']" class="nav-submenu__link hover-bg-neutral-30"> Admin Dashbord</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/my-profile']" class="nav-submenu__link hover-bg-neutral-30">My Profile</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/dashbord-message']" class="nav-submenu__link hover-bg-neutral-30">Message</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/dashbord-courses']" class="nav-submenu__link hover-bg-neutral-30">Courses</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/dashbord-wishlist']" class="nav-submenu__link hover-bg-neutral-30">Wishlist</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/deshbord-reviews']" class="nav-submenu__link hover-bg-neutral-30">Reviews</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/dashbord-quiz-attempts']" class="nav-submenu__link hover-bg-neutral-30">Quiz Attempts</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/dashbord-settings']" class="nav-submenu__link hover-bg-neutral-30">Settings</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/student-dashbord']" class="nav-submenu__link hover-bg-neutral-30">Student Admin Dashbord</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/student-dashbord-my-profile']" class="nav-submenu__link hover-bg-neutral-30">Student My Profile</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/student-dashbord-message']" class="nav-submenu__link hover-bg-neutral-30">Student Message</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/student-dashbord-enrolled-courses']" class="nav-submenu__link hover-bg-neutral-30">Student Enrolled Courses</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/student-dashbord-wishlist']" class="nav-submenu__link hover-bg-neutral-30">Student Wishlist</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/student-dashbord-reviews']" class="nav-submenu__link hover-bg-neutral-30">Student Reviews</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/student-dashbord-my-quiz-attempts']" class="nav-submenu__link hover-bg-neutral-30">Student My Quiz Attempts</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/student-dashbord-assignment']" class="nav-submenu__link hover-bg-neutral-30">Student Assignment</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/student-dashbord-settings']" class="nav-submenu__link hover-bg-neutral-30">Student Settings</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/instructor-dashboard']" class="nav-submenu__link hover-bg-neutral-30">Instructor Dashbord</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/instructor-dashboard-my-profile']" class="nav-submenu__link hover-bg-neutral-30">Instructor My Profile</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/instructor-dashboard-message']" class="nav-submenu__link hover-bg-neutral-30">Instructor Message</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/instructor-dashboard-enrolled-courses']" class="nav-submenu__link hover-bg-neutral-30">Instructor Enrolled Courses</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/instructor-dashboard-wishlist']" class="nav-submenu__link hover-bg-neutral-30">Instructor Wishlist</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/instructor-dashboard-reviews']" class="nav-submenu__link hover-bg-neutral-30">Instructor Reviews</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/instructor-dashboard-my-quiz-attempts']" class="nav-submenu__link hover-bg-neutral-30">Instructor My Quiz Attempts</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/instructor-dashboard-order-history']" class="nav-submenu__link hover-bg-neutral-30">Instructor Order History</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/instructor-dashboard-my-courses']" class="nav-submenu__link hover-bg-neutral-30">Instructor My Courses</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/instructor-dashboard-announcements']" class="nav-submenu__link hover-bg-neutral-30">Instructor Announcements</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/instructor-dashboard-assignment']" class="nav-submenu__link hover-bg-neutral-30">Instructor Assignment</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/instructor-dashboard-quiz-attempts']" class="nav-submenu__link hover-bg-neutral-30">Instructor Quiz Attempts</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/instructor-dashboard-account-settings']" class="nav-submenu__link hover-bg-neutral-30">Instructor Account Settings</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link text-white">Product</a>
         <ul class="nav-submenu scroll-sm">
            <li class="nav-submenu__item">
                <a [routerLink]="['/product']" class="nav-submenu__link hover-bg-neutral-30"> Product</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/product-details']" class="nav-submenu__link hover-bg-neutral-30"> Product Details</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/cart']" class="nav-submenu__link hover-bg-neutral-30">Cart</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/checkout']" class="nav-submenu__link hover-bg-neutral-30">Checkout</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link text-white">Blog</a>
         <ul class="nav-submenu scroll-sm">
            <li class="nav-submenu__item">
                <a [routerLink]="['/blog']" class="nav-submenu__link hover-bg-neutral-30"> Blog Grid</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/blog-list']" class="nav-submenu__link hover-bg-neutral-30"> Blog List</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/blog-classic']" class="nav-submenu__link hover-bg-neutral-30"> Blog Classic</a>
            </li>
            <li class="nav-submenu__item">
                <a [routerLink]="['/blog-details']" class="nav-submenu__link hover-bg-neutral-30"> Blog Details</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item">
        <a [routerLink]="['/contact']" class="nav-menu__link text-white">Contact</a>
    </li>
</ul>
                </div>
                <!-- Menu End  -->
            </div>

            <!-- Header Right start -->
            <div class="header-right flex-align">
                <form action="#" class="search-form position-relative d-xl-block d-none">
                    <input type="text" class="common-input rounded-pill bg-neutral-700 text-neutral-30 pe-48 border-neutral-600 border" placeholder="Search...">
                    <button type="submit" class="w-36 h-36 bg-main-600 hover-bg-main-700 rounded-circle flex-center text-md text-white position-absolute top-50 translate-middle-y inset-inline-end-0 me-8">
                        <i class="ph-bold ph-magnifying-glass"></i>
                    </button>
                </form>
                <div>
                    <button class="dropdown-toggle w-48 h-48 text-24 border-neutral-600 border bg-neutral-700 rounded-pill hover-bg-main-600 hover-text-white transition-03 text-white position-relative" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ph ph-shopping-cart"></i>
                        <span class="w-22 h-22 flex-center rounded-circle bg-main-two-600 text-white text-xs position-absolute top-n6 end-n4">1</span>
                    </button>
                    <ul class="dropdown-menu rounded-12">

                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12" href="javascript:void(0)">
                            <div class="d-flex w-100 justify-content-between gap-12">
                                <div class="d-flex align-items-center gap-12 ">
                                    <span class="w-36 h-36"><img src="assets/images/thumbs/reviewer-img1.png" alt=""></span>
                                    <div>
                                        <span class="text-md fw-semibold text-line-1">Ronald Richards</span>
                                        <p class="text-sm text-line-1 text-neutral-300">You can stitch between artboards</p>
                                    </div>
                                </div>
                                <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                            </div>
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12" href="javascript:void(0)">
                            <div class="d-flex w-100 justify-content-between gap-12">
                                <div class="d-flex align-items-center gap-12 ">
                                    <span class="w-36 h-36"><img src="assets/images/thumbs/reviewer-img4.png" alt=""></span>
                                    <div>
                                        <span class="text-md fw-semibold text-line-1">Arlene McCoy</span>
                                        <p class="text-sm text-line-1 text-neutral-300">Invite you to prototyping</p>
                                    </div>
                                </div>
                                <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                            </div>
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12" href="javascript:void(0)">
                            <div class="d-flex w-100 justify-content-between gap-12">
                                <div class="d-flex align-items-center gap-12 ">
                                    <span class="w-36 h-36"><img src="assets/images/thumbs/instructor-details-thumb.png" alt=""></span>
                                    <div>
                                        <span class="text-md fw-semibold text-line-1">Annette Black</span>
                                        <p class="text-sm text-line-1 text-neutral-300">Invite you to prototyping</p>
                                    </div>
                                </div>
                                <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="dropdown">
                    <button class="dropdown-toggle w-48 h-48" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="assets/images/thumbs/testimonials-three-img1.png" alt="">
                    </button>
                    <ul class="dropdown-menu rounded-12">
                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03" href="my-profile.html">
                            <span><i class="ph ph-user-circle"></i></span>
                            <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03" href="dashbord-settings.html">
                            <span><i class="ph ph-gear"></i></span>
                            <span>Settings</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03" href="sign-in.html">
                            <span><i class="ph ph-power"></i></span>
                            <span>Log Out</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="toggle-mobileMenu d-lg-none text-white flex-center">
                    <i class="ph ph-list"></i> 
                </button>
            </div>
            <!-- Header Right End  -->
        </nav>
    </div>
</header>
<!-- ==================== Header End Here ==================== -->



<!-- ============== student dashbord banner section start =============== -->
<section class="breadcrumb pt-80 pb-187 bg-neutral-900 position-relative z-1 overflow-hidden mb-0 z-n1">
    <img src="assets/images/shapes/shape1.png" alt="" class="position-absolute inset-block-start-5-persent inset-inline-start-45-persent animation-rotation d-md-block d-none">
    <img src="assets/images/shapes/shape2.png" alt="" class="position-absolute inset-inline-start-0-persent inset-block-end-0-persent animation-scalation d-md-block d-none">
    <img src="assets/images/shapes/shape3.png" alt="" class="position-absolute inset-inline-end-35-persent inset-block-end-30-persent animation-walking d-md-block d-none">
    <img src="assets/images/shapes/shape5.png" alt="" class="shape six animation-walking d-md-block d-none">
    <img src="assets/images/shapes/shape4.png" alt="" class="position-absolute inset-inline-end-40-persent inset-block-start-5-persent animation-scalation">
    <img src="assets/images/shapes/shape4.png" alt="" class="position-absolute inset-inline-end-2-persent inset-block-end-45-persent animation-scalation">
    <img src="assets/images/shapes/shape4.png" alt="" class="position-absolute inset-block-end-30-persent inset-inline-end-45-persent animation-scalation">
    <img src="assets/images/shapes/shape4.png" alt="" class="shape nine animation-scalation">
    
    <div class="container container--lg">
        <div class="d-flex align-items-center gap-16 justify-content-between flex-wrap">
            <div class="breadcrumb__wrapper">
                <h1 class="breadcrumb__title display-4 fw-semibold text-white mb-20">Student Dashboard</h1>
                <ul class="breadcrumb__list d-flex align-items-center gap-4 flex-wrap">
                    <li class="breadcrumb__item">
                        <a [routerLink]="['/index']" class="breadcrumb__link text-white hover-text-warning-800 fw-medium">Home</a>
                    </li>
                    <li class="breadcrumb__item">
                        <i class="text-white d-flex ph-bold ph-caret-right"></i>
                    </li>
                    <li class="breadcrumb__item">
                        <a [routerLink]="['/admin-dashbord']" class="breadcrumb__link text-white hover-text-warning-800 fw-medium">Dashboard</a> 
                    </li>
                    <li class="breadcrumb__item @@arrowTwoShowHide">
                        <i class="text-white d-flex ph-bold ph-caret-right"></i>
                    </li>
                    <li class="breadcrumb__item"> 
                        <span class="text-main-two-600">Student Dashboard</span> 
                    </li>
                </ul>
            </div>
            <div>
                <a [routerLink]="['/instructor']" class="border-warning-800 border px-32 py-16 rounded-pill text-warning-800 hover-bg-warning-900 hover-text-white">Become an Instructor</a>
            </div>
        </div>
    </div>
</section>
<!-- ============== student dashbord banner section end =============== -->