<!-- ========Dashdord Sidebar start======== -->
<div class="student-dashboard-sidebar px-20 py-24 max-w-288-px bg-white rounded-10 w-100 h-100 position-relative">
    <div class="text-center">
        <img src="assets/images/thumbs/instructor-dashboard-img1.png" alt="" class="mb-20">
        <h5 class="mb-4 text-neutral-500">Cameron Williamson</h5>
        <span class="text-neutral-500 text-14 fw-normal mb-12">info&#64;example.com</span>
        <ul class="d-flex align-items-center gap-4 justify-content-center text-center mb-4">
            <li class="text-16 text-warning-500"><i class="ph-fill ph-star"></i></li>
            <li class="text-16 text-warning-500"><i class="ph-fill ph-star"></i></li>
            <li class="text-16 text-warning-500"><i class="ph-fill ph-star"></i></li>
            <li class="text-16 text-warning-500"><i class="ph-fill ph-star"></i></li>
            <li class="text-16 text-warning-500"><i class="ph-fill ph-star-half"></i></li>
        </ul>
        <span class="text-14 fw-normal text-neutral-300">4.8/5 (1.5K Reviews)</span>
    </div>
    <span class="w-100 bg-main-100 mb-24 mt-24 h-1"></span>
     <div class="overflow-x-auto">
        <div class="student-dashbord-scrollbar min-w-max pb-80"> 
            <span class="text-neutral-500 fw-normal text-14 mb-8">Welcome Williamson,</span>
               <ul> 
                   <li class="mb-8">
                       <a [routerLink]="['/instructor-dashboard']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph-bold ph-house"></i></span>
                       Dashboard</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/instructor-dashboard-my-profile']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-user-circle"></i></span>
                       My Profile</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/instructor-dashboard-message']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-chat-dots"></i></span>
                        Message</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/instructor-dashboard-enrolled-courses']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-watch"></i></span>
                       Enrolled Courses</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/instructor-dashboard-wishlist']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-bookmark-simple"></i></span>
                       Wishlist</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/instructor-dashboard-reviews']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-sparkle"></i></span>
                       Reviews</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/instructor-dashboard-my-quiz-attempts']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03">
                            <i class="ph ph-seal-question"></i>
                        </span>
                      My Quiz Attempts</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/instructor-dashboard-order-history']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03">
                        <i class="ph ph-shopping-cart"></i>
                    </span>
                       Order History</a>
                   </li>

                   <li class="text-neutral-500 fw-normal text-14 mb-8 mt-8">Instructor</li>

                   <li class="mb-8">
                       <a [routerLink]="['/instructor-dashboard-my-courses']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03">
                        <i class="ph ph-graduation-cap"></i>
                        </span>
                       My Courses</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/instructor-dashboard-announcements']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03 transform-scale-x--1px">
                            <i class="ph ph-megaphone"></i>
                        </span>
                        Announcements</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/instructor-dashboard-assignment']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03 transform-scale-x--1px">
                            <i class="ph ph-file-text"></i>
                        </span>
                        Assignments</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/instructor-dashboard-quiz-attempts']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03 transform-scale-x--1px">
                            <i class="ph ph-seal-question"></i>
                        </span>
                        Quiz Attempts</a>
                   </li>
                   <li class="mb-8">
                       <a [routerLink]="['/instructor-dashboard-account-settings']" class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                       <span class="text-16 text-main-600 item-hover__text transition-03"><i class="ph ph-gear"></i></span>
                       Account Settings</a>
                   </li>
               </ul>
           </div>
     </div>

     <div class="position-absolute inset-block-end-0 inset-inline-start-0 pb-16 px-16 w-100">
         <a [routerLink]="['/sign-in']" class=" text-14 fw-medium text-neutral-500 d-flex align-items-center gap-8  hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap bg-white">
             <span class="text-16 text-main-600 item-hover__text transition-03">
                 <i class="ph ph-sign-out"></i>
             </span>
             Logout
         </a>
     </div>
</div>
<!-- ========Dashdord Sidebar end======== -->