<section class="bg-main-25 explore-course position-relative z-1 pb-80 w-100 h-100">
    <div class="container container--lg">
        <div class="d-flex gap-24  z-2 position-relative"  >
             <div class="student-overlay-sidebar" [class.show]="sidebarActive" (click)="closeSidebar()">
            </div>

            <!-- ========Dashdord Sidebar start======== -->
            <app-instructor-sidebar [class.active]="sidebarActive" [active]="sidebarActive">
            </app-instructor-sidebar>

            <!-- ========Dashdord Sidebar end======== -->

            <!-- =========message profile start=========== -->
            <div class="w-100" style="margin-top: -100px !important; ">
                <div>
                    <div class="d-flex align-items-center gap-8 justify-content-between flex-wrap">
                        <div class="d-flex align-items-center gap-16 flex-wrap">
                            <h6 class="text-white">Enrolled Courses</h6>
                            <button type="button"
                                class="toggle-student-dashbord-button text-white text-24 d-xl-none d-block"
                                (click)="toggleSidebar()">
                                <i class="ph-bold ph-list"></i>
                            </button>
                        </div>
                        <div class="nav-tab-wrapper p-16 d-inline-block" data-aos="zoom-out">
                            <ul class="nav nav-pills common-tab gap-8" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button
                                        class="nav-link rounded-pill bg-main-25 text-md fw-medium text-neutral-500 flex-center w-100 py-8 active"
                                        id="pills-categories-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-categories" type="button" role="tab"
                                        aria-controls="pills-categories" aria-selected="true">
                                        All Courses
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button
                                        class="nav-link rounded-pill bg-main-25 text-md fw-medium text-neutral-500 flex-center w-100"
                                        id="pills-design-tab" data-bs-toggle="pill" data-bs-target="#pills-design"
                                        type="button" role="tab" aria-controls="pills-design" aria-selected="false">
                                        Active Courses
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button
                                        class="nav-link rounded-pill bg-main-25 text-md fw-medium text-neutral-500 flex-center w-100"
                                        id="pills-programming-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-programming" type="button" role="tab"
                                        aria-controls="pills-programming" aria-selected="false">
                                        Enrolled Courses
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button
                                        class="nav-link rounded-pill bg-main-25 text-md fw-medium text-neutral-500 flex-center w-100"
                                        id="pills-webDesign-tab" data-bs-toggle="pill" data-bs-target="#pills-webDesign"
                                        type="button" role="tab" aria-controls="pills-webDesign" aria-selected="false">
                                        Completed Courses
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-categories" role="tabpanel"
                            aria-labelledby="pills-categories-tab" tabindex="0">
                            <!-- progress Courses start  -->
                            <div class="row gy-4">

                                <div class="col-xl-4 col-md-6 col-sm-6 wow fadeInUp"
                                    *ngFor="let course of dashboardCourses; let i = index" [attr.data-aos]="'fade-up'"
                                    [attr.data-aos-duration]="course.aosDuration">
                                    <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                                        <div class="course-item__thumb rounded-12 overflow-hidden">
                                            <a [routerLink]="['/course-details']" class="w-100 h-100">
                                                <img [src]="course.image" alt="Course Image"
                                                    class="course-item__img rounded-12 cover-img transition-2" />
                                            </a>
                                        </div>
                                        <div class="course-item__content">
                                            <div>
                                                <span
                                                    class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">
                                                    {{ course.category }}
                                                </span>
                                                <div class="flex-between gap-8 flex-wrap mb-16">
                                                    <div class="flex-align gap-8 flex-wrap">
                                                        <span class="text-neutral-700 text-2xl d-flex"><i
                                                                class="ph-bold ph-video-camera"></i></span>
                                                        <span class="text-neutral-700 text-16 fw-medium">{{
                                                            course.lessons }} Lessons</span>
                                                    </div>
                                                    <div class="flex-align gap-8 flex-wrap">
                                                        <span class="text-neutral-700 text-2xl d-flex"><i
                                                                class="ph ph-user-circle"></i></span>
                                                        <span class="text-neutral-700 text-16 fw-medium">{{
                                                            course.students }} Students</span>
                                                    </div>
                                                </div>
                                                <h4 class="mb-24">
                                                    <a [routerLink]="['/course-details']"
                                                        class="link text-line-2 fw-semibold">{{ course.title }}</a>
                                                </h4>
                                            </div>

                                            <div *ngIf="course.progress">
                                                <div class="mb-24">
                                                    <span class="text-neutral-700 text-20 fw-medium">Complete</span>
                                                    <div class="progress-wrapper d-flex align-items-center flex-column gap-4"
                                                        [attr.data-perc]="course.progress + '%'">
                                                        <div class="h-50-px position-relative w-100 d-flex">
                                                            <span
                                                                class="floating-label position-absolute text-14 text-main-600 fw-normal radius-8 w-50-px h-32-px z-1 d-flex justify-content-center align-items-center"
                                                                [ngStyle]="{'left': course.progress + '%', 'bottom': '30px'}">
                                                                {{ course.progressLabel }}
                                                            </span>
                                                            <div class="progress mt-auto h-6px w-100 bg-primary-50 rounded-pill"
                                                                role="progressbar" aria-label="Progress"
                                                                [attr.aria-valuenow]="course.progress" aria-valuemin="0"
                                                                aria-valuemax="100">
                                                                <div class="progress-bar animated-bar rounded-pill bg-primary-gradien overflow-visible"
                                                                    [style.width.%]="course.progress"
                                                                    style="height: 6px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="flex-between gap-8 mt-28 flex-wrap"
                                                [ngClass]="{'border-neutral-30 border-top pt-24': !course.progress}">
                                                <div>
                                                    <ul class="d-flex align-items-center gap-6 mb-8">
                                                        <li class="text-16 text-warning-400"
                                                            *ngFor="let star of course.stars"><i [ngClass]="star"></i>
                                                        </li>
                                                    </ul>
                                                    <span class="fw-normal text-14 text-neutral-300">{{ course.rating
                                                        }}</span>
                                                </div>
                                                <div class="d-flex align-items-center gap-8">
                                                    <img [src]="course.instructorImg" alt="" class="w-28 h-28">
                                                    <span class="fw-normal text-14 text-neutral-400">{{
                                                        course.instructor }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <!-- progress Courses end  -->
                            <div class="d-flex align-items-center text-center gap-12 justify-content-center mt-32">
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-caret-left"></i>
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    1
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    2
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    3
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-dots-three"></i>
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-caret-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-design" role="tabpanel" aria-labelledby="pills-design-tab"
                            tabindex="0">
                            <!-- progress Courses start  -->
                            <div class="row gy-4">

                                <div class="col-xl-4 col-md-6 col-sm-6 wow fadeInUp"
                                    *ngFor="let course of dashboardCourses; let i = index" [attr.data-aos]="'fade-up'"
                                    [attr.data-aos-duration]="course.aosDuration">
                                    <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                                        <div class="course-item__thumb rounded-12 overflow-hidden">
                                            <a [routerLink]="['/course-details']" class="w-100 h-100">
                                                <img [src]="course.image" alt="Course Image"
                                                    class="course-item__img rounded-12 cover-img transition-2" />
                                            </a>
                                        </div>
                                        <div class="course-item__content">
                                            <div>
                                                <span
                                                    class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">
                                                    {{ course.category }}
                                                </span>
                                                <div class="flex-between gap-8 flex-wrap mb-16">
                                                    <div class="flex-align gap-8 flex-wrap">
                                                        <span class="text-neutral-700 text-2xl d-flex"><i
                                                                class="ph-bold ph-video-camera"></i></span>
                                                        <span class="text-neutral-700 text-16 fw-medium">{{
                                                            course.lessons }} Lessons</span>
                                                    </div>
                                                    <div class="flex-align gap-8 flex-wrap">
                                                        <span class="text-neutral-700 text-2xl d-flex"><i
                                                                class="ph ph-user-circle"></i></span>
                                                        <span class="text-neutral-700 text-16 fw-medium">{{
                                                            course.students }} Students</span>
                                                    </div>
                                                </div>
                                                <h4 class="mb-24">
                                                    <a [routerLink]="['/course-details']"
                                                        class="link text-line-2 fw-semibold">{{ course.title }}</a>
                                                </h4>
                                            </div>

                                            <div *ngIf="course.progress">
                                                <div class="mb-24">
                                                    <span class="text-neutral-700 text-20 fw-medium">Complete</span>
                                                    <div class="progress-wrapper d-flex align-items-center flex-column gap-4"
                                                        [attr.data-perc]="course.progress + '%'">
                                                        <div class="h-50-px position-relative w-100 d-flex">
                                                            <span
                                                                class="floating-label position-absolute text-14 text-main-600 fw-normal radius-8 w-50-px h-32-px z-1 d-flex justify-content-center align-items-center"
                                                                [ngStyle]="{'left': course.progress + '%', 'bottom': '30px'}">
                                                                {{ course.progressLabel }}
                                                            </span>
                                                            <div class="progress mt-auto h-6px w-100 bg-primary-50 rounded-pill"
                                                                role="progressbar" aria-label="Progress"
                                                                [attr.aria-valuenow]="course.progress" aria-valuemin="0"
                                                                aria-valuemax="100">
                                                                <div class="progress-bar animated-bar rounded-pill bg-primary-gradien overflow-visible"
                                                                    [style.width.%]="course.progress"
                                                                    style="height: 6px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="flex-between gap-8 mt-28 flex-wrap"
                                                [ngClass]="{'border-neutral-30 border-top pt-24': !course.progress}">
                                                <div>
                                                    <ul class="d-flex align-items-center gap-6 mb-8">
                                                        <li class="text-16 text-warning-400"
                                                            *ngFor="let star of course.stars"><i [ngClass]="star"></i>
                                                        </li>
                                                    </ul>
                                                    <span class="fw-normal text-14 text-neutral-300">{{ course.rating
                                                        }}</span>
                                                </div>
                                                <div class="d-flex align-items-center gap-8">
                                                    <img [src]="course.instructorImg" alt="" class="w-28 h-28">
                                                    <span class="fw-normal text-14 text-neutral-400">{{
                                                        course.instructor }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- progress Courses end  -->
                            <div class="d-flex align-items-center text-center gap-12 justify-content-center mt-32">
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-caret-left"></i>
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    1
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    2
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    3
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-dots-three"></i>
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-caret-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-programming" role="tabpanel"
                            aria-labelledby="pills-programming-tab" tabindex="0">
                            <!-- progress Courses start  -->
                            <div class="row gy-4">

                                <div class="col-xl-4 col-md-6 col-sm-6 wow fadeInUp"
                                    *ngFor="let course of dashboardCourses; let i = index" [attr.data-aos]="'fade-up'"
                                    [attr.data-aos-duration]="course.aosDuration">
                                    <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                                        <div class="course-item__thumb rounded-12 overflow-hidden">
                                            <a [routerLink]="['/course-details']" class="w-100 h-100">
                                                <img [src]="course.image" alt="Course Image"
                                                    class="course-item__img rounded-12 cover-img transition-2" />
                                            </a>
                                        </div>
                                        <div class="course-item__content">
                                            <div>
                                                <span
                                                    class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">
                                                    {{ course.category }}
                                                </span>
                                                <div class="flex-between gap-8 flex-wrap mb-16">
                                                    <div class="flex-align gap-8 flex-wrap">
                                                        <span class="text-neutral-700 text-2xl d-flex"><i
                                                                class="ph-bold ph-video-camera"></i></span>
                                                        <span class="text-neutral-700 text-16 fw-medium">{{
                                                            course.lessons }} Lessons</span>
                                                    </div>
                                                    <div class="flex-align gap-8 flex-wrap">
                                                        <span class="text-neutral-700 text-2xl d-flex"><i
                                                                class="ph ph-user-circle"></i></span>
                                                        <span class="text-neutral-700 text-16 fw-medium">{{
                                                            course.students }} Students</span>
                                                    </div>
                                                </div>
                                                <h4 class="mb-24">
                                                    <a [routerLink]="['/course-details']"
                                                        class="link text-line-2 fw-semibold">{{ course.title }}</a>
                                                </h4>
                                            </div>

                                            <div *ngIf="course.progress">
                                                <div class="mb-24">
                                                    <span class="text-neutral-700 text-20 fw-medium">Complete</span>
                                                    <div class="progress-wrapper d-flex align-items-center flex-column gap-4"
                                                        [attr.data-perc]="course.progress + '%'">
                                                        <div class="h-50-px position-relative w-100 d-flex">
                                                            <span
                                                                class="floating-label position-absolute text-14 text-main-600 fw-normal radius-8 w-50-px h-32-px z-1 d-flex justify-content-center align-items-center"
                                                                [ngStyle]="{'left': course.progress + '%', 'bottom': '30px'}">
                                                                {{ course.progressLabel }}
                                                            </span>
                                                            <div class="progress mt-auto h-6px w-100 bg-primary-50 rounded-pill"
                                                                role="progressbar" aria-label="Progress"
                                                                [attr.aria-valuenow]="course.progress" aria-valuemin="0"
                                                                aria-valuemax="100">
                                                                <div class="progress-bar animated-bar rounded-pill bg-primary-gradien overflow-visible"
                                                                    [style.width.%]="course.progress"
                                                                    style="height: 6px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="flex-between gap-8 mt-28 flex-wrap"
                                                [ngClass]="{'border-neutral-30 border-top pt-24': !course.progress}">
                                                <div>
                                                    <ul class="d-flex align-items-center gap-6 mb-8">
                                                        <li class="text-16 text-warning-400"
                                                            *ngFor="let star of course.stars"><i [ngClass]="star"></i>
                                                        </li>
                                                    </ul>
                                                    <span class="fw-normal text-14 text-neutral-300">{{ course.rating
                                                        }}</span>
                                                </div>
                                                <div class="d-flex align-items-center gap-8">
                                                    <img [src]="course.instructorImg" alt="" class="w-28 h-28">
                                                    <span class="fw-normal text-14 text-neutral-400">{{
                                                        course.instructor }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- progress Courses end  -->
                            <div class="d-flex align-items-center text-center gap-12 justify-content-center mt-32">
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-caret-left"></i>
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    1
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    2
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    3
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-dots-three"></i>
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-caret-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-webDesign" role="tabpanel"
                            aria-labelledby="pills-webDesign-tab" tabindex="0">
                            <!-- progress Courses start  -->
                            <div class="row gy-4">

                                <div class="col-xl-4 col-md-6 col-sm-6 wow fadeInUp"
                                    *ngFor="let course of dashboardCourses; let i = index" [attr.data-aos]="'fade-up'"
                                    [attr.data-aos-duration]="course.aosDuration">
                                    <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                                        <div class="course-item__thumb rounded-12 overflow-hidden">
                                            <a [routerLink]="['/course-details']" class="w-100 h-100">
                                                <img [src]="course.image" alt="Course Image"
                                                    class="course-item__img rounded-12 cover-img transition-2" />
                                            </a>
                                        </div>
                                        <div class="course-item__content">
                                            <div>
                                                <span
                                                    class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">
                                                    {{ course.category }}
                                                </span>
                                                <div class="flex-between gap-8 flex-wrap mb-16">
                                                    <div class="flex-align gap-8 flex-wrap">
                                                        <span class="text-neutral-700 text-2xl d-flex"><i
                                                                class="ph-bold ph-video-camera"></i></span>
                                                        <span class="text-neutral-700 text-16 fw-medium">{{
                                                            course.lessons }} Lessons</span>
                                                    </div>
                                                    <div class="flex-align gap-8 flex-wrap">
                                                        <span class="text-neutral-700 text-2xl d-flex"><i
                                                                class="ph ph-user-circle"></i></span>
                                                        <span class="text-neutral-700 text-16 fw-medium">{{
                                                            course.students }} Students</span>
                                                    </div>
                                                </div>
                                                <h4 class="mb-24">
                                                    <a [routerLink]="['/course-details']"
                                                        class="link text-line-2 fw-semibold">{{ course.title }}</a>
                                                </h4>
                                            </div>

                                            <div *ngIf="course.progress">
                                                <div class="mb-24">
                                                    <span class="text-neutral-700 text-20 fw-medium">Complete</span>
                                                    <div class="progress-wrapper d-flex align-items-center flex-column gap-4"
                                                        [attr.data-perc]="course.progress + '%'">
                                                        <div class="h-50-px position-relative w-100 d-flex">
                                                            <span
                                                                class="floating-label position-absolute text-14 text-main-600 fw-normal radius-8 w-50-px h-32-px z-1 d-flex justify-content-center align-items-center"
                                                                [ngStyle]="{'left': course.progress + '%', 'bottom': '30px'}">
                                                                {{ course.progressLabel }}
                                                            </span>
                                                            <div class="progress mt-auto h-6px w-100 bg-primary-50 rounded-pill"
                                                                role="progressbar" aria-label="Progress"
                                                                [attr.aria-valuenow]="course.progress" aria-valuemin="0"
                                                                aria-valuemax="100">
                                                                <div class="progress-bar animated-bar rounded-pill bg-primary-gradien overflow-visible"
                                                                    [style.width.%]="course.progress"
                                                                    style="height: 6px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="flex-between gap-8 mt-28 flex-wrap"
                                                [ngClass]="{'border-neutral-30 border-top pt-24': !course.progress}">
                                                <div>
                                                    <ul class="d-flex align-items-center gap-6 mb-8">
                                                        <li class="text-16 text-warning-400"
                                                            *ngFor="let star of course.stars"><i [ngClass]="star"></i>
                                                        </li>
                                                    </ul>
                                                    <span class="fw-normal text-14 text-neutral-300">{{ course.rating
                                                        }}</span>
                                                </div>
                                                <div class="d-flex align-items-center gap-8">
                                                    <img [src]="course.instructorImg" alt="" class="w-28 h-28">
                                                    <span class="fw-normal text-14 text-neutral-400">{{
                                                        course.instructor }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- progress Courses end  -->
                            <div class="d-flex align-items-center text-center gap-12 justify-content-center mt-32">
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-caret-left"></i>
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    1
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    2
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    3
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-dots-three"></i>
                                </button>
                                <button type="button"
                                    class="text-neutral-900 text-24 w-40 h-40 border-neutra-30 border rounded-circle hover-bg-main-600 hover-text-white transition-03 align-items-center justify-content-center d-flex">
                                    <i class="ph-bold ph-caret-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============message profile end========== -->
        </div>
    </div>
</section>