<div class="student-dashboard-sidebar px-20 py-24 max-w-288-px bg-white rounded-10 w-100 position-relative"  [class.active]="active" style="width: 288px !important;">
    <div class="text-center">
        <img src="assets/images/thumbs/student-dashbord-img-1.png" alt="" class="mb-20">
        <h5 class="mb-4 text-neutral-500">Wade Warren</h5>
        <span class="text-neutral-500 text-14 fw-normal">info&#64;example.com </span>
    </div>
    <span class="w-100 bg-neutral-40 mb-24 mt-24 h-1"></span>
    <div class="overflow-x-auto">
        <div class="student-dashbord-scrollbar min-w-max">
            <span class="text-neutral-500 fw-normal text-14 mb-8">Welcome Warren,</span>
            <ul>
                <li class="mb-8"routerLinkActive="activePage">
                    <a [routerLink]="['/student-dashbord']"
                        class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                        <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                class="ph-bold ph-house"></i></span>
                        Dashboard</a>
                </li>
                <li class="mb-8" routerLinkActive="activePage">
                    <a [routerLink]="['/student-dashbord-my-profile']"
                        class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                        <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                class="ph ph-user-circle"></i></span>
                        My Profile</a>
                </li>
                <li class="mb-8" routerLinkActive="activePage">
                    <a [routerLink]="['/student-dashbord-message']"
                        class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                        <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                class="ph ph-chat-dots"></i></span>
                        Message</a>
                </li>
                <li class="mb-8" routerLinkActive="activePage">
                    <a [routerLink]="['/student-dashbord-enrolled-courses']"
                        class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                        <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                class="ph ph-watch"></i></span>
                        Enrolled Courses</a>
                </li>
                <li class="mb-8" routerLinkActive="activePage">
                    <a [routerLink]="['/student-dashbord-wishlist']"
                        class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                        <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                class="ph ph-bookmark-simple"></i></span>
                        Wishlist</a>
                </li>
                <li class="mb-8" routerLinkActive="activePage">
                    <a [routerLink]="['/student-dashbord-reviews']"
                        class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                        <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                class="ph ph-sparkle"></i></span>
                        Reviews</a>
                </li>
                <li class="mb-8" routerLinkActive="activePage">
                    <a [routerLink]="['/student-dashbord-my-quiz-attempts']"
                        class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                        <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                class="ph ph-seal-question"></i></span>
                        Quiz Attempts</a>
                </li>
                <li class="mb-8" routerLinkActive="activePage">
                    <a [routerLink]="['/student-dashbord-assignment']"
                        class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                        <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                class="ph ph-file-text"></i></span>
                        Assignment</a>
                </li>
                <li class="mb-8" routerLinkActive="activePage">
                    <a [routerLink]="['/student-dashbord-settings']"
                        class="fw-medium d-flex align-items-center text-14 gap-8 text-neutral-500 hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap">
                        <span class="text-16 text-main-600 item-hover__text transition-03"><i
                                class="ph ph-gear"></i></span>
                        Settings</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="position-absolute inset-block-end-0 inset-inline-start-0 pb-16 px-16 w-100">
        <a [routerLink]="['/sign-in']"
            class=" text-14 fw-medium text-neutral-500 d-flex align-items-center gap-8  hover-bg-main-600 px-24 py-10 hover-text-white rounded-12 item-hover flex-wrap bg-white">
            <span class="text-16 text-main-600 item-hover__text transition-03">
                <i class="ph ph-sign-out"></i>
            </span>
            Logout
        </a>
    </div>
</div>