    <!-- ==================== Breadcrumb Start Here ==================== -->
<app-breadcrumb [title]="'Instructor'"></app-breadcrumb>

<!-- ==================== Breadcrumb End Here ==================== -->

    <!-- ================================ Instructor Section Start ==================================== -->
    <section class="instructor py-120 position-relative z-1">
        <img src="assets/images/shapes/shape2.png" alt="" class="shape one animation-scalation">
        <img src="assets/images/shapes/shape6.png" alt="" class="shape six animation-scalation">
        
        <div class="container">
            <div class="section-heading text-center">
                <h2 class="mb-24">Course Instructors</h2>
                <p class="">Join us on this journey of discovery, growth, and transformation. Together, let's shape a brighter future</p>
            </div>
            <div class="row gy-4">
                <div class="col-lg-4 col-sm-6">
                    <div class="instructor-item scale-hover-item bg-white rounded-16 p-12 h-100 border border-neutral-30">
                        <div class="rounded-12 overflow-hidden position-relative bg-dark-yellow">
                            <a [routerLink]="['instructor-details']"  class="w-100 h-100 d-flex align-items-end">
                                <img src="assets/images/thumbs/instructor-img4.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                            </a>
                        </div>
                        <div class="p-24 position-relative">
                            <div class="social-infos">
                                <ul class="social-list flex-align flex-column gap-12 mb-12">
    <li class="social-list__item">
        <a href="https://www.facebook.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-facebook-logo"></i></a>
    </li>
    <li class="social-list__item">
        <a href="https://www.twitter.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"> <i class="ph-bold ph-twitter-logo"></i></a>
    </li>
    <li class="social-list__item">
        <a href="https://www.linkedin.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-instagram-logo"></i></a>
    </li>
</ul>
                                <button class="social-infos__button flex-center w-44 h-44 bg-white text-main-600 rounded-circle text-2xl transition-2">
                                    <i class="ph-bold ph-plus"></i>
                                </button>
                            </div>
                            <div class="">
                                <h4 class="mb-28 pb-24 border-bottom border-neutral-50 mb-24 border-dashed border-0">
                                    <a [routerLink]="['instructor-details']"  class="link text-line-2">Devon Lane</a>
                                </h4>
                                <div class="flex-between gap-8 flex-wrap mb-16">
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-lightbulb"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">Web Developer</span>
                                    </div>
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-watch"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">7 Course</span>
                                    </div>
                                </div>
                                <div class="flex-between gap-8 flex-wrap">
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-users"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">15k Students</span>
                                    </div>
                                    <div class="flex-align gap-4">
                                        <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-lg text-neutral-700">
                                            4.6
                                            <span class="text-neutral-100">(2.4k)</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                                <a [routerLink]="['instructor-details']"  class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                                    View Profile
                                    <i class="ph ph-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="instructor-item scale-hover-item bg-white rounded-16 p-12 h-100 border border-neutral-30">
                        <div class="rounded-12 overflow-hidden position-relative bg-dark-yellow">
                            <a [routerLink]="['instructor-details']"  class="w-100 h-100 d-flex align-items-end">
                                <img src="assets/images/thumbs/instructor-img2.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                            </a>
                        </div>
                        <div class="p-24 position-relative">
                            <div class="social-infos">
                                <ul class="social-list flex-align flex-column gap-12 mb-12">
    <li class="social-list__item">
        <a href="https://www.facebook.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-facebook-logo"></i></a>
    </li>
    <li class="social-list__item">
        <a href="https://www.twitter.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"> <i class="ph-bold ph-twitter-logo"></i></a>
    </li>
    <li class="social-list__item">
        <a href="https://www.linkedin.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-instagram-logo"></i></a>
    </li>
</ul>
                                <button class="social-infos__button flex-center w-44 h-44 bg-white text-main-600 rounded-circle text-2xl transition-2">
                                    <i class="ph-bold ph-plus"></i>
                                </button>
                            </div>
                            <div class="">
                                <h4 class="mb-28 pb-24 border-bottom border-neutral-50 mb-24 border-dashed border-0">
                                    <a [routerLink]="['instructor-details']"  class="link text-line-2">John Doe</a>
                                </h4>
                                <div class="flex-between gap-8 flex-wrap mb-16">
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-lightbulb"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">WordPress Expert</span>
                                    </div>
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-watch"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">6 Course</span>
                                    </div>
                                </div>
                                <div class="flex-between gap-8 flex-wrap">
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-users"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">55k Students</span>
                                    </div>
                                    <div class="flex-align gap-4">
                                        <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-lg text-neutral-700">
                                            4.6
                                            <span class="text-neutral-100">(2.4k)</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                                <a [routerLink]="['instructor-details']"  class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                                    View Profile
                                    <i class="ph ph-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="instructor-item scale-hover-item bg-white rounded-16 p-12 h-100 border border-neutral-30">
                        <div class="rounded-12 overflow-hidden position-relative bg-dark-yellow">
                            <a [routerLink]="['instructor-details']"  class="w-100 h-100 d-flex align-items-end">
                                <img src="assets/images/thumbs/instructor-img3.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                            </a>
                        </div>
                        <div class="p-24 position-relative">
                            <div class="social-infos">
                                <ul class="social-list flex-align flex-column gap-12 mb-12">
    <li class="social-list__item">
        <a href="https://www.facebook.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-facebook-logo"></i></a>
    </li>
    <li class="social-list__item">
        <a href="https://www.twitter.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"> <i class="ph-bold ph-twitter-logo"></i></a>
    </li>
    <li class="social-list__item">
        <a href="https://www.linkedin.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-instagram-logo"></i></a>
    </li>
</ul>
                                <button class="social-infos__button flex-center w-44 h-44 bg-white text-main-600 rounded-circle text-2xl transition-2">
                                    <i class="ph-bold ph-plus"></i>
                                </button>
                            </div>
                            <div class="">
                                <h4 class="mb-28 pb-24 border-bottom border-neutral-50 mb-24 border-dashed border-0">
                                    <a [routerLink]="['instructor-details']"  class="link text-line-2">Alexandar</a>
                                </h4>
                                <div class="flex-between gap-8 flex-wrap mb-16">
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-lightbulb"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">UI/UX Designer</span>
                                    </div>
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-watch"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">12 Course</span>
                                    </div>
                                </div>
                                <div class="flex-between gap-8 flex-wrap">
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-users"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">36k Students</span>
                                    </div>
                                    <div class="flex-align gap-4">
                                        <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-lg text-neutral-700">
                                            4.6
                                            <span class="text-neutral-100">(2.4k)</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                                <a [routerLink]="['instructor-details']"  class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                                    View Profile
                                    <i class="ph ph-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="instructor-item scale-hover-item bg-white rounded-16 p-12 h-100 border border-neutral-30">
                        <div class="rounded-12 overflow-hidden position-relative bg-dark-yellow">
                            <a [routerLink]="['instructor-details']"  class="w-100 h-100 d-flex align-items-end">
                                <img src="assets/images/thumbs/instructor-img1.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                            </a>
                        </div>
                        <div class="p-24 position-relative">
                            <div class="social-infos">
                                <ul class="social-list flex-align flex-column gap-12 mb-12">
    <li class="social-list__item">
        <a href="https://www.facebook.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-facebook-logo"></i></a>
    </li>
    <li class="social-list__item">
        <a href="https://www.twitter.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"> <i class="ph-bold ph-twitter-logo"></i></a>
    </li>
    <li class="social-list__item">
        <a href="https://www.linkedin.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-instagram-logo"></i></a>
    </li>
</ul>
                                <button class="social-infos__button flex-center w-44 h-44 bg-white text-main-600 rounded-circle text-2xl transition-2">
                                    <i class="ph-bold ph-plus"></i>
                                </button>
                            </div>
                            <div class="">
                                <h4 class="mb-28 pb-24 border-bottom border-neutral-50 mb-24 border-dashed border-0">
                                    <a [routerLink]="['instructor-details']"  class="link text-line-2">Arlene McCoy</a>
                                </h4>
                                <div class="flex-between gap-8 flex-wrap mb-16">
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-lightbulb"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">Web Development</span>
                                    </div>
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-watch"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">6 Course</span>
                                    </div>
                                </div>
                                <div class="flex-between gap-8 flex-wrap">
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-users"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">55k Students</span>
                                    </div>
                                    <div class="flex-align gap-4">
                                        <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-lg text-neutral-700">
                                            4.6
                                            <span class="text-neutral-100">(2.4k)</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                                <a [routerLink]="['instructor-details']"  class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                                    View Profile
                                    <i class="ph ph-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="instructor-item scale-hover-item bg-white rounded-16 p-12 h-100 border border-neutral-30">
                        <div class="rounded-12 overflow-hidden position-relative bg-dark-yellow">
                            <a [routerLink]="['instructor-details']"  class="w-100 h-100 d-flex align-items-end">
                                <img src="assets/images/thumbs/instructor-img5.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                            </a>
                        </div>
                        <div class="p-24 position-relative">
                            <div class="social-infos">
                                <ul class="social-list flex-align flex-column gap-12 mb-12">
    <li class="social-list__item">
        <a href="https://www.facebook.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-facebook-logo"></i></a>
    </li>
    <li class="social-list__item">
        <a href="https://www.twitter.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"> <i class="ph-bold ph-twitter-logo"></i></a>
    </li>
    <li class="social-list__item">
        <a href="https://www.linkedin.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-instagram-logo"></i></a>
    </li>
</ul>
                                <button class="social-infos__button flex-center w-44 h-44 bg-white text-main-600 rounded-circle text-2xl transition-2">
                                    <i class="ph-bold ph-plus"></i>
                                </button>
                            </div>
                            <div class="">
                                <h4 class="mb-28 pb-24 border-bottom border-neutral-50 mb-24 border-dashed border-0">
                                    <a [routerLink]="['instructor-details']"  class="link text-line-2">Albert Flores</a>
                                </h4>
                                <div class="flex-between gap-8 flex-wrap mb-16">
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-lightbulb"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">Digital Marketing</span>
                                    </div>
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-watch"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">12 Course</span>
                                    </div>
                                </div>
                                <div class="flex-between gap-8 flex-wrap">
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-users"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">26k Students</span>
                                    </div>
                                    <div class="flex-align gap-4">
                                        <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-lg text-neutral-700">
                                            4.6
                                            <span class="text-neutral-100">(2.4k)</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                                <a [routerLink]="['instructor-details']"  class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                                    View Profile
                                    <i class="ph ph-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="instructor-item scale-hover-item bg-white rounded-16 p-12 h-100 border border-neutral-30">
                        <div class="rounded-12 overflow-hidden position-relative bg-dark-yellow">
                            <a [routerLink]="['instructor-details']"  class="w-100 h-100 d-flex align-items-end">
                                <img src="assets/images/thumbs/instructor-img6.png" alt="Course Image" class="scale-hover-item__img rounded-12 cover-img transition-2">
                            </a>
                        </div>
                        <div class="p-24 position-relative">
                            <div class="social-infos">
                                <ul class="social-list flex-align flex-column gap-12 mb-12">
    <li class="social-list__item">
        <a href="https://www.facebook.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-facebook-logo"></i></a>
    </li>
    <li class="social-list__item">
        <a href="https://www.twitter.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"> <i class="ph-bold ph-twitter-logo"></i></a>
    </li>
    <li class="social-list__item">
        <a href="https://www.linkedin.com" class=" flex-center border border-white text-white w-44 h-44 rounded-circle text-xl hover-text-main hover-bg-white"><i class="ph-bold ph-instagram-logo"></i></a>
    </li>
</ul>
                                <button class="social-infos__button flex-center w-44 h-44 bg-white text-main-600 rounded-circle text-2xl transition-2">
                                    <i class="ph-bold ph-plus"></i>
                                </button>
                            </div>
                            <div class="">
                                <h4 class="mb-28 pb-24 border-bottom border-neutral-50 mb-24 border-dashed border-0">
                                    <a [routerLink]="['instructor-details']"  class="link text-line-2">Kathryn Murphy</a>
                                </h4>
                                <div class="flex-between gap-8 flex-wrap mb-16">
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-lightbulb"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">Graphic Design</span>
                                    </div>
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-watch"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">5 Course</span>
                                    </div>
                                </div>
                                <div class="flex-between gap-8 flex-wrap">
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-users"></i></span>
                                        <span class="text-neutral-700 text-lg fw-medium">9k Students</span>
                                    </div>
                                    <div class="flex-align gap-4">
                                        <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-lg text-neutral-700">
                                            4.6
                                            <span class="text-neutral-100">(2.4k)</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                                <a [routerLink]="['instructor-details']"  class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
                                    View Profile
                                    <i class="ph ph-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="pagination mt-40 flex-align gap-12 flex-wrap justify-content-center">
                <li class="page-item">
                    <a class="page-link text-neutral-700 fw-semibold w-40 h-40 bg-main-25 rounded-circle hover-bg-main-600 border-neutral-30 hover-border-main-600 hover-text-white flex-center p-0" href="#"><i class="ph-bold ph-caret-left"></i></a>
                </li>
                <li class="page-item">
                    <a class="page-link text-neutral-700 fw-semibold w-40 h-40 bg-main-25 rounded-circle hover-bg-main-600 border-neutral-30 hover-border-main-600 hover-text-white flex-center p-0" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-neutral-700 fw-semibold w-40 h-40 bg-main-25 rounded-circle hover-bg-main-600 border-neutral-30 hover-border-main-600 hover-text-white flex-center p-0" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-neutral-700 fw-semibold w-40 h-40 bg-main-25 rounded-circle hover-bg-main-600 border-neutral-30 hover-border-main-600 hover-text-white flex-center p-0" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-neutral-700 fw-semibold w-40 h-40 bg-main-25 rounded-circle hover-bg-main-600 border-neutral-30 hover-border-main-600 hover-text-white flex-center p-0" href="#">...</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-neutral-700 fw-semibold w-40 h-40 bg-main-25 rounded-circle hover-bg-main-600 border-neutral-30 hover-border-main-600 hover-text-white flex-center p-0" href="#"><i class="ph-bold ph-caret-right"></i></a>
                </li>
            </ul>

        </div>
    </section>
    <!-- ================================ Instructor Section End ==================================== -->


    <!-- ================================= Certificate Section Start ================================= -->
<div class="certificate">
    <div class="container container--lg">
        <div class="certificate-box px-16 bg-main-600 rounded-16">
            <div class="container">
                <div class="position-relative py-80">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <div class="certificate__content">
                                <div class="flex-align gap-8 mb-16 wow bounceInDown">
                                    <span class="w-8 h-8 bg-white rounded-circle"></span>
                                    <h5 class="text-white mb-0">Get Certificate</h5>
                                </div>
                                <h2 class="text-white mb-40 fw-medium wow bounceIn">Get Quality Skills Certificate From the EduAll</h2>
                                <a href="" class="btn btn-white rounded-pill flex-align d-inline-flex gap-8 hover-bg-main-800 wow bounceInUp">
                                    Get Started Now
                                    <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 d-xl-block d-none">
                            <div class="certificate__thumb" data-aos="fade-up-left">    
                                <img src="assets/images/thumbs/certificate-img.png" alt="" data-tilt data-tilt-max="8" data-tilt-speed="500" data-tilt-perspective="5000" data-tilt-full-page-listening>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
<!-- ================================= Certificate Section End ================================= -->