    <!-- ==================== Breadcrumb Start Here ==================== -->
<app-breadcrumb [title]="'Favourite Course'"></app-breadcrumb>

<!-- ==================== Breadcrumb End Here ==================== -->

    <!-- =============================== Favorite Course Section Start ================================== -->
    <section class="favorite-course py-120">
        <div class="container">

            <div class="d-flex flex-wrap align-items-center justify-content-between mb-24">
                <span class="text-neutral-700"> Courses  Home Favourite Courses</span>
                <button type="button" class="btn btn-outline-main py-12 px-24 rounded-pill flex-align gap-8 aos-init aos-animate fw-semibold" data-aos="fade-left">
                    <i class="ph-bold ph-trash d-flex text-lg"></i>
                    Remove All
                </button>
            </div>
            
            <div class="row gy-4">
               <div class="col-lg-4 col-sm-6 wow fadeInUp"
     *ngFor="let course of courses"
     [attr.data-aos]="'fade-up'"
     [attr.data-aos-duration]="course.aosDelay">
  <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
    <div class="course-item__thumb rounded-12 overflow-hidden position-relative">
      <a [routerLink]="['/course-details']" class="w-100 h-100">
        <img [src]="course.image" alt="Course Image" class="course-item__img rounded-12 cover-img transition-2">
      </a>
      <div class="flex-align gap-8 bg-main-600 rounded-pill px-24 py-12 text-white position-absolute inset-block-start-0 inset-inline-start-0 mt-20 ms-20 z-1">
        <span class="text-2xl d-flex"><i class="ph ph-clock"></i></span>
        <span class="text-lg fw-medium">{{ course.duration }}</span>
      </div>
      <button type="button" class="wishlist-btn w-48 h-48 bg-white flex-center position-absolute inset-block-start-0 inset-inline-end-0 mt-20 me-20 z-1 text-2xl rounded-circle transition-2 text-white bg-main-two-600">
        <i class="ph ph-heart"></i>
      </button>
    </div>
    <div class="course-item__content">
      <div>
        <h4 class="mb-28">
          <a [routerLink]="['/course-details']" class="link text-line-2">{{ course.title }}</a>
        </h4>
        <div class="flex-between gap-8 flex-wrap mb-16">
          <div class="flex-align gap-8">
            <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-video-camera"></i></span>
            <span class="text-neutral-700 text-lg fw-medium">{{ course.lessons }} Lessons</span>
          </div>
          <div class="flex-align gap-8">
            <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-chart-bar"></i></span>
            <span class="text-neutral-700 text-lg fw-medium">{{ course.level }}</span>
          </div>
        </div>
        <div class="flex-between gap-8 flex-wrap">
          <div class="flex-align gap-4">
            <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
            <span class="text-lg text-neutral-700">
              {{ course.rating }}
              <span class="text-neutral-100">({{ course.reviews }})</span>
            </span>
          </div>
          <div class="flex-align gap-8">
            <span class="text-neutral-700 text-2xl d-flex">
              <img [src]="course.userImage" alt="User Image" class="w-32 h-32 object-fit-cover rounded-circle">
            </span>
            <span class="text-neutral-700 text-lg fw-medium">{{ course.userName }}</span>
          </div>
        </div>
      </div>
      <div class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
        <h4 class="mb-0 text-main-two-600">{{ course.price }}</h4>
        <a [routerLink]="['/apply-admission']" class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold" tabindex="0">
          Enroll Now
          <i class="ph ph-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>

            </div>
        </div>
    </section>
    <!-- =============================== Favorite Course Section End ================================== -->

    <!-- ================================= Certificate Section Start ================================= -->
<div class="certificate">
    <div class="container container--lg">
        <div class="certificate-box px-16 bg-main-600 rounded-16">
            <div class="container">
                <div class="position-relative py-80">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <div class="certificate__content">
                                <div class="flex-align gap-8 mb-16 wow bounceInDown">
                                    <span class="w-8 h-8 bg-white rounded-circle"></span>
                                    <h5 class="text-white mb-0">Get Certificate</h5>
                                </div>
                                <h2 class="text-white mb-40 fw-medium wow bounceIn">Get Quality Skills Certificate From the EduAll</h2>
                                <a href="" class="btn btn-white rounded-pill flex-align d-inline-flex gap-8 hover-bg-main-800 wow bounceInUp">
                                    Get Started Now
                                    <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 d-xl-block d-none">
                            <div class="certificate__thumb" data-aos="fade-up-left">    
                                <img src="assets/images/thumbs/certificate-img.png" alt="" data-tilt data-tilt-max="8" data-tilt-speed="500" data-tilt-perspective="5000" data-tilt-full-page-listening>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
<!-- ================================= Certificate Section End ================================= -->