<!-- Overlay -->
<div class="side-overlay" [ngStyle]="{ 'display': sidebarVisible ? 'block' : 'none' }" (click)="hideSidebar()">
</div>


<div class="dashbord bg-main-25">
    <div class="d-flex">


        <!-- ========Dashdord Sidebar start======== -->
        <app-dashboard-sidebar [sidebarVisible]="sidebarVisible" (closeSidebar)="hideSidebar()">
        </app-dashboard-sidebar>
        <!-- ========Dashdord Sidebar end======== -->


        <div class="dashbord-body my-profile flex-grow-1">
            <!-- =====messsage dashbord nab start======== -->
            <app-admin-nav (toggleSidebar)="toggleSidebar()"></app-admin-nav>
            <!-- =====message nab end======== -->

            <!-- ============Feedbacks start============ -->
            <div class="px-24 py-24">

                <div class="px-24 py-24 bg-white rounded-10">
                    <div class="d-flex align-items-center justify-content-between mb-24">
                        <h6 class="mb-0 fw-medium">Reviews</h6>
                    </div>
                    <div class="mb-24">

                        <div class="overflow-y-auto">
                            <table id="example-five" class="display min-w-max w-100">
                                <thead>
                                    <tr class="bg-main-25 border-bottom border-neutral-30">
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Course</th>
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Reviews</th>
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Feedback</th>
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of projects"
                                        class="hover-bg-neutral-20 border-bottom transition-03">
                                        <td class="py-28 px-20 shadow-none">
                                            <span class="fw-normal text-12 text-neutral-500">{{ item.title }}</span>
                                        </td>
                                        <td class="text-14 fw-normal py-28 px-20 shadow-none">
                                            <div>
                                                <ul class="d-flex align-items-center gap-6">
                                                    <li *ngFor="let i of [1,2,3,4]" class="text-20 text-warning-600"><i
                                                            class="ph-fill ph-star"></i></li>
                                                    <li class="text-20 text-warning-600"><i
                                                            class="ph-fill ph-star-half"></i></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td class="py-28 px-20 shadow-none">({{ item.reviews }} Reviews)</td>
                                        <td class="py-28 px-20 shadow-none">
                                            <div class="d-flex align-items-center gap-12 justify-content-end">
                                                <button type="button" class="text-24 text-neutral-500"><i
                                                        class="ph-bold ph-pencil-simple-line"></i></button>
                                                <button type="button" class="text-24 text-neutral-500"><i
                                                        class="ph-bold ph-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>

                    <div class="d-flex align-items-center gap-24 justify-content-between flex-wrap">
                        <div class="form-check form-switch">
                            <input class="form-check-input focus-box-shadow" type="checkbox" role="switch"
                                id="flexSwitchCheckDefault">
                            <label class="form-check-label text-14 fw-normal text-neutral-500"
                                for="flexSwitchCheckDefault">Dense</label>
                        </div>
                        <div class="d-flex align-items-center gap-40 flex-wrap">

                            <div class="d-flex align-items-center gap-16">
                                <span class="fw-normal text-14 text-neutral-500">Rows per page:</span>
                                <select
                                    class="form-select w-auto pe-32 text-14 fw-normal text-neutral-500 bg-transparent border-0">
                                    <option value="1">12</option>
                                    <option value="1">13</option>
                                    <option value="1">11</option>
                                    <option value="1">15</option>
                                </select>
                            </div>

                            <div class="d-flex align-items-center gap-16">
                                <span class="fw-normal text-14 text-neutral-500">1-12 of 100</span>
                                <div class="d-flex align-items-center gpa-8">
                                    <span class="text-20 text-neutral-500">
                                        <i class="ph-bold ph-caret-left"></i>
                                    </span>
                                    <span class="text-20 text-neutral-500">
                                        <i class="ph-bold ph-caret-right"></i>
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <!-- ============Feedbacks end============ -->

            <!-- =========message profile footer start============== -->
            <div class="bg-neutral-20 border-neutral-40 border-top px-24 py-16 mt-auto">
                <div class="d-flex align-items-center gap-24 justify-content-between flex-wrap">
                    <p class="fw-medium text-14 text-neutral-500">
                        Copyright ©2025
                        <a [routerLink]="['/admin-dashbord']" class="text-main-600 fw-medium">EduAll</a>.
                        All Rights Reserved
                    </p>
                    <div class="d-flex align-items-center gap-24">
                        <a href="#" class="fw-medium text-14 text-neutral-500 hover-text-main-600">Privacy policy</a>
                        <a href="#" class="fw-medium text-14 text-neutral-500 hover-text-main-600">Privacy policy</a>
                    </div>
                </div>
            </div>
            <!-- =========message profile footer end============== -->
        </div>
        <!-- ==========message dashbord end============ -->
    </div>
</div>