    <!-- ==================== Breadcrumb Start Here ==================== -->
<app-breadcrumb [title]="'Pricing plan'"></app-breadcrumb>

<!-- ==================== Breadcrumb End Here ==================== -->

    <!-- =============================== Favorite Course Section Start ================================== -->
    <section class="favorite-course py-120">
        <div class="container">

            <div class="section-heading text-center">
                <div class="flex-align d-inline-flex gap-8 mb-16">
                    <span class="text-main-600 text-2xl d-flex"><i class="ph-bold ph-book-open"></i></span>
                    <h5 class="text-main-600 mb-0">Subscription Plan</h5>
                </div>
                <h2 class="mb-24">Affordable Pricing Packages</h2>
                <p class="">We embrace innovation and creativity as catalysts for positive change, driving forward-thinking research, teaching methodologies</p>
            </div>

            <div class="mb-40 d-flex align-items-center gap-24 justify-content-center">
                <span class="text-neutral-700 fw-semibold">Monthly</span>
                <div class="form-check form-switch">
                    <input class="form-check-input shadow-none py-10 px-24" type="checkbox" role="switch">
                </div>
                <span class="text-neutral-700 fw-semibold">Yearly <span class="text-main-600">(Save 30%) </span> </span>
            </div>
            
            <div class="row gy-4">
                <div class="col-xl-4 col-md-6 aos-init" data-aos="fade-up" data-aos-duration="600">
                    <div class="bg-white border border-neutral-30 animation-item rounded-16 p-12">
                        <div class="bg-main-25 p-32 rounded-16 transition-2 border border-neutral-30 overflow-hidden position-relative">
                            <span class="positioned-rotation text-main-600 fw-bold text-lg bg-white d-block text-center p-6">Basic Plan</span>
                            <div class="w-84 h-84 bg-white p-16 box-shadow-md rounded-circle mx-auto d-inline-flex align-items-center justify-content-center position-relative text-main-600 text-44  border border-neutral-30">
                                <i class="ph ph-house"></i>
                            </div>
                            <h1 class="display-4 fw-bold mb-0 mt-32 text-neutral-700 transition-2">$99<span class="text-sm fw-normal">/Per month</span> </h1>
                            <span class="d-block border border-neutral-30 my-24 border-dashed"></span>
                            <ul class="d-flex flex-column gap-16">
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="200">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md fw-medium">Up to 05 users monthly</span>
                                </li>
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="400">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md fw-medium">Free 5 host & domain</span>
                                </li>
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="600">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md fw-medium">Custom infrastructure</span>
                                </li>
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="800">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md fw-medium">Access to all our room</span>
                                </li>
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="800">
                                    <i class="text-danger-600 ph-bold ph-x"></i>
                                    <span class="text-neutral-500 text-md fw-medium">24/7 dedicated Support</span>
                                </li>
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="800">
                                    <i class="text-danger-600 ph-bold ph-x"></i>
                                    <span class="text-neutral-500 text-md fw-medium">Unlimited updates</span>
                                </li>
                            </ul>
                            <div class="mt-40">
                                <a [routerLink]="['/sign-in']"  class="btn btn-main rounded-pill flex-align gap-8">
                                    Get Started
                                    <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                                </a>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 aos-init" data-aos="fade-up" data-aos-duration="800">
                    <div class="bg-white border border-neutral-30 animation-item rounded-16 p-12">
                        <div class="bg-main-25 p-32 rounded-16 transition-2 border border-neutral-30 overflow-hidden position-relative">
                            <span class="positioned-rotation text-main-600 fw-bold text-lg bg-white d-block text-center p-6">Standard Plan</span>
                            <div class="w-84 h-84 bg-white p-16 box-shadow-md rounded-circle mx-auto d-inline-flex align-items-center justify-content-center position-relative text-main-600 text-44  border border-neutral-30">
                                <i class="ph-bold ph-tag"></i>
                            </div>
                            <h1 class="display-4 fw-bold mb-0 mt-32 text-neutral-700 transition-2">$129<span class="text-sm fw-normal">/Per month</span> </h1>
                            <span class="d-block border border-neutral-30 my-24 border-dashed"></span>
                            <ul class="d-flex flex-column gap-16">
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="200">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md fw-medium">Up to 05 users monthly</span>
                                </li>
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="400">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md fw-medium">Free 5 host & domain</span>
                                </li>
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="600">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md fw-medium">Custom infrastructure</span>
                                </li>
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="800">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md fw-medium">Access to all our room</span>
                                </li>
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="800">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md fw-medium">24/7 dedicated Support</span>
                                </li>
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="800">
                                    <i class="text-danger-600 ph-bold ph-x"></i>
                                    <span class="text-neutral-500 text-md fw-medium">Unlimited updates</span>
                                </li>
                            </ul>
                            <div class="mt-40">
                                <a [routerLink]="['/sign-in']"  class="btn btn-main rounded-pill flex-align gap-8">
                                    Get Started
                                    <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                                </a>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 aos-init" data-aos="fade-up" data-aos-duration="1000">
                    <div class="bg-white border border-neutral-30 animation-item rounded-16 p-12">
                        <div class="bg-main-25 p-32 rounded-16 transition-2 border border-neutral-30 overflow-hidden position-relative">
                            <span class="positioned-rotation text-main-600 fw-bold text-lg bg-white d-block text-center p-6">Premium Plan</span>
                            <div class="w-84 h-84 bg-white p-16 box-shadow-md rounded-circle mx-auto d-inline-flex align-items-center justify-content-center position-relative text-main-600 text-44  border border-neutral-30">
                                <i class="ph-bold ph-piggy-bank"></i>
                            </div>
                            <h1 class="display-4 fw-bold mb-0 mt-32 text-neutral-700 transition-2">$199<span class="text-sm fw-normal">/Per month</span> </h1>
                            <span class="d-block border border-neutral-30 my-24 border-dashed"></span>
                            <ul class="d-flex flex-column gap-16">
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="200">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md fw-medium">Up to 05 users monthly</span>
                                </li>
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="400">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md fw-medium">Free 5 host & domain</span>
                                </li>
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="600">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md fw-medium">Custom infrastructure</span>
                                </li>
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="800">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md fw-medium">Access to all our room</span>
                                </li>
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="800">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md fw-medium">24/7 dedicated Support</span>
                                </li>
                                <li class="flex-align gap-12 aos-init aos-animate text-neutral-700" data-aos="fade-left" data-aos-duration="800">
                                    <img src="assets/images/icons/check.png" alt="">
                                    <span class="text-neutral-500 text-md fw-medium">Unlimited updates</span>
                                </li>
                            </ul>
                            <div class="mt-40">
                                <a [routerLink]="['/sign-in']"  class="btn btn-main rounded-pill flex-align gap-8">
                                    Get Started
                                    <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                                </a>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =============================== Favorite Course Section End ================================== -->

    <!-- ================================= Certificate Section Start ================================= -->
<div class="certificate">
    <div class="container container--lg">
        <div class="certificate-box px-16 bg-main-600 rounded-16">
            <div class="container">
                <div class="position-relative py-80">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <div class="certificate__content">
                                <div class="flex-align gap-8 mb-16 wow bounceInDown">
                                    <span class="w-8 h-8 bg-white rounded-circle"></span>
                                    <h5 class="text-white mb-0">Get Certificate</h5>
                                </div>
                                <h2 class="text-white mb-40 fw-medium wow bounceIn">Get Quality Skills Certificate From the EduAll</h2>
                                <a href="" class="btn btn-white rounded-pill flex-align d-inline-flex gap-8 hover-bg-main-800 wow bounceInUp">
                                    Get Started Now
                                    <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 d-xl-block d-none">
                            <div class="certificate__thumb" data-aos="fade-up-left">    
                                <img src="assets/images/thumbs/certificate-img.png" alt="" data-tilt data-tilt-max="8" data-tilt-speed="500" data-tilt-perspective="5000" data-tilt-full-page-listening>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
<!-- ================================= Certificate Section End ================================= -->