<section class="bg-main-25 explore-course position-relative z-1 pb-80 w-100 h-100">
    <div class="container container--lg">
        <div class="d-flex gap-24 mt--120 z-2 position-relative">
            <div class="student-overlay-sidebar"></div>

            <!-- ========Dashdord Sidebar start======== -->
           <app-instructor-sidebar class="student-dashboard-sidebar px-20 py-24 max-w-288-px bg-white rounded-10 w-100 h-100 position-relative"></app-instructor-sidebar>
            <!-- ========Dashdord Sidebar end======== -->

            <!-- ============Feedbacks start============ -->
            <div class="w-100">

                <div class="px-24 py-24 bg-white rounded-10">
                    <div class="d-flex align-items-center gap-8 justify-content-between mb-24">
                        <h6 class="mb-0 fw-medium">Announcements</h6>
                        <button type="button"
                            class="toggle-student-dashbord-button text-neutral-900 text-24 d-xl-none d-block">
                            <i class="ph-bold ph-list"></i>
                        </button>
                    </div>

                    <div class="row gy-4">

                        <div class="col-lg-4 col-md-2">
                            <div class="">
                                <span class="fw-normal text-14 text-neutral-500 mb-12">Courses</span>
                                <select
                                    class="form-select pe-24 border-neutral-40 border rounded-pill bg-main-25 px-20 py-10 w-100 text-12 fw-normal  text-neutral-700 line-height-105">
                                    <option value="1">All</option>
                                    <option value="2">Everyone</option>
                                    <option value="3">One</option>
                                    <option value="4">Two</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-2">
                            <div class="">
                                <span class="fw-normal text-14 text-neutral-500 mb-12">Sort By :</span>
                                <select
                                    class="form-select pe-24 border-neutral-40 border rounded-pill bg-main-25 px-20 py-10 w-100 text-12 fw-normal  text-neutral-700 line-height-105">
                                    <option value="1">Default</option>
                                    <option value="2">date</option>
                                    <option value="3">Category</option>
                                    <option value="4">Rating</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-2">
                            <div class="">
                                <span class="fw-normal text-14 text-neutral-500 mb-12">Sort By Offer :</span>
                                <select
                                    class="form-select pe-24 border-neutral-40 border rounded-pill bg-main-25 px-20 py-10 w-100 text-12 fw-normal  text-neutral-700 line-height-105">
                                    <option value="1">Free</option>
                                    <option value="2">Basic</option>
                                    <option value="3">Standard</option>
                                    <option value="4">Premium</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="mb-24">

                        <div class="">
                            <table id="example-five" class="display min-w-max w-100 overflow-x-auto">
                                <thead>
                                    <tr class="bg-main-25">
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Assignment Name</th>
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Course Name</th>
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Total Marks</th>
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Total Submit</th>
                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of quizList" class="hover-bg-neutral-20 transition-03">
                                        <td class="py-28 px-20 shadow-none">
                                            <span class="fw-normal text-14 text-neutral-500">{{ item.title }}</span>
                                        </td>
                                        <td class="text-14 fw-normal text-neutral-500 py-28 px-20 shadow-none">
                                            {{ item.course }}
                                        </td>
                                        <td class="py-28 px-20 shadow-none text-14 fw-normal text-neutral-500">
                                            {{ item.questions }}
                                        </td>
                                        <td class="py-28 px-20 shadow-none text-14 fw-normal text-neutral-500">
                                            {{ item.attempts }}
                                        </td>
                                        <td class="py-28 px-20 shadow-none">
                                            <div class="d-flex align-items-center gap-12">
                                                <button type="button"
                                                    class="text-neutral-500 text-24 hover-text-main-600 transition-03">
                                                    <i class="ph ph-pencil-simple-line"></i>
                                                </button>
                                                <button type="button"
                                                    class="text-neutral-500 text-24 hover-text-main-600 transition-03">
                                                    <i class="ph ph-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>

                    <div class="d-flex align-items-center gap-24 justify-content-between flex-wrap">
                        <div class="form-check form-switch d-flex align-items-center gap-8">
                            <input class="form-check-input focus-box-shadow w-60 h-32" type="checkbox" role="switch"
                                id="flexSwitchCheckDefault">
                            <label class="form-check-label text-14 fw-normal text-neutral-500"
                                for="flexSwitchCheckDefault">Dense</label>
                        </div>
                        <div class="d-flex align-items-center gap-40 flex-wrap">

                            <div class="d-flex align-items-center gap-16">
                                <span class="fw-normal text-14 text-neutral-500">Rows per page:</span>
                                <select
                                    class="form-select w-auto pe-32 text-14 fw-normal text-neutral-500 bg-transparent border-0">
                                    <option value="1">12</option>
                                    <option value="1">13</option>
                                    <option value="1">11</option>
                                    <option value="1">15</option>
                                </select>
                            </div>

                            <div class="d-flex align-items-center gap-16">
                                <span class="fw-normal text-14 text-neutral-500">1-12 of 100</span>
                                <div class="d-flex align-items-center gpa-8">
                                    <span class="text-20 text-neutral-500">
                                        <i class="ph-bold ph-caret-left"></i>
                                    </span>
                                    <span class="text-20 text-neutral-500">
                                        <i class="ph-bold ph-caret-right"></i>
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <!-- ============Feedbacks end============ -->
        </div>
    </div>
</section>