<div class="dashbord bg-main-25">
    <div class="d-flex">

        <!-- ========Dashdord Sidebar start======== -->
       <app-dashboard-sidebar></app-dashboard-sidebar>
        <!-- ========Dashdord Sidebar end======== -->

        <div class="dashbord-body my-profile flex-grow-1">
            <!-- =====messsage dashbord nab start======== -->
            <div class="px-24 py-16 bg-neutral-10 border-bottom border-neutral-40 w-100">
                <div class="d-flex align-items-center justify-content-between gap-24 w-100">
                    <div class="d-flex align-items-center gap-24">
                        <button type="button"
                            class="toggle-dashbord-button text-neutral-500 text-28 line-height-1 d-lg-none d-block">
                            <i class="ph-bold ph-list"></i>
                        </button>
                        <div class="max-w-357-px position-relative d-sm-block d-none">
                            <form action="#">
                                <input type="text" placeholder="Search"
                                    class="ps-16 pe-36 py-9 border border-neutral-40 rounded-pill focus-visible-outline focus-border-main-600 text-14 line-height-1">
                                <button type="button"
                                    class="w-28 h-28 bg-main-600 text-white text-16 rounded-circle justify-content-center align-items-center d-flex position-absolute top-50-percent translate-middle-y inset-inline-end-0-px me-4">
                                    <i class="ph-bold ph-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="d-flex align-items-center gap-16">
                        <a href="#"
                            class="px-20 py-10 border-main-600 border rounded-pill text-14 text-main-600 hover-bg-main-600 hover-text-white hover-border-600 d-lg-block d-none line-height-1">Create
                            a New Course</a>
                        <div
                            class="w-36 h-36 border-neutral-50 border rounded-pill justify-content-center align-items-center d-flex text-20 text-neutral-500 hover-bg-main-600  transition-03">
                            <button type="button" class="hover-text-white transition-03">
                                <i class="ph ph-translate"></i>
                            </button>
                        </div>
                        <div class="position-relative">
                            <div
                                class="w-36 h-36 border-neutral-50 border rounded-pill justify-content-center align-items-center d-flex text-20 text-neutral-500 position-relative">
                                <div>
                                    <button
                                        class="dropdown-toggle w-36 h-36 border-neutral-50 border rounded-pill hover-bg-main-600 hover-text-white transition-03"
                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="ph ph-bell-simple"></i>
                                    </button>
                                    <ul class="dropdown-menu rounded-12">

                                        <li>
                                            <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12"
                                                href="javascript:void(0)">
                                                <div class="d-flex w-100 justify-content-between gap-12">
                                                    <div class="d-flex align-items-center gap-12 ">
                                                        <span class="w-36 h-36">
                                                            <img src="assets/images/thumbs/reviewer-img1.png" alt="">
                                                        </span>
                                                        <div>
                                                            <span class="text-md fw-semibold text-line-1">Ronald
                                                                Richards</span>
                                                            <p class="text-sm text-line-1 text-neutral-300">You can
                                                                stitch between artboards</p>
                                                        </div>
                                                    </div>
                                                    <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12"
                                                href="javascript:void(0)">
                                                <div class="d-flex w-100 justify-content-between gap-12">
                                                    <div class="d-flex align-items-center gap-12 ">
                                                        <span class="w-36 h-36"><img
                                                                src="assets/images/thumbs/reviewer-img4.png"
                                                                alt=""></span>
                                                        <div>
                                                            <span class="text-md fw-semibold text-line-1">Arlene
                                                                McCoy</span>
                                                            <p class="text-sm text-line-1 text-neutral-300">Invite you
                                                                to prototyping</p>
                                                        </div>
                                                    </div>
                                                    <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12"
                                                href="javascript:void(0)">
                                                <div class="d-flex w-100 justify-content-between gap-12">
                                                    <div class="d-flex align-items-center gap-12 ">
                                                        <span class="w-36 h-36"><img
                                                                src="assets/images/thumbs/instructor-details-thumb.png"
                                                                alt=""></span>
                                                        <div>
                                                            <span class="text-md fw-semibold text-line-1">Annette
                                                                Black</span>
                                                            <p class="text-sm text-line-1 text-neutral-300">Invite you
                                                                to prototyping</p>
                                                        </div>
                                                    </div>
                                                    <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="position-absolute inset-inline-start-22px top--20-percent">
                                    <span
                                        class="bg-main-600 text-white w-16 h-16 rounded-circle text-9 d-flex justify-content-center align-items-center">2</span>
                                </div>
                            </div>
                        </div>

                        <div
                            class="w-36 h-36 border-neutral-50 border rounded-pill justify-content-center align-items-center d-flex text-20 text-neutral-500 hover-bg-main-600 transition-03">
                            <button type="button" class=" hover-text-white transition-03">
                                <i class="ph ph-chat-dots"></i>
                            </button>
                        </div>

                        <div class="dropdown">
                            <button class="dropdown-toggle w-36 h-36 border-neutral-50 border rounded-pill"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="assets/images/thumbs/testimonials-three-img1.png" alt="">
                            </button>
                            <ul class="dropdown-menu rounded-12">
                                <li>
                                    <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03"
                                    [routerLink]="['/my-profile']">
                                        <span><i class="ph ph-user-circle"></i></span>
                                        <span>My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03"
                                        [routerLink]="['/dashbord-settings']">
                                        <span><i class="ph ph-gear"></i></span>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03"
                                        [routerLink]="['/sign-in']">
                                        <span><i class="ph ph-power"></i></span>
                                        <span>Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- =====message nab end======== -->
            <!-- =========message profile start=========== -->
            <div class="px-24 py-24">
                <div class="d-flex align-items-center gap-16 justify-content-between flex-wrap mb-24">
                    <h4 class="text-neutral-500 fw-semibold">Courses</h4>
                    <div class="d-flex align-items-center gap-8">

                        <ul class="nav nav-pills common-tab gap-16" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link rounded-pill bg-white text-md fw-medium text-neutral-500 flex-center w-100 gap-8 active"
                                    id="pills-categories-tab" data-bs-toggle="pill" data-bs-target="#pills-categories"
                                    type="button" role="tab" aria-controls="pills-categories" aria-selected="true">
                                    Publish
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link rounded-pill bg-white text-md fw-medium text-neutral-500 flex-center w-100 gap-8"
                                    id="pills-design-tab" data-bs-toggle="pill" data-bs-target="#pills-design"
                                    type="button" role="tab" aria-controls="pills-design" aria-selected="false">
                                    Pending
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link rounded-pill bg-white text-md fw-medium text-neutral-500 d-flex justify-content-center align-items-center w-100 gap-2"
                                    id="pills-webDesign-tab" data-bs-toggle="pill" data-bs-target="#pills-webDesign"
                                    type="button" role="tab" aria-controls="pills-webDesign" aria-selected="false">
                                    Draft
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content" id="pills-tabContent">

                    <div class="tab-pane fade show active" id="pills-categories" role="tabpanel"
                        aria-labelledby="pills-categories-tab" tabindex="0">
                        <div class="row gy-4">

                            
                                <div class="col-xl-3 col-md-6 col-sm-6 wow fadeInUp" data-aos="fade-up"
                                    data-aos-duration="600" *ngFor="let course of courses">
                                    <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                                        <div class="course-item__thumb rounded-12 overflow-hidden">
                                            <a [routerLink]="['/course-details']" class="w-100 h-100">
                                                <img [src]="course.image" alt="Course Image"
                                                    class="course-item__img rounded-12 cover-img transition-2" />
                                            </a>
                                        </div>
                                        <div class="course-item__content">
                                            <div>
                                                <span
                                                    class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">{{
                                                    course.category }}</span>

                                                <div class="flex-between gap-8 flex-wrap mb-16">
                                                    <div class="flex-align gap-8 flex-wrap">
                                                        <span class="text-neutral-700 text-2xl d-flex"><i
                                                                class="ph-bold ph-video-camera"></i></span>
                                                        <span class="text-neutral-700 text-16 fw-medium">{{
                                                            course.lessons
                                                            }}</span>
                                                    </div>
                                                    <div class="flex-align gap-8 flex-wrap">
                                                        <span class="text-neutral-700 text-2xl d-flex"><i
                                                                class="ph ph-user-circle"></i>
                                                        </span>
                                                        <span class="text-neutral-700 text-16 fw-medium">{{
                                                            course.students
                                                            }}</span>
                                                    </div>
                                                </div>

                                                <h4 class="mb-28">
                                                    <a [routerLink]="['/course-details']"
                                                        class="link text-line-2 fw-semibold">{{ course.title }}</a>
                                                </h4>
                                            </div>

                                            <div
                                                class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 flex-wrap">
                                                <div>
                                                    <ul class="d-flex align-items-center gap-6 mb-8"
                                                        [innerHTML]="course.ratingHtml"></ul>
                                                    <span class="fw-normal text-14 text-neutral-300">{{
                                                        course.ratingSummary
                                                        }}</span>
                                                </div>

                                                <div class="d-flex align-items-center gap-8">
                                                    <img [src]="course.instructorImage" alt="" class="w-28 h-28" />
                                                    <span class="fw-normal text-14 text-neutral-400">{{
                                                        course.instructorName
                                                        }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            


                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-design" role="tabpanel" aria-labelledby="pills-design-tab"
                        tabindex="0">
                        <div class="row gy-4">

                            <div class="col-xl-3 col-md-6 col-sm-6 wow fadeInUp" data-aos="fade-up"
                                data-aos-duration="600">
                                <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                                    <div class="course-item__thumb rounded-12 overflow-hidden">
                                        <a [routerLink]="['/course-details']" class="w-100 h-100">
                                            <img src="assets/images/thumbs/dashbord-courses-img1.png" alt="Course Image"
                                                class="course-item__img rounded-12 cover-img transition-2">
                                        </a>
                                    </div>
                                    <div class="course-item__content">
                                        <div class="">
                                            <span
                                                class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">Finance</span>
                                            <div class="flex-between gap-8 flex-wrap mb-16">
                                                <div class="flex-align gap-8 flex-wrap">
                                                    <span class="text-neutral-700 text-2xl d-flex"><i
                                                            class="ph-bold ph-video-camera"></i></span>
                                                    <span class="text-neutral-700 text-16 fw-medium">25 Lessons</span>
                                                </div>
                                                <div class="flex-align gap-8 flex-wrap">
                                                    <span class="text-neutral-700 text-2xl d-flex"><i
                                                            class="ph ph-user-circle"></i> </span>
                                                    <span class="text-neutral-700 text-16 fw-medium">2.6K
                                                        Students</span>
                                                </div>
                                            </div>
                                            <h4 class="mb-28">
                                                <a [routerLink]="['/course-details']"
                                                    class="link text-line-2 fw-semibold">Financial Accounting</a>
                                            </h4>
                                        </div>
                                        <div
                                            class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 flex-wrap">
                                            <div>
                                                <ul class="d-flex align-items-center gap-6 mb-8">
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i
                                                            class="ph-fill ph-star-half"></i>
                                                </ul>
                                                <span class="fw-normal text-14 text-neutral-300">4.8/5 (1.5K
                                                    Reviews)</span>
                                            </div>
                                            <div class="d-flex align-items-center gap-8">
                                                <img src="assets/images/thumbs/enroll-student-img4.png" alt=""
                                                    class="w-28 h-28">
                                                <span class="fw-normal text-14 text-neutral-400">Annette Black</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 col-sm-6 wow fadeInUp" data-aos="fade-up"
                                data-aos-duration="700">
                                <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                                    <div class="course-item__thumb rounded-12 overflow-hidden">
                                        <a [routerLink]="['/course-details']" class="w-100 h-100">
                                            <img src="assets/images/thumbs/dashbord-courses-img2.png" alt="Course Image"
                                                class="course-item__img rounded-12 cover-img transition-2">
                                        </a>
                                    </div>
                                    <div class="course-item__content">
                                        <div class="">
                                            <span
                                                class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">Design</span>
                                            <div class="flex-between gap-8 flex-wrap mb-16">
                                                <div class="flex-align gap-8 flex-wrap">
                                                    <span class="text-neutral-700 text-2xl d-flex"><i
                                                            class="ph-bold ph-video-camera"></i></span>
                                                    <span class="text-neutral-700 text-16 fw-medium">25 Lessons</span>
                                                </div>
                                                <div class="flex-align gap-8 flex-wrap">
                                                    <span class="text-neutral-700 text-2xl d-flex"><i
                                                            class="ph ph-user-circle"></i> </span>
                                                    <span class="text-neutral-700 text-16 fw-medium">2.6K
                                                        Students</span>
                                                </div>
                                            </div>
                                            <h4 class="mb-28">
                                                <a [routerLink]="['/course-details']"
                                                    class="link text-line-2 fw-semibold">Introduction to Animation</a>
                                            </h4>
                                        </div>
                                        <div
                                            class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 flex-wrap">
                                            <div>
                                                <ul class="d-flex align-items-center gap-6 mb-8">
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i
                                                            class="ph-fill ph-star-half"></i>
                                                </ul>
                                                <span class="fw-normal text-14 text-neutral-300">4.8/5 (1.5K
                                                    Reviews)</span>
                                            </div>
                                            <div class="d-flex align-items-center gap-8">
                                                <img src="assets/images/thumbs/user-two-img5.png" alt=""
                                                    class="w-28 h-28">
                                                <span class="fw-normal text-14 text-neutral-400">Jenny Wilson</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 col-sm-6 wow fadeInUp" data-aos="fade-up"
                                data-aos-duration="800">
                                <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                                    <div class="course-item__thumb rounded-12 overflow-hidden">
                                        <a [routerLink]="['/course-details']" class="w-100 h-100">
                                            <img src="assets/images/thumbs/dashbord-courses-img3.png" alt="Course Image"
                                                class="course-item__img rounded-12 cover-img transition-2">
                                        </a>
                                    </div>
                                    <div class="course-item__content">
                                        <div class="">
                                            <span
                                                class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">Data
                                                & Tech</span>
                                            <div class="flex-between gap-8 flex-wrap mb-16">
                                                <div class="flex-align gap-8 flex-wrap">
                                                    <span class="text-neutral-700 text-2xl d-flex"><i
                                                            class="ph-bold ph-video-camera"></i></span>
                                                    <span class="text-neutral-700 text-16 fw-medium">25 Lessons</span>
                                                </div>
                                                <div class="flex-align gap-8 flex-wrap">
                                                    <span class="text-neutral-700 text-2xl d-flex"><i
                                                            class="ph ph-user-circle"></i> </span>
                                                    <span class="text-neutral-700 text-16 fw-medium">2.6K
                                                        Students</span>
                                                </div>
                                            </div>
                                            <h4 class="mb-28">
                                                <a [routerLink]="['/course-details']"
                                                    class="link text-line-2 fw-semibold">Graphic Design</a>
                                            </h4>
                                        </div>
                                        <div
                                            class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 flex-wrap">
                                            <div>
                                                <ul class="d-flex align-items-center gap-6 mb-8">
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i
                                                            class="ph-fill ph-star-half"></i>
                                                </ul>
                                                <span class="fw-normal text-14 text-neutral-300">4.8/5 (1.5K
                                                    Reviews)</span>
                                            </div>
                                            <div class="d-flex align-items-center gap-8">
                                                <img src="assets/images/thumbs/testimonial-five-img2.png" alt=""
                                                    class="w-28 h-28">
                                                <span class="fw-normal text-14 text-neutral-400">Courtney Henry</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 col-sm-6 wow fadeInUp" data-aos="fade-up"
                                data-aos-duration="900">
                                <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                                    <div class="course-item__thumb rounded-12 overflow-hidden">
                                        <a [routerLink]="['/course-details']" class="w-100 h-100">
                                            <img src="assets/images/thumbs/dashbord-courses-img4.png" alt="Course Image"
                                                class="course-item__img rounded-12 cover-img transition-2">
                                        </a>
                                    </div>
                                    <div class="course-item__content">
                                        <div class="">
                                            <span
                                                class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">Creative
                                                Arts</span>
                                            <div class="flex-between gap-8 flex-wrap mb-16">
                                                <div class="flex-align gap-8 flex-wrap">
                                                    <span class="text-neutral-700 text-2xl d-flex"><i
                                                            class="ph-bold ph-video-camera"></i></span>
                                                    <span class="text-neutral-700 text-16 fw-medium">25 Lessons</span>
                                                </div>
                                                <div class="flex-align gap-8 flex-wrap">
                                                    <span class="text-neutral-700 text-2xl d-flex"><i
                                                            class="ph ph-user-circle"></i> </span>
                                                    <span class="text-neutral-700 text-16 fw-medium">2.6K
                                                        Students</span>
                                                </div>
                                            </div>
                                            <h4 class="mb-28">
                                                <a [routerLink]="['/course-details']"
                                                    class="link text-line-2 fw-semibold">UI/UX Design Principles</a>
                                            </h4>
                                        </div>
                                        <div
                                            class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 flex-wrap">
                                            <div>
                                                <ul class="d-flex align-items-center gap-6 mb-8">
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i
                                                            class="ph-fill ph-star-half"></i>
                                                </ul>
                                                <span class="fw-normal text-14 text-neutral-300">4.8/5 (1.5K
                                                    Reviews)</span>
                                            </div>
                                            <div class="d-flex align-items-center gap-8">
                                                <img src="assets/images/thumbs/savannah-nguyen.png" alt=""
                                                    class="w-28 h-28">
                                                <span class="fw-normal text-14 text-neutral-400">Savannah Nguyen</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 col-sm-6 wow fadeInUp" data-aos="fade-up"
                                data-aos-duration="600">
                                <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                                    <div class="course-item__thumb rounded-12 overflow-hidden">
                                        <a [routerLink]="['/course-details']" class="w-100 h-100">
                                            <img src="assets/images/thumbs/dashbord-courses-img5.png" alt="Course Image"
                                                class="course-item__img rounded-12 cover-img transition-2">
                                        </a>
                                    </div>
                                    <div class="course-item__content">
                                        <div class="">
                                            <span
                                                class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">Business</span>
                                            <div class="flex-between gap-8 flex-wrap mb-16">
                                                <div class="flex-align gap-8 flex-wrap">
                                                    <span class="text-neutral-700 text-2xl d-flex"><i
                                                            class="ph-bold ph-video-camera"></i></span>
                                                    <span class="text-neutral-700 text-16 fw-medium">25 Lessons</span>
                                                </div>
                                                <div class="flex-align gap-8 flex-wrap">
                                                    <span class="text-neutral-700 text-2xl d-flex"><i
                                                            class="ph ph-user-circle"></i> </span>
                                                    <span class="text-neutral-700 text-16 fw-medium">2.6K
                                                        Students</span>
                                                </div>
                                            </div>
                                            <h4 class="mb-28">
                                                <a [routerLink]="['/course-details']"
                                                    class="link text-line-2 fw-semibold">Cybersecurity Essentials</a>
                                            </h4>
                                        </div>
                                        <div
                                            class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 flex-wrap">
                                            <div>
                                                <ul class="d-flex align-items-center gap-6 mb-8">
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i
                                                            class="ph-fill ph-star-half"></i>
                                                </ul>
                                                <span class="fw-normal text-14 text-neutral-300">4.8/5 (1.5K
                                                    Reviews)</span>
                                            </div>
                                            <div class="d-flex align-items-center gap-8">
                                                <img src="assets/images/thumbs/user-two-img4.png" alt=""
                                                    class="w-28 h-28">
                                                <span class="fw-normal text-14 text-neutral-400">Eleanor Pena</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 col-sm-6 wow fadeInUp" data-aos="fade-up"
                                data-aos-duration="800">
                                <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                                    <div class="course-item__thumb rounded-12 overflow-hidden">
                                        <a [routerLink]="['/course-details']" class="w-100 h-100">
                                            <img src="assets/images/thumbs/dashbord-courses-img6.png" alt="Course Image"
                                                class="course-item__img rounded-12 cover-img transition-2">
                                        </a>
                                    </div>
                                    <div class="course-item__content">
                                        <div class="">
                                            <span
                                                class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">Health</span>
                                            <div class="flex-between gap-8 flex-wrap mb-16">
                                                <div class="flex-align gap-8 flex-wrap">
                                                    <span class="text-neutral-700 text-2xl d-flex"><i
                                                            class="ph-bold ph-video-camera"></i></span>
                                                    <span class="text-neutral-700 text-16 fw-medium">25 Lessons</span>
                                                </div>
                                                <div class="flex-align gap-8 flex-wrap">
                                                    <span class="text-neutral-700 text-2xl d-flex"><i
                                                            class="ph ph-user-circle"></i> </span>
                                                    <span class="text-neutral-700 text-16 fw-medium">2.6K
                                                        Students</span>
                                                </div>
                                            </div>
                                            <h4 class="mb-28">
                                                <a [routerLink]="['/course-details']"
                                                    class="link text-line-2 fw-semibold">Nutrition and Healthy</a>
                                            </h4>
                                        </div>
                                        <div
                                            class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 flex-wrap">
                                            <div>
                                                <ul class="d-flex align-items-center gap-6 mb-8">
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i
                                                            class="ph-fill ph-star-half"></i>
                                                </ul>
                                                <span class="fw-normal text-14 text-neutral-300">4.8/5 (1.5K
                                                    Reviews)</span>
                                            </div>
                                            <div class="d-flex align-items-center gap-8">
                                                <img src="assets/images/thumbs/reviewer-img2.png" alt=""
                                                    class="w-28 h-28">
                                                <span class="fw-normal text-14 text-neutral-400">Arlene McCoy</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-webDesign" role="tabpanel"
                        aria-labelledby="pills-webDesign-tab">
                        <div class="row gy-4">

                            <div class="col-xl-3 col-md-6 col-sm-6 wow fadeInUp" data-aos="fade-up"
                                data-aos-duration="600">
                                <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                                    <div class="course-item__thumb rounded-12 overflow-hidden">
                                        <a [routerLink]="['/course-details']" class="w-100 h-100">
                                            <img src="assets/images/thumbs/dashbord-courses-img1.png" alt="Course Image"
                                                class="course-item__img rounded-12 cover-img transition-2">
                                        </a>
                                    </div>
                                    <div class="course-item__content">
                                        <div class="">
                                            <span
                                                class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">Finance</span>
                                            <div class="flex-between gap-8 flex-wrap mb-16">
                                                <div class="flex-align gap-8 flex-wrap">
                                                    <span class="text-neutral-700 text-2xl d-flex"><i
                                                            class="ph-bold ph-video-camera"></i></span>
                                                    <span class="text-neutral-700 text-16 fw-medium">25 Lessons</span>
                                                </div>
                                                <div class="flex-align gap-8 flex-wrap">
                                                    <span class="text-neutral-700 text-2xl d-flex"><i
                                                            class="ph ph-user-circle"></i> </span>
                                                    <span class="text-neutral-700 text-16 fw-medium">2.6K
                                                        Students</span>
                                                </div>
                                            </div>
                                            <h4 class="mb-28">
                                                <a [routerLink]="['/course-details']"
                                                    class="link text-line-2 fw-semibold">Financial Accounting</a>
                                            </h4>
                                        </div>
                                        <div
                                            class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 flex-wrap">
                                            <div>
                                                <ul class="d-flex align-items-center gap-6 mb-8">
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                                                    <li class="text-16 text-warning-400"><i
                                                            class="ph-fill ph-star-half"></i>
                                                </ul>
                                                <span class="fw-normal text-14 text-neutral-300">4.8/5 (1.5K
                                                    Reviews)</span>
                                            </div>
                                            <div class="d-flex align-items-center gap-8">
                                                <img src="assets/images/thumbs/enroll-student-img4.png" alt=""
                                                    class="w-28 h-28">
                                                <span class="fw-normal text-14 text-neutral-400">Annette Black</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                           

                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-24">
                <ul class="d-flex align-items-center gap-12 text-center align-items-center justify-content-center">
                    <li
                        class="bg-white border-neutral-30 border w-40 h-40 rounded-circle text-24 align-items-center justify-content-center d-flex text-neutral-700 hover-bg-main-600 hover-text-white transition-04">
                        <i class="ph-bold ph-caret-left"></i>
                    </li>
                    <li
                        class="bg-white border-neutral-30 border w-40 h-40 rounded-circle text-24 align-items-center justify-content-center d-flex text-neutral-700 hover-bg-main-600 hover-text-white transition-04">
                        1
                    </li>
                    <li
                        class="bg-white border-neutral-30 border w-40 h-40 rounded-circle text-24 align-items-center justify-content-center d-flex text-neutral-700 hover-bg-main-600 hover-text-white transition-04">
                        2
                    </li>
                    <li
                        class="bg-white border-neutral-30 border w-40 h-40 rounded-circle text-24 align-items-center justify-content-center d-flex text-neutral-700 hover-bg-main-600 hover-text-white transition-04">
                        3
                    </li>
                    <li
                        class="bg-white border-neutral-30 border w-40 h-40 rounded-circle text-24 align-items-center justify-content-center d-flex text-neutral-700 hover-bg-main-600 hover-text-white transition-04">
                        <i class="ph-bold ph-dots-three"></i>
                    </li>
                    <li
                        class="bg-white border-neutral-30 border w-40 h-40 rounded-circle text-24 align-items-center justify-content-center d-flex text-neutral-700 hover-bg-main-600 hover-text-white transition-04">
                        <i class="ph-bold ph-caret-right"></i>
                    </li>
                </ul>
            </div>
            <!-- ============message profile end========== -->
            <!-- =========message profile footer start============== -->
            <div class="bg-neutral-20 border-neutral-40 border-top px-24 py-16 mt-auto">
                <div class="d-flex align-items-center gap-24 justify-content-between flex-wrap">
                    <p class="fw-medium text-14 text-neutral-500">
                        Copyright ©2025
                        <a [routerLink]="['/admin-dashbord']" class="text-main-600 fw-medium">EduAll</a>.
                        All Rights Reserved
                    </p>
                    <div class="d-flex align-items-center gap-24">
                        <a href="#" class="fw-medium text-14 text-neutral-500 hover-text-main-600">Privacy policy</a>
                        <a href="#" class="fw-medium text-14 text-neutral-500 hover-text-main-600">Privacy policy</a>
                    </div>
                </div>
            </div>
            <!-- =========message profile footer end============== -->
        </div>
        <!-- ==========message dashbord end============ -->
    </div>
</div>