<section class="bg-main-25 pb-80 w-100 h-100">
    <div class="container container--lg">
        <div class="d-flex gap-24 mt--120 z-2 position-relative">
            <div class="student-overlay-sidebar"
     [class.show]="sidebarActive"
     (click)="closeSidebar()">
</div>

            <!-- ========Dashdord Sidebar start======== -->
            <!-- Sidebar -->
            <app-student-sidebar [active]="sidebarActive"></app-student-sidebar>


            <!-- ========Dashdord Sidebar end======== -->

            <div>
                <div class="mb-32">
                    <div class="d-flex align-items-center gap-16 justify-content-between">
                        <h5 class="mb-16 text-white">Dashboard</h5>
                        <button type="button"
                            class="toggle-student-dashbord-button text-white text-32 d-xl-none d-block"
                            (click)="toggleSidebar()">
                            <i class="ph-bold ph-list"></i>
                        </button>
                    </div>
                    <div class="row gy-4">

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="bg-white px-20 py-20 rounded-10">
                                <div class="d-flex align-items-center gap-16 justify-content-between flex-wrap mb-16">
                                    <div>
                                        <span class="text-14 fw-normal text-neutral-400 mb-4">All Courses</span>
                                        <h6 class="text-18 fw-semibold mb-0">35</h6>
                                    </div>
                                    <div
                                        class="w-44 h-44 bg-main-600 rounded-circle text-white text-20 d-flex align-items-center justify-content-center">
                                        <img src="assets/images/icons/dashbord-item1.png" alt="">
                                    </div>
                                </div>
                                <a href="#"
                                    class="text-12 fw-medium text-main-600 text-decoration-underline transition-03">View
                                    all</a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="bg-white px-20 py-20 rounded-10">
                                <div class="d-flex align-items-center gap-16 justify-content-between flex-wrap mb-16">
                                    <div>
                                        <span class="text-14 fw-normal text-neutral-400 mb-4">Enrolled Courses</span>
                                        <h6 class="text-18 fw-semibold mb-0">15</h6>
                                    </div>
                                    <div
                                        class="w-44 h-44 bg-success-600 rounded-circle text-white text-20 d-flex align-items-center justify-content-center">
                                        <img src="assets/images/icons/dashbord-item2.png" alt="">
                                    </div>
                                </div>
                                <a href="#"
                                    class="text-12 fw-medium text-main-600 text-decoration-underline transition-03">View
                                    all</a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="bg-white px-20 py-20 rounded-10">
                                <div class="d-flex align-items-center gap-16 justify-content-between flex-wrap mb-16">
                                    <div>
                                        <span class="text-14 fw-normal text-neutral-400 mb-4">Active Courses</span>
                                        <h6 class="text-18 fw-semibold mb-0">11</h6>
                                    </div>
                                    <div
                                        class="w-44 h-44 bg-warning-600 rounded-circle text-white text-20 d-flex align-items-center justify-content-center">
                                        <img src="assets/images/icons/dashbord-item2.png" alt="">
                                    </div>
                                </div>
                                <a href="#"
                                    class="text-12 fw-medium text-main-600 text-decoration-underline transition-03">View
                                    all</a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="bg-white px-20 py-20 rounded-10">
                                <div class="d-flex align-items-center gap-10 justify-content-between flex-wrap mb-16">
                                    <div>
                                        <span class="text-14 fw-normal text-neutral-400 mb-4">Completed Courses</span>
                                        <h6 class="text-18 fw-semibold mb-0">4</h6>
                                    </div>
                                    <div
                                        class="w-44 h-44 bg-neutral-900 rounded-circle text-white text-20 d-flex align-items-center justify-content-center">
                                        <img src="assets/images/icons/dashbord-item4.png" alt="">
                                    </div>
                                </div>
                                <a href="#"
                                    class="text-12 fw-medium text-main-600 text-decoration-underline transition-03">View
                                    all</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- progress Courses start  -->
                <h5 class="mb-16 text-neutral-500">In progress Courses</h5>
                <div class="row gy-4">

                    <div class="col-xl-4 col-md-6 col-sm-6 wow fadeInUp"
                        *ngFor="let course of courseList; let i = index" [attr.data-aos-duration]="600 + (i * 100)"
                        data-aos="fade-up">
                        <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                            <div class="course-item__thumb rounded-12 overflow-hidden">
                                <a [routerLink]="['/course-details']" class="w-100 h-100">
                                    <img [src]="course.image" alt="Course Image"
                                        class="course-item__img rounded-12 cover-img transition-2">
                                </a>
                            </div>
                            <div class="course-item__content">
                                <div>
                                    <span
                                        class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">
                                        {{ course.category }}
                                    </span>
                                    <div class="flex-between gap-8 flex-wrap mb-16">
                                        <div class="flex-align gap-8 flex-wrap">
                                            <span class="text-neutral-700 text-2xl d-flex"><i
                                                    class="ph-bold ph-video-camera"></i></span>
                                            <span class="text-neutral-700 text-16 fw-medium">{{ course.lessons }}</span>
                                        </div>
                                        <div class="flex-align gap-8 flex-wrap">
                                            <span class="text-neutral-700 text-2xl d-flex"><i
                                                    class="ph ph-user-circle"></i></span>
                                            <span class="text-neutral-700 text-16 fw-medium">{{ course.students
                                                }}</span>
                                        </div>
                                    </div>
                                    <h4 class="mb-28">
                                        <a [routerLink]="['/course-details']" class="link text-line-2 fw-semibold">
                                            {{ course.title }}
                                        </a>
                                    </h4>
                                </div>

                                <div class="mb-40">
                                    <div><span class="text-neutral-700 text-20 fw-medium">Complete</span></div>
                                    <div class="progress-wrapper d-flex align-items-center flex-column gap-4"
                                        [attr.data-perc]="course.progress + '%'">
                                        <div class="h-50-px position-relative w-100 d-flex">
                                            <span
                                                class="floating-label position-absolute text-14 text-main-600 fw-normal radius-8 w-50-px h-32-px z-1 d-flex justify-content-center align-items-center"
                                                [ngStyle]="{'left': course.progress + '%'}">
                                                {{ course.progress }}%
                                            </span>
                                            <div class="progress mt-auto h-25 w-100 bg-primary-50 rounded-pill"
                                                role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                                [attr.aria-valuenow]="course.progress">
                                                <div class="progress-bar animated-bar rounded-pill bg-primary-gradien overflow-visible"
                                                    [ngStyle]="{'width': course.progress + '%'}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex-between gap-8 mt-28 flex-wrap">
                                    <div>
                                        <ul class="d-flex align-items-center gap-6 mb-8">
                                            <li *ngFor="let star of course.stars">
                                                <i class="ph-fill" [ngClass]="{
                'ph-star': star === 1,
                'ph-star-half': star === 0.5
              }" class="text-16 text-warning-400"></i>
                                            </li>
                                        </ul>
                                        <span class="fw-normal text-14 text-neutral-300">{{ course.rating }}/5 ({{
                                            course.reviews }})</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-8">
                                        <img [src]="course.instructor.image" alt="" class="w-28 h-28">
                                        <span class="fw-normal text-14 text-neutral-400">{{ course.instructor.name
                                            }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- progress Courses end  -->
            </div>
        </div>
    </div>
</section>