                <div>   
                    <div class="mb-32">
                        <div class="d-flex align-items-center gap-16 justify-content-between">
                            <h5 class="mb-16 text-white">Dashboard</h5>
                            <button type="button" class="toggle-student-dashbord-button text-white text-32 d-xl-none d-block">
                                <i class="ph-bold ph-list"></i>
                            </button>
                        </div>
                        <div class="row gy-4">

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="bg-white px-20 py-20 rounded-10">
                                    <div class="d-flex align-items-center gap-16 justify-content-between flex-wrap mb-16">
                                        <div>
                                            <span class="text-14 fw-normal text-neutral-400 mb-4">All Courses</span>
                                            <h6 class="text-18 fw-semibold mb-0">35</h6>
                                        </div>
                                        <div class="w-44 h-44 bg-main-600 rounded-circle text-white text-20 d-flex align-items-center justify-content-center">
                                            <img src="assets/images/icons/dashbord-item1.png" alt="">
                                        </div>
                                    </div>
                                    <a href="#" class="text-12 fw-medium text-main-600 text-decoration-underline transition-03">View all</a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="bg-white px-20 py-20 rounded-10">
                                    <div class="d-flex align-items-center gap-16 justify-content-between flex-wrap mb-16">
                                        <div>
                                            <span class="text-14 fw-normal text-neutral-400 mb-4">Enrolled Courses</span>
                                            <h6 class="text-18 fw-semibold mb-0">15</h6>
                                        </div>
                                        <div class="w-44 h-44 bg-success-600 rounded-circle text-white text-20 d-flex align-items-center justify-content-center">
                                            <img src="assets/images/icons/dashbord-item2.png" alt="">
                                        </div>
                                    </div>
                                    <a href="#" class="text-12 fw-medium text-main-600 text-decoration-underline transition-03">View all</a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="bg-white px-20 py-20 rounded-10">
                                    <div class="d-flex align-items-center gap-16 justify-content-between flex-wrap mb-16">
                                        <div>
                                            <span class="text-14 fw-normal text-neutral-400 mb-4">Active Courses</span>
                                            <h6 class="text-18 fw-semibold mb-0">11</h6>
                                        </div>
                                        <div class="w-44 h-44 bg-warning-600 rounded-circle text-white text-20 d-flex align-items-center justify-content-center">
                                            <img src="assets/images/icons/dashbord-item2.png" alt="">
                                        </div>
                                    </div>
                                    <a href="#" class="text-12 fw-medium text-main-600 text-decoration-underline transition-03">View all</a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="bg-white px-20 py-20 rounded-10">
                                    <div class="d-flex align-items-center gap-10 justify-content-between flex-wrap mb-16">
                                        <div>
                                            <span class="text-14 fw-normal text-neutral-400 mb-4">Completed Courses</span>
                                            <h6 class="text-18 fw-semibold mb-0">4</h6>
                                        </div>
                                        <div class="w-44 h-44 bg-neutral-900 rounded-circle text-white text-20 d-flex align-items-center justify-content-center">
                                            <img src="assets/images/icons/dashbord-item4.png" alt="">
                                        </div>
                                    </div>
                                    <a href="#" class="text-12 fw-medium text-main-600 text-decoration-underline transition-03">View all</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- progress Courses start  -->
<h5 class="mb-16 text-neutral-500">In progress Courses</h5>
<div class="row gy-4">

    <div class="col-xl-4 col-md-6 col-sm-6 wow fadeInUp" data-aos="fade-up" data-aos-duration="600">
        <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
            <div class="course-item__thumb rounded-12 overflow-hidden">
                <a [routerLink]="['/course-details']" class="w-100 h-100">
                    <img src="assets/images/thumbs/dashbord-courses-img5.png" alt="Course Image" class="course-item__img rounded-12 cover-img transition-2">
                </a>
            </div>
            <div class="course-item__content">
                <div class="">
                    <span class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">Business</span>
                    <div class="flex-between gap-8 flex-wrap mb-16">
                        <div class="flex-align gap-8 flex-wrap">
                            <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-video-camera"></i></span>
                            <span class="text-neutral-700 text-16 fw-medium">25 Lessons</span>
                        </div>
                        <div class="flex-align gap-8 flex-wrap">
                            <span class="text-neutral-700 text-2xl d-flex"><i class="ph ph-user-circle"></i>    </span>
                            <span class="text-neutral-700 text-16 fw-medium">2.6K Students</span>
                        </div>
                    </div>
                    <h4 class="mb-28">
                        <a [routerLink]="['/course-details']" class="link text-line-2 fw-semibold">Cybersecurity Essentials</a>
                    </h4>
                </div>

                <div class="mb-40">
                    <div class="">
                        <span class="text-neutral-700 text-20 fw-medium">Complete</span>
                    </div>

                    <div class="progress-wrapper d-flex align-items-center flex-column gap-4" data-perc="85%">
                        <div class="h-50-px position-relative w-100 d-flex">
                            <span class="floating-label position-absolute text-14 text-main-600 fw-normal radius-8 w-50-px h-32-px z-1 d-flex justify-content-center align-items-center" style="--left-percentage: 85%;animation-name: animateFloatingLabel;left: 85%;bottom: 30px;">
                                85%
                            </span>
                            <div class="progress mt-auto h-25 w-100 bg-primary-50 rounded-pill" role="progressbar" aria-label="Basic example" aria-valuenow="85" aria-valuemin="0" aria-valuemax="50">
                                <div class="progress-bar animated-bar rounded-pill bg-primary-gradien overflow-visible" style="width: 85%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-between gap-8 mt-28 flex-wrap">
                    <div>
                        <ul class="d-flex align-items-center gap-6 mb-8">
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star-half"></i>
                        </ul>
                        <span class="fw-normal text-14 text-neutral-300">4.8/5 (1.5K Reviews)</span>
                    </div>
                    <div class="d-flex align-items-center gap-8">
                        <img src="assets/images/thumbs/student-dashbord-img2.png" alt="" class="w-28 h-28">
                        <span class="fw-normal text-14 text-neutral-400">Eleanor Pena</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6 col-sm-6 wow fadeInUp" data-aos="fade-up" data-aos-duration="700">
        <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
            <div class="course-item__thumb rounded-12 overflow-hidden">
                <a [routerLink]="['/course-details']" class="w-100 h-100">
                    <img src="assets/images/thumbs/dashbord-courses-img1.png" alt="Course Image" class="course-item__img rounded-12 cover-img transition-2">
                </a>
            </div>
            <div class="course-item__content">
                <div class="">
                    <span class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">Finance</span>
                    <div class="flex-between gap-8 flex-wrap mb-16">
                        <div class="flex-align gap-8 flex-wrap">
                            <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-video-camera"></i></span>
                            <span class="text-neutral-700 text-16 fw-medium">25 Lessons</span>
                        </div>
                        <div class="flex-align gap-8 flex-wrap">
                            <span class="text-neutral-700 text-2xl d-flex"><i class="ph ph-user-circle"></i>    </span>
                            <span class="text-neutral-700 text-16 fw-medium">2.6K Students</span>
                        </div>
                    </div>
                    <h4 class="mb-28">
                        <a [routerLink]="['/course-details']" class="link text-line-2 fw-semibold">Financial Accounting</a>
                    </h4>
                </div>

                <div class="mb-40">
                    <div class="">
                        <span class="text-neutral-700 text-20 fw-medium">Complete</span>
                    </div>

                    <div class="progress-wrapper d-flex align-items-center flex-column gap-4" data-perc="85%">
                        <div class="h-50-px position-relative w-100 d-flex">
                            <span class="floating-label position-absolute text-14 text-main-600 fw-normal radius-8 w-50-px h-32-px z-1 d-flex justify-content-center align-items-center" style="--left-percentage: 85%;animation-name: animateFloatingLabel;left: 85%;bottom: 30px;">
                                85%
                            </span>
                            <div class="progress mt-auto h-25 w-100 bg-primary-50 rounded-pill" role="progressbar" aria-label="Basic example" aria-valuenow="85" aria-valuemin="0" aria-valuemax="50">
                                <div class="progress-bar animated-bar rounded-pill bg-primary-gradien overflow-visible" style="width: 85%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-between gap-8 mt-28 flex-wrap">
                    <div>
                        <ul class="d-flex align-items-center gap-6 mb-8">
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star-half"></i>
                        </ul>
                        <span class="fw-normal text-14 text-neutral-300">4.8/5 (1.5K Reviews)</span>
                    </div>
                    <div class="d-flex align-items-center gap-8">
                        <img src="assets/images/thumbs/enroll-student-img4.png" alt="" class="w-28 h-28">
                        <span class="fw-normal text-14 text-neutral-400">Annette Black</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6 col-sm-6 wow fadeInUp" data-aos="fade-up" data-aos-duration="800">
        <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
            <div class="course-item__thumb rounded-12 overflow-hidden">
                <a [routerLink]="['/course-details']" class="w-100 h-100">
                    <img src="assets/images/thumbs/dashbord-courses-img3.png" alt="Course Image" class="course-item__img rounded-12 cover-img transition-2">
                </a>
            </div>
            <div class="course-item__content">
                <div class="">
                    <span class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">Data & Tech</span>
                    <div class="flex-between gap-8 flex-wrap mb-16">
                        <div class="flex-align gap-8 flex-wrap">
                            <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-video-camera"></i></span>
                            <span class="text-neutral-700 text-16 fw-medium">25 Lessons</span>
                        </div>
                        <div class="flex-align gap-8 flex-wrap">
                            <span class="text-neutral-700 text-2xl d-flex"><i class="ph ph-user-circle"></i>    </span>
                            <span class="text-neutral-700 text-16 fw-medium">2.6K Students</span>
                        </div>
                    </div>
                    <h4 class="mb-28">
                        <a [routerLink]="['/course-details']" class="link text-line-2 fw-semibold">Graphic Design</a>
                    </h4>
                </div>

                <div class="mb-40">
                    <div class="">
                        <span class="text-neutral-700 text-20 fw-medium">Complete</span>
                    </div>

                    <div class="progress-wrapper d-flex align-items-center flex-column gap-4" data-perc="85%">
                        <div class="h-50-px position-relative w-100 d-flex">
                            <span class="floating-label position-absolute text-14 text-main-600 fw-normal radius-8 w-50-px h-32-px z-1 d-flex justify-content-center align-items-center" style="--left-percentage: 85%;animation-name: animateFloatingLabel;left: 85%;bottom: 30px;">
                                85%
                            </span>
                            <div class="progress mt-auto h-25 w-100 bg-primary-50 rounded-pill" role="progressbar" aria-label="Basic example" aria-valuenow="85" aria-valuemin="0" aria-valuemax="50">
                                <div class="progress-bar animated-bar rounded-pill bg-primary-gradien overflow-visible" style="width: 85%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-between gap-8 mt-28 flex-wrap">
                    <div>
                        <ul class="d-flex align-items-center gap-6 mb-8">
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star-half"></i>
                        </ul>
                        <span class="fw-normal text-14 text-neutral-300">4.8/5 (1.5K Reviews)</span>
                    </div>
                    <div class="d-flex align-items-center gap-8">
                        <img src="assets/images/thumbs/testimonial-five-img2.png" alt="" class="w-28 h-28">
                        <span class="fw-normal text-14 text-neutral-400">Courtney Henry</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6 col-sm-6 wow fadeInUp" data-aos="fade-up" data-aos-duration="900">
        <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
            <div class="course-item__thumb rounded-12 overflow-hidden">
                <a [routerLink]="['/course-details']" class="w-100 h-100">
                    <img src="assets/images/thumbs/dashbord-courses-img4.png" alt="Course Image" class="course-item__img rounded-12 cover-img transition-2">
                </a>
            </div>
            <div class="course-item__content">
                <div class="">
                    <span class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">Creative Arts</span>
                    <div class="flex-between gap-8 flex-wrap mb-16">
                        <div class="flex-align gap-8 flex-wrap">
                            <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-video-camera"></i></span>
                            <span class="text-neutral-700 text-16 fw-medium">25 Lessons</span>
                        </div>
                        <div class="flex-align gap-8 flex-wrap">
                            <span class="text-neutral-700 text-2xl d-flex"><i class="ph ph-user-circle"></i>    </span>
                            <span class="text-neutral-700 text-16 fw-medium">2.6K Students</span>
                        </div>
                    </div>
                    <h4 class="mb-28">
                        <a [routerLink]="['/course-details']" class="link text-line-2 fw-semibold">UI/UX Design Principles</a>
                    </h4>
                </div>

                <div class="mb-40">
                    <div class="">
                        <span class="text-neutral-700 text-20 fw-medium">Complete</span>
                    </div>

                    <div class="progress-wrapper d-flex align-items-center flex-column gap-4" data-perc="85%">
                        <div class="h-50-px position-relative w-100 d-flex">
                            <span class="floating-label position-absolute text-14 text-main-600 fw-normal radius-8 w-50-px h-32-px z-1 d-flex justify-content-center align-items-center" style="--left-percentage: 85%;animation-name: animateFloatingLabel;left: 85%;bottom: 30px;">
                                85%
                            </span>
                            <div class="progress mt-auto h-25 w-100 bg-primary-50 rounded-pill" role="progressbar" aria-label="Basic example" aria-valuenow="85" aria-valuemin="0" aria-valuemax="50">
                                <div class="progress-bar animated-bar rounded-pill bg-primary-gradien overflow-visible" style="width: 85%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-between gap-8 mt-28 flex-wrap">
                    <div>
                        <ul class="d-flex align-items-center gap-6 mb-8">
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star-half"></i>
                        </ul>
                        <span class="fw-normal text-14 text-neutral-300">4.8/5 (1.5K Reviews)</span>
                    </div>
                    <div class="d-flex align-items-center gap-8">
                        <img src="assets/images/thumbs/savannah-nguyen.png" alt="" class="w-28 h-28">
                        <span class="fw-normal text-14 text-neutral-400">Savannah Nguyen</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6 col-sm-6 wow fadeInUp" data-aos="fade-up" data-aos-duration="700">
        <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
            <div class="course-item__thumb rounded-12 overflow-hidden">
                <a [routerLink]="['/course-details']" class="w-100 h-100">
                    <img src="assets/images/thumbs/dashbord-courses-img2.png" alt="Course Image" class="course-item__img rounded-12 cover-img transition-2">
                </a>
            </div>
            <div class="course-item__content">
                <div class="">
                    <span class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">Design</span>
                    <div class="flex-between gap-8 flex-wrap mb-16">
                        <div class="flex-align gap-8 flex-wrap">
                            <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-video-camera"></i></span>
                            <span class="text-neutral-700 text-16 fw-medium">25 Lessons</span>
                        </div>
                        <div class="flex-align gap-8 flex-wrap">
                            <span class="text-neutral-700 text-2xl d-flex"><i class="ph ph-user-circle"></i>    </span>
                            <span class="text-neutral-700 text-16 fw-medium">2.6K Students</span>
                        </div>
                    </div>
                    <h4 class="mb-28">
                        <a [routerLink]="['/course-details']" class="link text-line-2 fw-semibold">Introduction to Animation</a>
                    </h4>
                </div>

                <div class="mb-40">
                    <div class="">
                        <span class="text-neutral-700 text-20 fw-medium">Complete</span>
                    </div>

                    <div class="progress-wrapper d-flex align-items-center flex-column gap-4" data-perc="85%">
                        <div class="h-50-px position-relative w-100 d-flex">
                            <span class="floating-label position-absolute text-14 text-main-600 fw-normal radius-8 w-50-px h-32-px z-1 d-flex justify-content-center align-items-center" style="--left-percentage: 85%;animation-name: animateFloatingLabel;left: 85%;bottom: 30px;">
                                85%
                            </span>
                            <div class="progress mt-auto h-25 w-100 bg-primary-50 rounded-pill" role="progressbar" aria-label="Basic example" aria-valuenow="85" aria-valuemin="0" aria-valuemax="50">
                                <div class="progress-bar animated-bar rounded-pill bg-primary-gradien overflow-visible" style="width: 85%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-between gap-8 mt-28 flex-wrap">
                    <div>
                        <ul class="d-flex align-items-center gap-6 mb-8">
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star-half"></i>
                        </ul>
                        <span class="fw-normal text-14 text-neutral-300">4.8/5 (1.5K Reviews)</span>
                    </div>
                    <div class="d-flex align-items-center gap-8">
                        <img src="assets/images/thumbs/user-two-img5.png" alt="" class="w-28 h-28">
                        <span class="fw-normal text-14 text-neutral-400">Jenny Wilson</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6 col-sm-6 wow fadeInUp" data-aos="fade-up" data-aos-duration="800">
        <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
            <div class="course-item__thumb rounded-12 overflow-hidden">
                <a [routerLink]="['/course-details']" class="w-100 h-100">
                    <img src="assets/images/thumbs/dashbord-courses-img6.png" alt="Course Image" class="course-item__img rounded-12 cover-img transition-2">
                </a>
            </div>
            <div class="course-item__content">
                <div class="">
                    <span class="px-12 py-6 text-success-600 fw-medium text-16 bg-success-50 border-success-100 border rounded-10 mb-16 hover-bg-success-600 hover-text-white transition-03">Health</span>
                    <div class="flex-between gap-8 flex-wrap mb-16">
                        <div class="flex-align gap-8 flex-wrap">
                            <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-video-camera"></i></span>
                            <span class="text-neutral-700 text-16 fw-medium">25 Lessons</span>
                        </div>
                        <div class="flex-align gap-8 flex-wrap">
                            <span class="text-neutral-700 text-2xl d-flex"><i class="ph ph-user-circle"></i>    </span>
                            <span class="text-neutral-700 text-16 fw-medium">2.6K Students</span>
                        </div>
                    </div>
                    <h4 class="mb-28">
                        <a [routerLink]="['/course-details']" class="link text-line-2 fw-semibold">Nutrition and Healthy</a>
                    </h4>
                </div>

                <div class="mb-40">
                    <div class="">
                        <span class="text-neutral-700 text-20 fw-medium">Complete</span>
                    </div>

                    <div class="progress-wrapper d-flex align-items-center flex-column gap-4" data-perc="85%">
                        <div class="h-50-px position-relative w-100 d-flex">
                            <span class="floating-label position-absolute text-14 text-main-600 fw-normal radius-8 w-50-px h-32-px z-1 d-flex justify-content-center align-items-center" style="--left-percentage: 85%;animation-name: animateFloatingLabel;left: 85%;bottom: 30px;">
                                85%
                            </span>
                            <div class="progress mt-auto h-25 w-100 bg-primary-50 rounded-pill" role="progressbar" aria-label="Basic example" aria-valuenow="85" aria-valuemin="0" aria-valuemax="50">
                                <div class="progress-bar animated-bar rounded-pill bg-primary-gradien overflow-visible" style="width: 85%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-between gap-8 mt-28 flex-wrap">
                    <div>
                        <ul class="d-flex align-items-center gap-6 mb-8">
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star"></i>
                            <li class="text-16 text-warning-400"><i class="ph-fill ph-star-half"></i>
                        </ul>
                        <span class="fw-normal text-14 text-neutral-300">4.8/5 (1.5K Reviews)</span>
                    </div>
                    <div class="d-flex align-items-center gap-8">
                        <img src="assets/images/thumbs/reviewer-img2.png" alt="" class="w-28 h-28">
                        <span class="fw-normal text-14 text-neutral-400">Arlene McCoy</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- =========== student dashbord section end ============== -->