<!-- Overlay -->
<div class="student-overlay-sidebar" [class.show]="sidebarActive" (click)="closeSidebar()">
</div>


<div class="dashbord bg-main-25 w-100 overflow-hidden">
    <div class="d-flex">


        <!-- ========Dashdord Sidebar start======== -->
        <app-dashboard-sidebar [active]="sidebarActive">
        </app-dashboard-sidebar>
        <!-- ========Dashdord Sidebar end======== -->


        <div class="dashbord-body flex-grow-1">
            <!-- =====messsage dashbord nab start======== -->

            <div class="px-24 py-16 bg-neutral-10 border-bottom border-neutral-40 w-100">
                <div class="d-flex align-items-center justify-content-between gap-24 w-100">
                    <div class="d-flex align-items-center gap-24">
                        <button type="button"
                            class="toggle-dashbord-button text-neutral-500 text-28 line-height-1 d-lg-none d-block"
                            (click)="toggleSidebar()">
                            <i class="ph ph-list"></i> <!-- Your hamburger icon -->
                        </button>

                        <div class="max-w-357-px position-relative d-sm-block d-none">
                            <form action="#">
                                <input type="text" placeholder="Search"
                                    class="ps-16 pe-36 py-9 border border-neutral-40 rounded-pill focus-visible-outline focus-border-main-600 text-14 line-height-1">
                                <button type="button"
                                    class="w-28 h-28 bg-main-600 text-white text-16 rounded-circle justify-content-center align-items-center d-flex position-absolute top-50-percent translate-middle-y inset-inline-end-0-px me-4">
                                    <i class="ph-bold ph-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="d-flex align-items-center gap-16">
                        <a [routerLink]="['']"
                            class="px-20 py-10 border-main-600 border rounded-pill text-14 text-main-600 hover-bg-main-600 hover-text-white hover-border-600 d-lg-block d-none line-height-1">Create
                            a New Course</a>
                        <div
                            class="w-36 h-36 border-neutral-50 border rounded-pill justify-content-center align-items-center d-flex text-20 text-neutral-500 hover-bg-main-600  transition-03">
                            <button type="button" class="hover-text-white transition-03">
                                <i class="ph ph-translate"></i>
                            </button>
                        </div>
                        <div class="position-relative">
                            <div
                                class="w-36 h-36 border-neutral-50 border rounded-pill justify-content-center align-items-center d-flex text-20 text-neutral-500 position-relative">
                                <div>
                                    <button
                                        class="dropdown-toggle w-36 h-36 border-neutral-50 border rounded-pill hover-bg-main-600 hover-text-white transition-03"
                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="ph ph-bell-simple"></i>
                                    </button>
                                    <ul class="dropdown-menu rounded-12">

                                        <li>
                                            <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12"
                                                href="javascript:void(0)">
                                                <div class="d-flex w-100 justify-content-between gap-12">
                                                    <div class="d-flex align-items-center gap-12 ">
                                                        <span class="w-36 h-36">
                                                            <img src="assets/images/thumbs/reviewer-img1.png" alt="">
                                                        </span>
                                                        <div>
                                                            <span class="text-md fw-semibold text-line-1">Ronald
                                                                Richards</span>
                                                            <p class="text-sm text-line-1 text-neutral-300">You can
                                                                stitch between artboards</p>
                                                        </div>
                                                    </div>
                                                    <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12"
                                                href="javascript:void(0)">
                                                <div class="d-flex w-100 justify-content-between gap-12">
                                                    <div class="d-flex align-items-center gap-12 ">
                                                        <span class="w-36 h-36"><img
                                                                src="assets/images/thumbs/reviewer-img4.png"
                                                                alt=""></span>
                                                        <div>
                                                            <span class="text-md fw-semibold text-line-1">Arlene
                                                                McCoy</span>
                                                            <p class="text-sm text-line-1 text-neutral-300">Invite you
                                                                to prototyping</p>
                                                        </div>
                                                    </div>
                                                    <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item d-flex align-items-center gap-12 px-16 py-12"
                                                href="javascript:void(0)">
                                                <div class="d-flex w-100 justify-content-between gap-12">
                                                    <div class="d-flex align-items-center gap-12 ">
                                                        <span class="w-36 h-36"><img
                                                                src="assets/images/thumbs/instructor-details-thumb.png"
                                                                alt=""></span>
                                                        <div>
                                                            <span class="text-md fw-semibold text-line-1">Annette
                                                                Black</span>
                                                            <p class="text-sm text-line-1 text-neutral-300">Invite you
                                                                to prototyping</p>
                                                        </div>
                                                    </div>
                                                    <span class="text-sm fw-medium text-neutral-400">23 Mins ago</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="position-absolute inset-inline-start-22px top--20-percent">
                                    <span
                                        class="bg-main-600 text-white w-16 h-16 rounded-circle text-9 d-flex justify-content-center align-items-center">2</span>
                                </div>
                            </div>
                        </div>

                        <div
                            class="w-36 h-36 border-neutral-50 border rounded-pill justify-content-center align-items-center d-flex text-20 text-neutral-500 hover-bg-main-600 transition-03">
                            <button type="button" class=" hover-text-white transition-03">
                                <i class="ph ph-chat-dots"></i>
                            </button>
                        </div>

                        <div class="dropdown">
                            <button class="dropdown-toggle w-36 h-36 border-neutral-50 border rounded-pill"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="assets/images/thumbs/testimonials-three-img1.png" alt="">
                            </button>
                            <ul class="dropdown-menu rounded-12">
                                <li>
                                    <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03"
                                        [routerLink]="['/my-profile']">
                                        <span><i class="ph ph-user-circle"></i></span>
                                        <span>My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03"
                                        [routerLink]="['/dashbord-settings']">
                                        <span><i class="ph ph-gear"></i></span>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center gap-12 hover-text-main-600 transition-03"
                                        [routerLink]="['/sign-in']">
                                        <span><i class="ph ph-power"></i></span>
                                        <span>Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- =====message nab end======== -->

            <!-- =====dashbord body item start===== -->
            <div class="px-24 py-24">
                <h4 class="fw-semibold text-neutral-500 text-20 ">Dashboard</h4>
                <div class="row gy-4">
                    <div class="col-xl-4 col-sm-6">
                        <div class="px-20 py-20 bg-white rounded-10">
                            <div class="d-flex gap-16 justify-content-between mb-12">
                                <div>
                                    <span class="fw-normal text-14 text-neutral-400 mb-4">Total Courses</span>
                                    <h6 class="text-18 fw-semibold text-neutral-500 mb-0">2000+</h6>
                                </div>
                                <span
                                    class="w-44 h-44 bg-main-600 rounded-circle justify-content-center align-items-center d-flex">
                                    <img src="assets/images/icons/dashbord-item1.png" alt="">
                                </span>
                            </div>
                            <a [routerLink]="['/#']"
                                class="text-12 fw-medium text-main-600 text-decoration-underline transition-03">View
                                all</a>
                        </div>
                    </div>

                    <div class="col-xl-4 col-sm-6">
                        <div class="px-20 py-20 bg-white rounded-10">
                            <div class="d-flex gap-16 justify-content-between mb-12">
                                <div>
                                    <span class="fw-normal text-14 text-neutral-400 mb-4">Enrolled Courses</span>
                                    <h6 class="text-18 fw-semibold text-neutral-500 mb-0">900+</h6>
                                </div>
                                <span
                                    class="w-44 h-44 bg-success-600 rounded-circle justify-content-center align-items-center d-flex">
                                    <img src="assets/images/icons/dashbord-item2.png" alt="">
                                </span>
                            </div>
                            <a [routerLink]="['/#']"
                                class="text-12 fw-medium text-main-600 text-decoration-underline transition-03">View
                                all</a>
                        </div>
                    </div>

                    <div class="col-xl-4 col-sm-6">
                        <div class="px-20 py-20 bg-white rounded-10">
                            <div class="d-flex gap-16 justify-content-between mb-12">
                                <div>
                                    <span class="fw-normal text-14 text-neutral-400 mb-4">Active Courses</span>
                                    <h6 class="text-18 fw-semibold text-neutral-500 mb-0">100+</h6>
                                </div>
                                <span
                                    class="w-44 h-44 bg-warning-600 rounded-circle justify-content-center align-items-center d-flex">
                                    <img src="assets/images/icons/dashbord-item3.png" alt="">
                                </span>
                            </div>
                            <a [routerLink]="['/#']"
                                class="text-12 fw-medium text-main-600 text-decoration-underline transition-03">View
                                all</a>
                        </div>
                    </div>

                    <div class="col-xl-4 col-sm-6">
                        <div class="px-20 py-20 bg-white rounded-10">
                            <div class="d-flex gap-16 justify-content-between mb-12">
                                <div>
                                    <span class="fw-normal text-14 text-neutral-400 mb-4">Completed Courses</span>
                                    <h6 class="text-18 fw-semibold text-neutral-500 mb-0">1000+</h6>
                                </div>
                                <span
                                    class="w-44 h-44 bg-warning-600 rounded-circle justify-content-center align-items-center d-flex">
                                    <img src="assets/images/icons/dashbord-item4.png" alt="">
                                </span>
                            </div>
                            <a [routerLink]="['/#']"
                                class="text-12 fw-medium text-main-600 text-decoration-underline transition-03">View
                                all</a>
                        </div>
                    </div>

                    <div class="col-xl-4 col-sm-6">
                        <div class="px-20 py-20 bg-white rounded-10">
                            <div class="d-flex gap-16 justify-content-between mb-12">
                                <div>
                                    <span class="fw-normal text-14 text-neutral-400 mb-4">Total Students</span>
                                    <h6 class="text-18 fw-semibold text-neutral-500 mb-0">88,000+</h6>
                                </div>
                                <span
                                    class="w-44 h-44 bg-main-600 rounded-circle justify-content-center align-items-center d-flex">
                                    <img src="assets/images/icons/dashbord-item5.png" alt="">
                                </span>
                            </div>
                            <a [routerLink]="['/#']"
                                class="text-12 fw-medium text-main-600 text-decoration-underline transition-03">View
                                all</a>
                        </div>
                    </div>

                    <div class="col-xl-4 col-sm-6">
                        <div class="px-20 py-20 bg-white rounded-10">
                            <div class="d-flex gap-16 justify-content-between mb-12">
                                <div>
                                    <span class="fw-normal text-14 text-neutral-400 mb-4">Total Earnings</span>
                                    <h6 class="text-18 fw-semibold text-neutral-500 mb-0">$956,542.00</h6>
                                </div>
                                <span
                                    class="w-44 h-44 bg-success-600 rounded-circle justify-content-center align-items-center d-flex">
                                    <img src="assets/images/icons/dashbord-item6.png" alt="">
                                </span>
                            </div>
                            <a [routerLink]="['/#']"
                                class="text-12 fw-medium text-main-600 text-decoration-underline transition-03">View
                                all</a>
                        </div>
                    </div>

                    <div class="col-xl-8">
                        <div class="bg-white px-20 py-20 rounded-10 z-n1">
                            <div class="d-flex align-items-center justify-content-between gpa-24">
                                <span class="text-16 fw-medium text-neutral-400">Overview Information</span>
                                <div class="d-flex align-items-center gap-8">
                                    <span class="fw-medium text-12 text-neutral-400">Sort By :</span>
                                    <select
                                        class="form-select text-12 w-auto pe-26 border-neutral-40 border bg-main-25 px-16 py-8 fw-normal">
                                        <option value="1">Last 2 years</option>
                                        <option value="1">Last 3 years</option>
                                        <option value="1">Last 4 years</option>
                                        <option value="1">Last 1 years</option>
                                    </select>
                                </div>
                            </div>
                            <span class="mt-20 mb-20 border-bottom-solid d-inline-block w-100"></span>
                            <app-line-chart></app-line-chart>
                            <!-- <div id="react-chart">

                            </div> -->
                            <!-- <app-charts></app-charts> -->
                            <div class="d-flex justify-content-center text-center">
                                <ul class="d-flex align-items-center gap-24">
                                    <li class="text-14 fw-normal d-flex align-items-center gap-8 text-neutral-500">
                                        <span class="w-6 h-6 bg-main-600 rounded-circle z-1 flex-shrink-0"></span>
                                        Total Students
                                    </li>
                                    <li class="text-14 fw-normal d-flex align-items-center gap-8 text-neutral-500">
                                        <span class="w-6 h-6 bg-warning-600 rounded-circle z-1 flex-shrink-0"></span>
                                        Total Courses
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="px-20 py-20 bg-white rounded-10 z-n1">
                            <div class="d-flex align-items-center justify-content-between gpa-24">
                                <span class="text-14 fw-normal text-neutral-500">Reports</span>
                                <div class="d-flex align-items-center gap-8">
                                    <span class="fw-normal text-12 text-neutral-400">Sort By :</span>
                                    <select
                                        class="form-select w-auto pe-26 border-neutral-40 border text-12 bg-main-25 px-16 py-8">
                                        <option value="1">Weekly</option>
                                        <option value="1">yearly</option>
                                        <option value="1">monthly</option>
                                        <option value="1">daly</option>
                                    </select>
                                </div>
                            </div>
                            <span class="mt-20 mb-20 border-bottom-solid d-inline-block w-100"></span>
                            <app-donut-chart></app-donut-chart>
                            <span class="mt-20 mb-20 border-bottom-solid d-inline-block w-100"></span>
                            <div class="d-flex align-items-center flex-wrap gap-20">
                                <ul>
                                    <li
                                        class="text-14 fw-normal text-neutral-400 d-flex flex-wrap align-items-center gap-12 mb-16">
                                        <span class="w-6 h-6 bg-primary-500 rounded-circle z-1"></span>
                                        Total Courses
                                    </li>
                                    <li
                                        class="text-14 fw-normal text-neutral-400 d-flex flex-wrap align-items-center gap-12">
                                        <span class="w-6 h-6 bg-purple-500 rounded-circle z-1"></span>
                                        Enrolled Courses
                                    </li>
                                </ul>
                                <span class="h-50-px h-50-px bg-neutral-40 w-1"></span>
                                <ul>
                                    <li
                                        class="text-14 fw-normal text-neutral-400 d-flex flex-wrap align-items-center gap-12 mb-16">
                                        <span class="w-6 h-6 bg-warning-700 rounded-circle z-1"></span>
                                        Active Courses
                                    </li>
                                    <li
                                        class="text-14 fw-normal text-neutral-400 d-flex flex-wrap align-items-center gap-12">
                                        <span class="w-6 h-6 bg-success-600 rounded-circle z-1"></span>
                                        Completed Courses
                                    </li>
                                </ul>
                                <span class="h-50-px bg-neutral-40 w-1"></span>
                                <ul>
                                    <li
                                        class="text-14 fw-normal text-neutral-400 d-flex flex-wrap align-items-center gap-12 mb-16">
                                        <span class="w-6 h-6 bg-primary-700 rounded-circle z-1"></span>
                                        Total Students
                                    </li>
                                    <li
                                        class="text-14 fw-normal text-neutral-400 d-flex flex-wrap align-items-center gap-12">
                                        <span class="w-6 h-6 bg-warning-500 rounded-circle z-1"></span>
                                        Total Earnings
                                    </li>
                                </ul>
                            </div>
                            <span class="mt-20 border-bottom-solid d-inline-block w-100"></span>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="px-24 py-24 bg-white rounded-10">
                            <div class="d-flex align-items-center justify-content-between mb-24">
                                <h6 class="mb-0 fw-medium text-16 text-neutral-500">Popular Instructor</h6>
                                <a [routerLink]="['/#']"
                                    class="text-12 fw-medium text-main-600 fw-medium hover-underline transition-03">View
                                    all</a>
                            </div>
                            <div>

                                <div class="overflow-x-auto">
                                    <table id="example" class="display min-w-max">
                                        <thead>
                                            <tr class="bg-main-25 border-bottom flex-wrap">
                                                <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Instructor
                                                </th>
                                                <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Courses</th>
                                                <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Students</th>
                                                <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Reviews</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let reviewer of reviews"
                                                class="hover-bg-neutral-20 border-bottom transition-03">
                                                <td class="py-22 px-20 shadow-none line-height-1">
                                                    <div class="d-flex align-items-center gap-12">
                                                        <img [src]="reviewer.image" alt="{{ reviewer.name }}"
                                                            class="w-32 h-32" />
                                                        <span class="fw-medium text-14 text-neutral-500">{{
                                                            reviewer.name }}</span>
                                                    </div>
                                                </td>
                                                <td
                                                    class="text-14 fw-normal py-22 px-20 shadow-none line-height-1 text-neutral-500">
                                                    {{ reviewer.courses }}
                                                </td>
                                                <td class="py-22 px-20 text-14 fw-normal text-neutral-500 shadow-none">
                                                    {{ reviewer.students }}
                                                </td>
                                                <td class="py-22 px-20 shadow-none line-height-1">
                                                    <div
                                                        class="fw-normal text-14 d-flex align-items-center gap-8 text-neutral-500">
                                                        <span class="text-20 text-warning-600">
                                                            <i class="ph-fill ph-star"></i>
                                                        </span>
                                                        {{ reviewer.rating }}
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="px-24 py-24 bg-white rounded-10">
                            <div class="d-flex align-items-center justify-content-between mb-24">
                                <h6 class="mb-0 fw-medium text-16 text-neutral-500">Recent Course</h6>
                                <a [routerLink]="['/#']"
                                    class="text-12 fw-medium text-main-600 hover-underline transition-03">View
                                    all</a>
                            </div>
                            <div>

                                <div class="overflow-x-auto">
                                    <table id="example-two" class="display min-w-max">
                                        <thead>
                                            <tr class="bg-main-25 border-bottom border-neutral-30">
                                                <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Course Title
                                                    | Hours</th>
                                                <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Total Lesson
                                                </th>
                                                <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Students</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let course of courseData"
                                                class="hover-bg-neutral-20 border-bottom transition-03">
                                                <td class="py-22 line-height-1 px-20 shadow-none">
                                                    <div class="d-flex align-items-center gap-12">
                                                        <a [routerLink]="['/javascript:void(0)']">
                                                            <img [src]="course.image" [alt]="course.title"
                                                                class="w-48 h-32" />
                                                        </a>
                                                        <div>
                                                            <h6 class="fw-medium text-14 mb-0 text-neutral-500">{{
                                                                course.title }}</h6>
                                                            <span class="fw-normal text-12 text-neutral-500">{{
                                                                course.duration }}</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td
                                                    class="text-14 fw-normal text-neutral-500 py-22 line-height-1 px-20 shadow-none">
                                                    {{ course.lessons }}
                                                </td>
                                                <td
                                                    class="py-22 line-height-1 px-20 shadow-none text-14 fw-normal text-neutral-500">
                                                    {{ course.students }}
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="px-24 py-24 bg-white rounded-10">
                            <div class="d-flex align-items-center justify-content-between mb-24">
                                <h6 class="mb-0 fw-medium text-16 text-neutral-500">Notifications</h6>
                                <a [routerLink]="['/#']"
                                    class="text-12 fw-medium text-main-600 hover-underline transition-03">View
                                    all</a>
                            </div>

                            <div>
                                <div class="overflow-x-auto">
                                    <table id="example-three" class="display min-w-max">
                                        <thead>
                                            <tr class="bg-main-25 border-bottom border-neutral-30">
                                                <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Notification
                                                    | Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let notification of notificationItem"
                                                class="hover-bg-neutral-20 border-bottom transition-03">
                                                <td class="py-20 px-20 shadow-none line-height-1">
                                                    <div class="d-flex align-items-center gap-12">
                                                        <a [routerLink]="['/javascript:void(0)']" class="flex-shrink-0">
                                                            <img [src]="notification.image" alt="" class="w-32 h-32" />
                                                        </a>
                                                        <div>
                                                            <h6 class="fw-medium text-14 text-neutral-500 mb-3">
                                                                {{ notification.message }}
                                                            </h6>
                                                            <span class="fw-normal text-12 text-neutral-500">{{
                                                                notification.time }}</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="px-24 py-24 bg-white rounded-10">
                            <div class="d-flex align-items-center justify-content-between mb-24">
                                <h6 class="mb-0 fw-medium text-16 text-neutral-500">Notice Board</h6>
                                <a [routerLink]="['/#']"
                                    class="text-12 fw-medium text-main-600 hover-underline transition-03">View
                                    all</a>
                            </div>

                            <div>
                                <div class="overflow-x-auto">
                                    <table id="example-four" class="display min-w-max">
                                        <thead>
                                            <tr class="bg-main-25 border-bottom border-neutral-30">
                                                <th class="text-12 fw-medium text-neutral-500 py-16 px-20">Notice | Time
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let notice of noticeItem"
                                                class="hover-bg-neutral-20 border-bottom transition-03">
                                                <td class="py-20 px-20 shadow-none line-height-1">
                                                    <div class="d-flex align-items-center gap-12">
                                                        <a [routerLink]="['/javascript:void(0)']" class="flex-shrink-0">
                                                            <img [src]="notice.image" alt="" class="w-32 h-32" />
                                                        </a>
                                                        <div>
                                                            <h6 class="fw-medium text-14 mb-3 text-neutral-500">
                                                                {{ notice.title }}
                                                            </h6>
                                                            <span class="fw-normal text-12 text-neutral-500">{{
                                                                notice.time }}</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="px-24 py-24 bg-white rounded-10">
                            <div class="d-flex align-items-center justify-content-between mb-24">
                                <h6 class="mb-0 fw-medium text-16 text-neutral-500">Total Feedbacks</h6>
                                <a [routerLink]="['/#']"
                                    class="text-12 fw-medium text-main-600 hover-underline transition-03">View
                                    all</a>
                            </div>
                            <div class="mb-24">

                                <div class="overflow-x-auto">
                                    <div class="min-w-max">
                                        <div class="table-responsive">
                                            <table id="example-five" class="display nowrap" style="width:100%">
                                                <thead>
                                                    <tr class="bg-main-25 border-bottom border-neutral-30">
                                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">
                                                            Course Name</th>
                                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">
                                                            Rating</th>
                                                        <th class="text-12 fw-medium text-neutral-500 py-16 px-20">
                                                            Enrolled</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let project of projectRatings"
                                                        class="hover-bg-neutral-20 border-bottom transition-03">
                                                        <td class="py-28 px-20 shadow-none line-height-1">
                                                            <span class="fw-normal text-14 text-neutral-500">{{
                                                                project.title }}</span>
                                                        </td>
                                                        <td
                                                            class="text-14 fw-normal py-28 px-20 shadow-none line-height-1">
                                                            <ul class="d-flex align-items-center gap-6">
                                                                <li *ngFor="let i of [1,2,3,4]"
                                                                    class="text-20 text-warning-600"><i
                                                                        class="ph-fill ph-star"></i></li>
                                                                <li class="text-20 text-warning-600"><i
                                                                        class="ph-fill ph-star-half"></i></li>
                                                            </ul>
                                                        </td>
                                                        <td
                                                            class="py-28 px-20 shadow-none line-height-1 fw-normal text-14 text-neutral-500">
                                                            {{ project.totalReviews }}
                                                        </td>
                                                    </tr>
                                                </tbody>


                                            </table>
                                        </div>

                                    </div>
                                </div>




                            </div>

                            <div class="d-flex align-items-center gap-24 justify-content-between flex-wrap">
                                <div class="form-check form-switch d-flex align-items-center gap-12">
                                    <input class="form-check-input focus-box-shadow w-60 h-32 line-height-1"
                                        type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                    <label class="form-check-label text-14 fw-normal text-neutral-500 line-height-1"
                                        for="flexSwitchCheckDefault">Dense</label>
                                </div>
                                <div class="d-flex align-items-center gap-40 flex-wrap">

                                    <div class="d-flex align-items-center gap-16">
                                        <span class="fw-normal text-14 text-neutral-500">Rows per page:</span>
                                        <select
                                            class="form-select w-auto pe-32 text-14 fw-normal text-neutral-500 bg-transparent border-0">
                                            <option value="1">12</option>
                                            <option value="1">13</option>
                                            <option value="1">11</option>
                                            <option value="1">15</option>
                                        </select>
                                    </div>

                                    <div class="d-flex align-items-center gap-16">
                                        <span class="fw-normal text-14 text-neutral-500">1-12 of 100</span>
                                        <div class="d-flex align-items-center gpa-8">
                                            <span class="text-16 text-neutral-500">
                                                <i class="ph-bold ph-caret-left"></i>
                                            </span>
                                            <span class="text-16 text-neutral-500">
                                                <i class="ph-bold ph-caret-right"></i>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- =====dashbord body item end===== -->

            <!-- =========message profile footer start============== -->
            <div class="bg-neutral-20 border-neutral-40 border-top px-24 py-16 mt-auto">
                <div class="d-flex align-items-center gap-24 justify-content-between flex-wrap">
                    <p class="fw-medium text-14 text-neutral-500">
                        Copyright ©2025
                        <a [routerLink]="['/admin-dashbord']" class="text-main-600 fw-medium">EduAll</a>.
                        All Rights Reserved
                    </p>
                    <div class="d-flex align-items-center gap-24">
                        <a [routerLink]="['/#']" class="fw-medium text-14 text-neutral-500 hover-text-main-600">Privacy
                            policy</a>
                        <a [routerLink]="['/#']" class="fw-medium text-14 text-neutral-500 hover-text-main-600">Privacy
                            policy</a>
                    </div>
                </div>
            </div>
            <!-- =========message profile footer end============== -->
        </div>

    </div>
</div>